openapi: 3.2.0
info:
  title: Social Fetch Public Twitter API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Twitter
paths:
  /v1/twitter/profiles/{handle}:
    get:
      tags:
      - Twitter
      summary: Get Twitter profile
      description: Get an X (Twitter) profile by handle.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          description: X handle to look up, with or without a leading @.
        required: true
        description: X handle to look up, with or without a leading @.
        name: handle
        in: path
      responses:
        '200':
          description: Twitter profile lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - private
                        - not_found
                        description: Whether the profile was resolved.
                      profile:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - twitter
                            description: Social platform for this profile.
                          handle:
                            type: string
                            description: X screen name (handle) without the leading @.
                          displayName:
                            type:
                            - string
                            - 'null'
                            description: Display name shown on the profile.
                          bio:
                            type:
                            - string
                            - 'null'
                            description: Profile biography text.
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                            description: Best available square avatar image URL.
                          bannerUrl:
                            type:
                            - string
                            - 'null'
                            description: Profile banner image URL when available.
                          verified:
                            type: boolean
                            description: Whether X marks the profile with legacy verification (not necessarily paid blue).
                          blueVerified:
                            type: boolean
                            description: Whether the account has X blue (paid) verification.
                          profileUrl:
                            type: string
                            minLength: 1
                            description: Canonical public profile URL on x.com.
                          privateAccount:
                            type: boolean
                            description: Whether the account is protected (private).
                          platformUserId:
                            type: string
                            description: Numeric X user id (`rest_id`) as a string.
                          accountCreatedAt:
                            type: string
                            format: date-time
                            description: Account creation time (ISO-8601) when derivable.
                          location:
                            type:
                            - string
                            - 'null'
                            description: Location string from the profile when provided.
                          website:
                            type:
                            - string
                            - 'null'
                            description: Primary outbound link (expanded URL) from the profile.
                          pinnedTweetId:
                            type: string
                            description: Pinned tweet id when X exposes one.
                          verificationInfo:
                            type: object
                            properties:
                              isIdentityVerified:
                                type: boolean
                                description: Whether X marks the account as identity-verified.
                              verifiedSinceMsec:
                                type: string
                                description: When verification became effective, as milliseconds since epoch (string from X).
                              reason:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    description: Human-readable verification reason text from X.
                                  entities:
                                    type: array
                                    items: {}
                                    description: Inline entity metadata for the reason text (vendor-defined).
                                description: Verification reason payload when X provides it.
                            required:
                            - isIdentityVerified
                            description: Structured verification metadata from X.
                          tipJar:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                description: Whether the X tip jar is enabled.
                              handles:
                                type: object
                                properties:
                                  bandcamp:
                                    type: string
                                    description: Bandcamp handle from tip jar.
                                  bitcoin:
                                    type: string
                                    description: Bitcoin address or handle.
                                  cashApp:
                                    type: string
                                    description: Cash App handle.
                                  ethereum:
                                    type: string
                                    description: Ethereum address or handle.
                                  goFundMe:
                                    type: string
                                    description: GoFundMe handle.
                                  patreon:
                                    type: string
                                    description: Patreon handle.
                                  payPal:
                                    type: string
                                    description: PayPal handle.
                                  venmo:
                                    type: string
                                    description: Venmo handle.
                                description: Per-service handles when any are present.
                            required:
                            - isEnabled
                            description: Tip jar configuration when present.
                          highlights:
                            type: object
                            properties:
                              canHighlightTweets:
                                type: boolean
                                description: Whether the account may highlight tweets on the profile.
                              highlightedTweetCount:
                                type: integer
                                minimum: 0
                                description: Count of highlighted tweets when reported by X.
                            required:
                            - canHighlightTweets
                            - highlightedTweetCount
                            description: Tweet highlights metadata when present.
                          businessAccount:
                            type: object
                            additionalProperties: {}
                            description: Opaque business-account payload from X when non-empty (vendor-defined).
                          creatorSubscriptionsCount:
                            type: integer
                            minimum: 0
                            description: Creator subscriptions count when X reports it.
                          affiliateLabel:
                            type: object
                            properties:
                              description:
                                type: string
                                description: Affiliate or business label text shown on the profile.
                              badgeUrl:
                                type: string
                                description: Badge image URL when X provides one.
                              url:
                                type: string
                                description: Destination URL for the label link.
                            required:
                            - description
                            description: Affiliate or business label when X provides one.
                        required:
                        - platform
                        - handle
                        - displayName
                        - bio
                        - avatarUrl
                        - verified
                        - blueVerified
                        - profileUrl
                        - privateAccount
                        description: Profile details when available.
                      metrics:
                        type:
                        - object
                        - 'null'
                        properties:
                          followers:
                            type: integer
                            minimum: 0
                            description: Follower count from X.
                          following:
                            type: integer
                            minimum: 0
                            description: Following (friends) count from X.
                          tweets:
                            type: integer
                            minimum: 0
                            description: Total post (status) count from X.
                          favourites:
                            type: integer
                            minimum: 0
                            description: Total favourites (likes) count from X.
                          listedCount:
                            type: integer
                            minimum: 0
                            description: Listed count when X provides it.
                          mediaCount:
                            type: integer
                            minimum: 0
                            description: Media item count when X provides it.
                          fastFollowersCount:
                            type: integer
                            minimum: 0
                            description: Fast-followers count when X provides it.
                        required:
                        - followers
                        - following
                        - tweets
                        - favourites
                        description: Profile metrics when available.
                    required:
                    - lookupStatus
                    - profile
                    - metrics
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      profile:
                        platform: twitter
                        handle: elonmusk
                        displayName: Elon Musk
                        bio: https://t.co/dDtDyVssfm
                        avatarUrl: https://pbs.twimg.com/profile_images/2053244804520427520/m8mdWZCG_400x400.jpg
                        bannerUrl: https://pbs.twimg.com/profile_banners/44196397/1774145451
                        verified: false
                        blueVerified: true
                        profileUrl: https://x.com/elonmusk
                        privateAccount: false
                        platformUserId: '44196397'
                        accountCreatedAt: '2009-06-02T20:12:29.000Z'
                        location: null
                        website: null
                        pinnedTweetId: '2055294612751991090'
                        verificationInfo:
                          isIdentityVerified: false
                          verifiedSinceMsec: '-156836000000000'
                          reason:
                            text: This account is verified because it's an affiliate of @X on X. Learn more
                            entities:
                            - from_index: 54
                              ref:
                                url: https://twitter.com/X
                                url_type: ExternalUrl
                              to_index: 56
                            - from_index: 63
                              ref:
                                url: https://help.twitter.com/en/rules-and-policies/profile-labels
                                url_type: ExternalUrl
                              to_index: 73
                        tipJar:
                          isEnabled: false
                        highlights:
                          canHighlightTweets: true
                          highlightedTweetCount: 992
                        creatorSubscriptionsCount: 242
                        affiliateLabel:
                          description: X
                          badgeUrl: https://pbs.twimg.com/profile_images/1955359038532653056/OSHY3ewP_bigger.jpg
                          url: https://twitter.com/X
                      metrics:
                        followers: 239969577
                        following: 1332
                        tweets: 102641
                        favourites: 227794
                        listedCount: 169024
                        mediaCount: 4489
                        fastFollowersCount: 0
                    meta:
                      requestId: req_663e3c24-faae-4481-b8c0-5ea403d434ff
                      creditsCharged: 1
                      version: v1
                private:
                  value:
                    data:
                      lookupStatus: private
                      profile:
                        platform: twitter
                        handle: lukem1221
                        displayName: Luke
                        bio: null
                        avatarUrl: https://pbs.twimg.com/profile_images/1999456116619771904/rmqNgqiu_400x400.jpg
                        bannerUrl: null
                        verified: false
                        blueVerified: false
                        profileUrl: https://x.com/lukem1221
                        privateAccount: true
                        platformUserId: '761228485981528065'
                        accountCreatedAt: '2016-08-04T15:53:09.000Z'
                        location: null
                        website: https://www.voicegecko.io/
                        verificationInfo:
                          isIdentityVerified: false
                        tipJar:
                          isEnabled: false
                        highlights:
                          canHighlightTweets: false
                          highlightedTweetCount: 0
                        creatorSubscriptionsCount: 0
                      metrics:
                        followers: 115
                        following: 97
                        tweets: 47
                        favourites: 48
                        listedCount: 3
                        mediaCount: 5
                        fastFollowersCount: 0
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      profile: null
                      metrics: null
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid handle or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1TwitterProfilesByHandle
      x-operation-id-source: derived
  /v1/twitter/profiles/{handle}/tweets:
    get:
      tags:
      - Twitter
      summary: List Twitter profile tweets
      description: List tweets from an X profile by handle.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 2
        surcharges: []
        maxCredits: 2
        normalizationFailureCredits: 2
      x-socialfetch-credits-pricing: 2 credits per successful request.
      parameters:
      - schema:
          type: string
          description: X handle to look up, with or without a leading @.
        required: true
        description: X handle to look up, with or without a leading @.
        name: handle
        in: path
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          description: 'Page size (maximum 100). Default: 40.'
        required: false
        description: 'Page size (maximum 100). Default: 40.'
        name: limit
        in: query
      - schema:
          type: string
          minLength: 1
          description: Opaque pagination cursor returned by a previous response.
        required: false
        description: Opaque pagination cursor returned by a previous response.
        name: cursor
        in: query
      - schema:
          type: boolean
          description: 'Include reply tweets in the returned list. Default: false.'
        required: false
        description: 'Include reply tweets in the returned list. Default: false.'
        name: includeReplies
        in: query
      - schema:
          type: boolean
          description: 'Include pinned tweets on the first page. Default: false.'
        required: false
        description: 'Include pinned tweets on the first page. Default: false.'
        name: includePinned
        in: query
      responses:
        '200':
          description: Tweets for the requested profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether tweet data was returned for this handle.
                      profile:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - twitter
                            description: Social platform for this profile.
                          handle:
                            type: string
                            minLength: 1
                            description: Screen name without @.
                          displayName:
                            type:
                            - string
                            - 'null'
                            description: Display name for the profile.
                          bio:
                            type:
                            - string
                            - 'null'
                            description: Profile bio when reported by the upstream provider.
                          location:
                            type:
                            - string
                            - 'null'
                            description: Profile location when reported by the upstream provider.
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                            description: Best available square avatar URL.
                          bannerUrl:
                            type:
                            - string
                            - 'null'
                            description: Profile banner image URL when available.
                          verified:
                            type: boolean
                            description: Legacy verified flag from X.
                          blueVerified:
                            type: boolean
                            description: Paid blue verification flag from X.
                          profileUrl:
                            type: string
                            minLength: 1
                            description: Canonical profile URL on x.com.
                          platformUserId:
                            type: string
                            description: Numeric user id as a string.
                        required:
                        - platform
                        - handle
                        - displayName
                        - bio
                        - location
                        - avatarUrl
                        - bannerUrl
                        - verified
                        - blueVerified
                        - profileUrl
                        description: Profile card derived from the first returned tweet when available; null when not found or when no tweet rows include author data.
                      tweets:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Tweet id.
                            url:
                              type:
                              - string
                              - 'null'
                              description: Canonical public URL for the tweet when available.
                            text:
                              type: string
                              description: Full tweet text when available.
                            createdAt:
                              type: string
                              format: date-time
                              description: Creation time (ISO-8601).
                            createdAtLabel:
                              type:
                              - string
                              - 'null'
                              description: Human-readable creation timestamp string when available.
                            language:
                              type:
                              - string
                              - 'null'
                              description: Language code for the tweet when available.
                            conversationId:
                              type:
                              - string
                              - 'null'
                              minLength: 1
                              description: Conversation identifier when supplied.
                            inReplyToStatusId:
                              type:
                              - string
                              - 'null'
                              minLength: 1
                              description: Parent post identifier when this post is a reply.
                            quotedStatusId:
                              type:
                              - string
                              - 'null'
                              minLength: 1
                              description: Quoted post identifier when this post quotes another.
                            retweetTweetId:
                              type:
                              - string
                              - 'null'
                              minLength: 1
                              description: Original post identifier when this post is an engagement repost.
                            author:
                              type:
                              - object
                              - 'null'
                              properties:
                                handle:
                                  type: string
                                  minLength: 1
                                  description: Author handle without the leading @.
                                displayName:
                                  type:
                                  - string
                                  - 'null'
                                  description: Display name shown for the author.
                                avatarUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: Profile image URL for the author when available.
                                profileUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: Canonical public profile URL for the author when available.
                                verified:
                                  type: boolean
                                  description: Whether the author has legacy verification on X.
                                blueVerified:
                                  type: boolean
                                  description: Whether the author has paid blue verification on X.
                                platformUserId:
                                  type: string
                                  description: Numeric X user id for the author as a string.
                              required:
                              - handle
                              - displayName
                              - avatarUrl
                              - profileUrl
                              - verified
                              - blueVerified
                              description: Author metadata for the tweet when available.
                            metrics:
                              type: object
                              properties:
                                likes:
                                  type: integer
                                  minimum: 0
                                  description: Like count.
                                retweets:
                                  type: integer
                                  minimum: 0
                                  description: Retweet count.
                                replies:
                                  type: integer
                                  minimum: 0
                                  description: Reply count.
                                quotes:
                                  type: integer
                                  minimum: 0
                                  description: Quote count.
                                views:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: View count when available.
                                bookmarkCount:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Bookmark count when available.
                              required:
                              - likes
                              - retweets
                              - replies
                              - quotes
                              - views
                              - bookmarkCount
                              description: Engagement metrics for a tweet.
                            media:
                              type: array
                              items:
                                type: object
                                properties:
                                  url:
                                    type: string
                                    minLength: 1
                                    description: Direct media URL when available.
                                  type:
                                    type: string
                                    enum:
                                    - photo
                                    - video
                                    description: Media type when Social Fetch can classify it confidently.
                                  thumbnailUrl:
                                    type: string
                                    minLength: 1
                                    description: Poster or thumbnail URL for video media when distinguishable.
                                  contentType:
                                    type: string
                                    minLength: 1
                                    description: MIME type reported for streamed media.
                                  bitrate:
                                    type: integer
                                    minimum: 0
                                    description: Bitrate in bits per second when supplied for streamed media.
                                  width:
                                    type: integer
                                    minimum: 0
                                    description: Width in pixels when available.
                                  height:
                                    type: integer
                                    minimum: 0
                                    description: Height in pixels when available.
                                required:
                                - url
                                - type
                                description: Media attachment on a tweet.
                              description: Media attachments returned for the tweet.
                            expandedUrl:
                              type:
                              - string
                              - 'null'
                              description: Expanded URL attached to the tweet when available.
                            isRetweet:
                              type: boolean
                              description: Whether the tweet is marked as a retweet.
                            isReply:
                              type: boolean
                              default: false
                              description: Whether the tweet is a reply to another post.
                            isQuote:
                              type: boolean
                              default: false
                              description: Whether the tweet quotes another post.
                            source:
                              type:
                              - string
                              - 'null'
                              description: Source label such as `Twitter Web App` when available.
                          required:
                          - id
                          - url
                          - text
                          - createdAt
                          - createdAtLabel
                          - language
                          - conversationId
                          - inReplyToStatusId
                          - quotedStatusId
                          - retweetTweetId
                          - author
                          - metrics
                          - media
                          - expandedUrl
                          - isRetweet
                          - source
                          description: A normalized Twitter post item.
                        description: Tweets returned for the requested profile page. May be empty when `lookupStatus` is `found` and no eligible tweets are returned, or when `lookupStatus` is `not_found`.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass as `cursor` in the next request when another page exists.
                          hasMore:
                            type: boolean
                            description: Whether another page can be requested.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination information for the current response.
                    required:
                    - lookupStatus
                    - profile
                    - tweets
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      profile:
                        platform: twitter
                        handle: TTrimoreau
                        displayName: Thomas Trimoreau
                        bio: null
                        location: null
                        avatarUrl: https://pbs.twimg.com/profile_images/2016450892006883328/8erNdoxt_normal.jpg
                        bannerUrl: null
                        verified: false
                        blueVerified: true
                        profileUrl: https://x.com/TTrimoreau
                        platformUserId: '1480815621076049920'
                      tweets:
                      - id: '2071025589574647913'
                        url: https://x.com/TTrimoreau/status/2071025589574647913
                        text: anyone still using Cursor?
                        createdAt: '2026-06-28T00:19:13.000Z'
                        createdAtLabel: Sun Jun 28 00:19:13 +0000 2026
                        language: en
                        conversationId: '2071025589574647913'
                        inReplyToStatusId: null
                        quotedStatusId: null
                        retweetTweetId: null
                        author:
                          handle: TTrimoreau
                          displayName: Thomas Trimoreau
                          avatarUrl: https://pbs.twimg.com/profile_images/2016450892006883328/8erNdoxt_normal.jpg
                          profileUrl: https://x.com/TTrimoreau
                          verified: false
                          blueVerified: true
                          platformUserId: '1480815621076049920'
                        metrics:
                          likes: 27
                          retweets: 1
                          replies: 29
                          quotes: 1
                          views: 2311
                          bookmarkCount: 0
                        media: []
                        expandedUrl: null
                        isRetweet: false
                        source: Twitter for iPhone
                      page:
                        nextCursor: eyJjIjoiREFBSENnQUJITDN3SjNHX18tc0xBQUlBQUFBVE1qQTNNRFEwTmprNE5UUXhOemN5T0RJNU9BZ0FBd0FBQUFJQUFBIiwiaCI6IlRUcmltb3JlYXUiLCJsIjo0MCwiciI6ZmFsc2UsInAiOmZhbHNlfQ
                        hasMore: true
                    meta:
                      requestId: req_01example_found
                      creditsCharged: 2
                      version: v1
                empty:
                  value:
                    data:
                      lookupStatus: found
                      profile: null
                      tweets: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_empty
                      creditsCharged: 2
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      profile: null
                      tweets: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_nf
                      creditsCharged: 2
                      version: v1
        '400':
          description: Invalid handle, cursor, or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1TwitterProfilesByHandleTweets
      x-operation-id-source: derived
  /v1/twitter/tweets:
    get:
      tags:
      - Twitter
      summary: Get Twitter tweet
      description: Get a single tweet by URL.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Tweet permalink or identifier.
        required: true
        description: Tweet permalink or identifier.
        name: url
        in: query
      - schema:
          type: boolean
          description: 'Optional: omit author profile and tweet `core` for a smaller response.'
        required: false
        description: 'Optional: omit author profile and tweet `core` for a smaller response.'
        name: trim
        in: query
      responses:
        '200':
          description: Tweet details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the tweet was found or unavailable.
                      author:
                        type:
                        - object
                        - 'null'
                        properties:
                          profile:
                            type: object
                            properties:
                              platform:
                                type: string
                                enum:
                                - twitter
                                description: Social platform for this profile.
                              handle:
                                type: string
                                description: X screen name (handle) without the leading @.
                              displayName:
                                type:
                                - string
                                - 'null'
                                description: Display name shown on the profile.
                              bio:
                                type:
                                - string
                                - 'null'
                                description: Profile biography text.
                              avatarUrl:
                                type:
                                - string
                                - 'null'
                                description: Best available square avatar image URL.
                              bannerUrl:
                                type:
                                - string
                                - 'null'
                                description: Profile banner image URL when available.
                              verified:
                                type: boolean
                                description: Whether X marks the profile with legacy verification (not necessarily paid blue).
                              blueVerified:
                                type: boolean
                                description: Whether the account has X blue (paid) verification.
                              profileUrl:
                                type: string
                                minLength: 1
                                description: Canonical public profile URL on x.com.
                              privateAccount:
                                type: boolean
                                description: Whether the account is protected (private).
                              platformUserId:
                                type: string
                                description: Numeric X user id (`rest_id`) as a string.
                              accountCreatedAt:
                                type: string
                                format: date-time
                                description: Account creation time (ISO-8601) when derivable.
                              location:
                                type:
                                - string
                                - 'null'
                                description: Location string from the profile when provided.
                              website:
                                type:
                                - string
                                - 'null'
                                description: Primary outbound link (expanded URL) from the profile.
                              pinnedTweetId:
                                type: string
                                description: Pinned tweet id when X exposes one.
                              verificationInfo:
                                type: object
                                properties:
                                  isIdentityVerified:
                                    type: boolean
                                    description: Whether X marks the account as identity-verified.
                                  verifiedSinceMsec:
                                    type: string
                                    description: When verification became effective, as milliseconds since epoch (string from X).
                                  reason:
                                    type: object
                                    properties:
                                      text:
                                        type: string
                                        description: Human-readable verification reason text from X.
                                      entities:
                                        type: array
                                        items: {}
                                        description: Inline entity metadata for the reason text (vendor-defined).
                                    description: Verification reason payload when X provides it.
                                required:
                                - isIdentityVerified
                                description: Structured verification metadata from X.
                              tipJar:
                                type: object
                                properties:
                                  isEnabled:
                                    type: boolean
                                    description: Whether the X tip jar is enabled.
                                  handles:
                                    type: object
                                    properties:
                                      bandcamp:
                                        type: string
                                        description: Bandcamp handle from tip jar.
                                      bitcoin:
                                        type: string
                                        description: Bitcoin address or handle.
                                      cashApp:
                                        type: string
                                        description: Cash App handle.
                                      ethereum:
                                        type: string
                                        description: Ethereum address or handle.
                                      goFundMe:
                                        type: string
                                        description: GoFundMe handle.
                                      patreon:
                                        type: string
                                        description: Patreon handle.
                                      payPal:
                                        type: string
                                        description: PayPal handle.
                                      venmo:
                                        type: string
                                        description: Venmo handle.
                                    description: Per-service handles when any are present.
                                required:
                                - isEnabled
                                description: Tip jar configuration when present.
                              highlights:
                                type: object
                                properties:
                                  canHighlightTweets:
                                    type: boolean
                                    description: Whether the account may highlight tweets on the profile.
                                  highlightedTweetCount:
                                    type: integer
                                    minimum: 0
                                    description: Count of highlighted tweets when reported by X.
                                required:
                                - canHighlightTweets
                                - highlightedTweetCount
                                description: Tweet highlights metadata when present.
                              businessAccount:
                                type: object
                                additionalProperties: {}
                                description: Opaque business-account payload from X when non-empty (vendor-defined).
                              creatorSubscriptionsCount:
                                type: integer
                                minimum: 0
                                description: Creator subscriptions count when X reports it.
                              affiliateLabel:
                                type: object
                                properties:
                                  description:
                                    type: string
                                    description: Affiliate or business label text shown on the profile.
                                  badgeUrl:
                                    type: string
                                    description: Badge image URL when X provides one.
                                  url:
                                    type: string
                                    description: Destination URL for the label link.
                                required:
                                - description
                                description: Affiliate or business label when X provides one.
                            required:
                            - platform
                            - handle
                            - displayName
                            - bio
                            - avatarUrl
                            - verified
                            - blueVerified
                            - profileUrl
                            - privateAccount
                            description: Profile fields for the tweet author.
                          metrics:
                            type: object
                            properties:
                              followers:
                                type: integer
                                minimum: 0
                                description: Follower count from X.
                              following:
                                type: integer
                                minimum: 0
                                description: Following (friends) count from X.
                              tweets:
                                type: integer
                                minimum: 0
                                description: Total post (status) count from X.
                              favourites:
                                type: integer
                                minimum: 0
                                description: Total favourites (likes) count from X.
                              listedCount:
                                type: integer
                                minimum: 0
                                description: Listed count when X provides it.
                              mediaCount:
                                type: integer
                                minimum: 0
                                description: Media item count when X provides it.
                              fastFollowersCount:
                                type: integer
                                minimum: 0
                                description: Fast-followers count when X provides it.
                            required:
                            - followers
                            - following
                            - tweets
                            - favourites
                            description: Aggregate counts for the tweet author.
                        required:
                        - profile
                        - metrics
                        description: Author profile and metrics when not trimmed; null when `trim=true` or when not found.
                      tweet:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: string
                            minLength: 1
                            description: Tweet id (`rest_id`).
                          url:
                            type: string
                            minLength: 1
                            description: Canonical public URL for this tweet on x.com.
                          conversationId:
                            type: string
                            minLength: 1
                            description: Conversation root tweet id.
                          createdAt:
                            type: string
                            format: date-time
                            description: Creation time (ISO-8601).
                          language:
                            type: string
                            minLength: 1
                            description: BCP 47 or X language code.
                          text:
                            type: string
                            description: Full tweet text (includes long-form when available).
                          isLongForm:
                            type: boolean
                            description: True when text was taken from note_tweet metadata instead of legacy.full_text alone.
                          displayTextRange:
                            type: array
                            items:
                              type: integer
                              minimum: 0
                            minItems: 2
                            maxItems: 2
                            description: Start/end character indices for visible text.
                          metrics:
                            type: object
                            properties:
                              views:
                                type: integer
                                minimum: 0
                                description: Impression count when reported by X.
                              favorites:
                                type: integer
                                minimum: 0
                                description: Favorite (like) count.
                              retweets:
                                type: integer
                                minimum: 0
                                description: Native repost count.
                              replies:
                                type: integer
                                minimum: 0
                                description: Reply count.
                              bookmarks:
                                type: integer
                                minimum: 0
                                description: Bookmark count.
                              quotes:
                                type: integer
                                minimum: 0
                                description: Quote tweet count.
                            required:
                            - views
                            - favorites
                            - retweets
                            - replies
                            - bookmarks
                            - quotes
                            description: Engagement metrics for a tweet.
                          media:
                            type: array
                            items:
                              anyOf:
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - photo
                                  id:
                                    type: string
                                    minLength: 1
                                    description: Media id string.
                                  url:
                                    type: string
                                    minLength: 1
                                    description: Short t.co URL for this media.
                                  displayUrl:
                                    type: string
                                    minLength: 1
                                    description: Display URL shown in the tweet.
                                  expandedUrl:
                                    type: string
                                    minLength: 1
                                    description: Expanded destination URL.
                                  mediaUrlHttps:
                                    type: string
                                    minLength: 1
                                    description: HTTPS URL for the media asset.
                                  sizes:
                                    type: object
                                    properties:
                                      thumb:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Thumbnail size.
                                      small:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Small variant.
                                      medium:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Medium variant.
                                      large:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Large variant.
                                    required:
                                    - thumb
                                    - small
                                    - medium
                                    - large
                                    description: Per-label media dimensions from X.
                                  originalInfo:
                                    type: object
                                    properties:
                                      width:
                                        type: integer
                                        minimum: 0
                                      height:
                                        type: integer
                                        minimum: 0
                                    required:
                                    - width
                                    - height
                                    description: Original pixel dimensions.
                                required:
                                - type
                                - id
                                - url
                                - displayUrl
                                - expandedUrl
                                - mediaUrlHttps
                                - sizes
                                - originalInfo
                                description: Photo attachment on a tweet.
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - video
                                    - animated_gif
                                    description: Video or MP4-based animated GIF.
                                  id:
                                    type: string
                                    minLength: 1
                                    description: Media id string.
                                  url:
                                    type: string
                                    minLength: 1
                                    description: Short t.co URL for this media.
                                  displayUrl:
                                    type: string
                                    minLength: 1
                                    description: Display URL shown in the tweet.
                                  expandedUrl:
                                    type: string
                                    minLength: 1
                                    description: Expanded destination URL.
                                  mediaUrlHttps:
                                    type: string
                                    minLength: 1
                                    description: HTTPS URL for the poster or media.
                                  sizes:
                                    type: object
                                    properties:
                                      thumb:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Thumbnail size.
                                      small:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Small variant.
                                      medium:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Medium variant.
                                      large:
                                        type: object
                                        properties:
                                          h:
                                            type: integer
                                            minimum: 0
                                          w:
                                            type: integer
                                            minimum: 0
                                          resize:
                                            type: string
                                            minLength: 1
                                        required:
                                        - h
                                        - w
                                        - resize
                                        description: Large variant.
                                    required:
                                    - thumb
                                    - small
                                    - medium
                                    - large
                                    description: Per-label media dimensions from X.
                                  originalInfo:
                                    type: object
                                    properties:
                                      width:
                                        type: integer
                                        minimum: 0
                                      height:
                                        type: integer
                                        minimum: 0
                                    required:
                                    - width
                                    - height
                                    description: Original pixel dimensions.
                                  variants:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        contentType:
                                          type: string
                                          minLength: 1
                                          description: MIME type of the variant.
                                        url:
                                          type: string
                                          minLength: 1
                                          description: Direct URL for this variant.
                                        bitrate:
                                          type: integer
                                          minimum: 0
                                          description: Bitrate in bits per second when present (omitted for HLS).
                                      required:
                                      - contentType
                                      - url
                                      description: A downloadable or streamable media variant.
                                    minItems: 1
                                    description: Stream or download variants (mp4, HLS, etc.).
                                  durationMs:
                                    type: integer
                                    minimum: 0
                                    description: Duration in milliseconds when known.
                                  aspectRatio:
                                    type: array
                                    items:
                                      type: integer
                                      exclusiveMinimum: 0
                                    minItems: 2
                                    maxItems: 2
                                    description: Width:height ratio tuple when provided by X.
                                required:
                                - type
                                - id
                                - url
                                - displayUrl
                                - expandedUrl
                                - mediaUrlHttps
                                - sizes
                                - originalInfo
                                - variants
                                description: Video or animated GIF attachment.
                            description: Photo, video, or GIF attachments.
                          entities:
                            type: object
                            properties:
                              hashtags:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    text:
                                      type: string
                                      description: 'Hashtag text without #.'
                                  required:
                                  - text
                                  description: A hashtag entity.
                                description: Hashtag entities.
                              userMentions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    handle:
                                      type: string
                                      minLength: 1
                                      description: Mentioned screen name.
                                    displayName:
                                      type: string
                                      description: Display name when available.
                                    platformUserId:
                                      type: string
                                      description: Numeric user id for the mention when available.
                                  required:
                                  - handle
                                  description: A user mention entity.
                                description: User mention entities.
                              urls:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      minLength: 1
                                      description: Short URL as it appears in text.
                                    displayUrl:
                                      type: string
                                      minLength: 1
                                      description: Human-readable display host/path.
                                    expandedUrl:
                                      type: string
                                      minLength: 1
                                      description: Fully expanded destination URL.
                                  required:
                                  - url
                                  - displayUrl
                                  - expandedUrl
                                  description: A URL entity.
                                description: URL entities.
                              symbols:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    text:
                                      type: string
                                      minLength: 1
                                      description: Cashtag or symbol text.
                                  required:
                                  - text
                                  description: A symbol/cashtag entity.
                                description: Symbol entities.
                            required:
                            - hashtags
                            - userMentions
                            - urls
                            - symbols
                            description: Entities aligned with `text`.
                          isReply:
                            type: boolean
                            description: Whether this is a reply.
                          inReplyToTweetId:
                            type: string
                            description: Parent tweet id when replying.
                          inReplyToUserId:
                            type: string
                            description: Parent author user id when replying.
                          inReplyToScreenName:
                            type: string
                            description: Parent author handle when replying.
                          isQuote:
                            type: boolean
                            description: Whether this tweet quotes another.
                          quotedTweetId:
                            type: string
                            description: Quoted tweet id when present.
                          isRetweet:
                            type: boolean
                            description: Whether this is a native repost.
                          retweetedTweetId:
                            type: string
                            description: Original tweet id for a repost.
                          possiblySensitive:
                            type: boolean
                            description: Whether X marks the content sensitive.
                          editInfo:
                            type: object
                            properties:
                              editTweetIds:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Tweet ids in this edit chain.
                              editableUntilMsec:
                                type: string
                                description: Epoch milliseconds until edits are locked.
                              isEditEligible:
                                type: boolean
                                description: Whether the tweet can still be edited.
                              editsRemaining:
                                type: string
                                description: Remaining edits in the window, as reported by X.
                            required:
                            - editTweetIds
                            - editableUntilMsec
                            - isEditEligible
                            - editsRemaining
                            description: Edit metadata when applicable.
                          source:
                            type: string
                            description: Client label text.
                          sourceUrl:
                            type: string
                            description: Link target from the source anchor when present.
                          quotedTweet:
                            type: object
                            properties:
                              id:
                                type: string
[...]
