openapi: 3.2.0
info:
  title: Social Fetch Public Reddit API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Reddit
paths:
  /v1/reddit/subreddits:
    get:
      tags:
      - Reddit
      summary: Get Reddit subreddit
      description: Get details for a Reddit community (subreddit).
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 256
          description: Subreddit name, optional `r/` prefix, or Reddit subreddit URL. Must match Reddit's exact casing.
        required: false
        description: Subreddit name, optional `r/` prefix, or Reddit subreddit URL. Must match Reddit's exact casing.
        name: subreddit
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Optional subreddit URL for the request.
        required: false
        description: Optional subreddit URL for the request.
        name: url
        in: query
      responses:
        '200':
          description: Subreddit lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the subreddit was found.
                      subreddit:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - reddit
                            description: Social platform for this subreddit.
                          name:
                            type: string
                            description: Public subreddit name.
                          subredditId:
                            type: string
                            description: Stable subreddit identifier when available.
                          url:
                            type: string
                            minLength: 1
                            description: Canonical public subreddit URL.
                          description:
                            type:
                            - string
                            - 'null'
                            description: Subreddit description text when available.
                          rules:
                            type:
                            - string
                            - 'null'
                            description: Subreddit rules text when available.
                          iconUrl:
                            type:
                            - string
                            - 'null'
                            description: Subreddit icon image URL when available.
                          bannerUrl:
                            type:
                            - string
                            - 'null'
                            description: Subreddit banner image URL when available.
                          advertiserCategory:
                            type:
                            - string
                            - 'null'
                            description: Advertiser category label when available.
                          submitText:
                            type:
                            - string
                            - 'null'
                            description: Submission guidance text shown to members when available.
                          createdAt:
                            type:
                            - string
                            - 'null'
                            description: Subreddit creation timestamp when available.
                        required:
                        - platform
                        - name
                        - url
                        - description
                        - rules
                        - iconUrl
                        - bannerUrl
                        - createdAt
                        description: Subreddit details when available.
                      metrics:
                        type:
                        - object
                        - 'null'
                        properties:
                          subscribers:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Subscriber count when available.
                          weeklyActiveUsers:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Approximate weekly active users when available.
                          weeklyContributions:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Approximate weekly contributions when available.
                        required:
                        - subscribers
                        - weeklyActiveUsers
                        - weeklyContributions
                        description: Subreddit metrics when available.
                    required:
                    - lookupStatus
                    - subreddit
                    - metrics
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      subreddit:
                        platform: reddit
                        name: AbsoluteUnits
                        subredditId: t5_a7wuv
                        url: https://www.reddit.com/r/AbsoluteUnits/
                        description: 'Absolute Unit : an Animal or Public Figure, who is larger than we should normally expect.'
                        rules: "#ABSOLUTE UNITS\n\n---\n\n    Be in awe at the size of these lads\n\n---\n\n###[Check out our deep, well-reflected definitions of an absolute unit.](https://www.reddit.com/r/AbsoluteUnits/wiki/index)  \n\n---\n\n#RULES:\n\n###Posting\n\n\n####1) Post Absolute Units only.\n\n -  **Only Absolute Units are allowed**. **No normal units**.  \n\n [See definition here](https://www.reddit.com/r/AbsoluteUnits/wiki/definition).\n\n -  **Post absolute units, not actual units**\n\n Absolute units only.  Not measuring units.   It was punny the first time, now it's old. Straight out bans will be handed. \n\n\n - **No Photoshopped Units**\n\n Only real absolute units are allowed. No AI, art, cartoon, edited or video game units.\n \n#### 2) Post public figures only\n\n- **No creepshots / No fat shaming pics allowed / No female bodybuilders**\n\n We're looking for animals mostly, particularly cute animals which happen to be very large. Only public figures are allowed; no harassment, creep-shots, witch-hunts, fat-shaming is allowed. Female bodybuilders are expressly forbidden and anyone making transphobic comments will be permanently banned. **Identify the public figure in the title. Don't assume they are well known**\n\n\n#### 3) No NSFW posts\n\n- **No NSFW and NSFL content** \n\n This includes content that is sexual in nature, gory, anything unpalatable to the eyes.  \n\n- **Don't post pictures of private parts**\n\n Honestly, nobody comes here to see magnum dongs. Just don't.\n\n- **Don't post pictures of shit**\n\n No one wants to see that.  No dung, no dong. Dings are allowed.     \n\n#### 4) No Recent or Common reposts\n\n  - Frequent reposts or those from last 60 days or top 50 posts of all time will be removed.\n\n  - Moderators reserve the right to remove any posts they feel will improve the quality of this sub\n\n\n\n\n###Commenting\n\n####5) Be nice.  \n\n - **There's no reason to be an unfriendly unit**.\n\n -  **Excessively derogatory comments are not allowed**.\n\n - **Toxic behavior of any kind is banned**.\n\n - **Follow the site-wide rules / general [Rediquette](https://reddit.zendesk.com/hc/en-us/articles/205926439-Reddiquette)**\n\n####6) No doxing or brigading \n\n - **No witch hunts**.\n\n - **Do not direct link any personal information or social media profiles**.\n\n - **No brigading to or from any other threads, whether on or off Reddit**.     \n\n#### 7) Shut up about pitbulls \n\n - **No pitbull hate comments, stats, copypasta, links or calls to ban.**\n\n This is a place to enjoy Absolute Units.  Not to discuss your hate for any specific breeds, spamming stats and starting flame wars about whether or not they are dangerous.  If you love pitbulls, please visit r/pitbulls.  If you hate them, please visit r/banpitbulls.   \n\n Now please kindly shut up about it, or risk being banned. \n\n#### 8) Post titles must start with the string \"of \".\n\nPlease note that the word \"of\" is **case sensitive**.\n\n\n\n\n#### Don't be the guy that makes us add more rules\n - \n\n The moderators of this subreddit will take any action (which includes banning and removing comments) that they feel improves the quality of the subreddit.  \n\n---\n\n#OUR FRIENDS:\n\n\n-  **/r/Adoptableunits**\n\n\n-  **/r/Chonkers**\n\n\n-  **/r/PeepingPooch**\n\n\n-  **/r/TinyUnits**\n\n---\n\n#HEALTH:\n\nWe are in awe at the size of Absolute Units, and the only thing we love more is a fine lad who used to be an Absolute Unit and has become healthy! \n\n- [The American Veterinary Medical Association](https://www.avma.org/public/PetCare/Pages/yourpetshealthyweight.aspx) (AVMA) says \"Even a modest reduction in weight can significantly reduce your pet’s risk of life-threatening diseases.\" \n\n- [Pet Weight Calculator](https://www.petmd.com/healthyweight)"
                        iconUrl: https://styles.redditmedia.com/t5_a7wuv/styles/communityIcon_t3cspt08bl681.png?width=256&s=a44312a0b6611844daea17277b70bcbdc23961ae
                        bannerUrl: https://styles.redditmedia.com/t5_a7wuv/styles/bannerBackgroundImage_6dyzaasgzdag1.png?width=4000&s=13383688b7c6aada983cf92990591f1d5c9bcc67
                        advertiserCategory: ''
                        submitText: ''
                        createdAt: '2018-01-05T10:35:24.000Z'
                      metrics:
                        subscribers: 2039745
                        weeklyActiveUsers: 2374665
                        weeklyContributions: 19793
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      subreddit: null
                      metrics: null
                    meta:
                      requestId: req_01example_nf
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid query or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1RedditSubreddits
      x-operation-id-source: derived
  /v1/reddit/subreddits/{subreddit}/posts:
    get:
      tags:
      - Reddit
      summary: List Reddit subreddit posts
      description: List a subreddit's post feed (hot/new/top, no keyword) — use reddit.subreddit.search.list to search within it by keyword.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 256
          description: Subreddit name, optional `r/` prefix, or Reddit subreddit URL. Must match Reddit's exact casing. Lists posts for this subreddit.
        required: true
        description: Subreddit name, optional `r/` prefix, or Reddit subreddit URL. Must match Reddit's exact casing. Lists posts for this subreddit.
        name: subreddit
        in: path
      - schema:
          type: string
          enum:
          - best
          - hot
          - new
          - top
          - rising
          description: Optional sort order for the returned posts.
        required: false
        description: Optional sort order for the returned posts.
        name: sort
        in: query
      - schema:
          type: string
          enum:
          - all
          - day
          - week
          - month
          - year
          description: Optional timeframe used only when `sort` is `top`. Ignored/rejected for other sorts.
        required: false
        description: Optional timeframe used only when `sort` is `top`. Ignored/rejected for other sorts.
        name: timeframe
        in: query
      - schema:
          type: string
          minLength: 1
          description: Opaque pagination cursor from a previous response.
        required: false
        description: Opaque pagination cursor from a previous response.
        name: cursor
        in: query
      responses:
        '200':
          description: Subreddit posts for the requested feed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the subreddit resolved for this request.
                      posts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Stable identifier for the post.
                            fullId:
                              type:
                              - string
                              - 'null'
                              description: Full post identifier when available.
                            subreddit:
                              type:
                              - string
                              - 'null'
                              description: Subreddit name for this post when available.
                            title:
                              type: string
                              minLength: 1
                              description: Post title.
                            text:
                              type:
                              - string
                              - 'null'
                              description: Text body of the post when available.
                            author:
                              type: object
                              properties:
                                username:
                                  type:
                                  - string
                                  - 'null'
                                  description: Post author username when available.
                                id:
                                  type:
                                  - string
                                  - 'null'
                                  description: Stable author identifier when available.
                              required:
                              - username
                              - id
                              description: Post author.
                            url:
                              type:
                              - string
                              - 'null'
                              description: Canonical public URL for this post when available.
                            permalinkUrl:
                              type:
                              - string
                              - 'null'
                              description: Permalink URL for this post when available.
                            publishedAt:
                              type:
                              - string
                              - 'null'
                              description: ISO-8601 timestamp for when the post was published.
                            metrics:
                              type: object
                              properties:
                                score:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Post score when available.
                                upvotes:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Upvote count when available.
                                upvoteRatio:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  description: Upvote ratio when available.
                                commentCount:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Comment count when available.
                                crosspostCount:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Crosspost count when available.
                                subredditSubscribers:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Subreddit subscriber count when available.
                              required:
                              - score
                              - upvotes
                              - upvoteRatio
                              - commentCount
                              - crosspostCount
                              - subredditSubscribers
                              description: Post metrics.
                            flags:
                              type: object
                              properties:
                                isVideo:
                                  type: boolean
                                  description: Whether the post is a video.
                                isPinned:
                                  type: boolean
                                  description: Whether the post is pinned.
                                isLocked:
                                  type: boolean
                                  description: Whether the post is locked.
                                isSpoiler:
                                  type: boolean
                                  description: Whether the post is marked as a spoiler.
                                isOver18:
                                  type: boolean
                                  description: Whether the post is marked as adult content.
                                isOriginalContent:
                                  type: boolean
                                  description: Whether the post is marked as original content.
                              required:
                              - isVideo
                              - isPinned
                              - isLocked
                              - isSpoiler
                              - isOver18
                              - isOriginalContent
                              description: Post content flags.
                          required:
                          - id
                          - fullId
                          - subreddit
                          - title
                          - text
                          - author
                          - url
                          - permalinkUrl
                          - publishedAt
                          - metrics
                          - flags
                          description: A single post from a subreddit feed.
                        description: Posts returned for the requested subreddit. This array may be empty when the subreddit resolves but no posts are returned.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass as `cursor` in the next request when `hasMore` is true; otherwise null.
                          hasMore:
                            type: boolean
                            description: Whether another page of posts can be requested.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination information for the current response.
                    required:
                    - lookupStatus
                    - posts
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      posts:
                      - id: 1th2qnn
                        fullId: t3_1th2qnn
                        subreddit: AskReddit
                        title: How often do truckers look into cars that are passing them ?
                        text: ''
                        author:
                          username: canadianWarthog
                          id: t2_2cqqd9z7fi
                        url: https://www.reddit.com/r/AskReddit/comments/1th2qnn/how_often_do_truckers_look_into_cars_that_are/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th2qnn/how_often_do_truckers_look_into_cars_that_are/
                        publishedAt: '2026-05-18T21:57:10.000Z'
                        metrics:
                          score: 3002
                          upvotes: 3002
                          upvoteRatio: 0.94
                          commentCount: 764
                          crosspostCount: 1
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: true
                          isOriginalContent: false
                      - id: 1thdg5s
                        fullId: t3_1thdg5s
                        subreddit: AskReddit
                        title: How is it possible 21% of usa is illiterate? How do they survive?
                        text: ''
                        author:
                          username: GossipBottom
                          id: t2_1yho1wtc6t
                        url: https://www.reddit.com/r/AskReddit/comments/1thdg5s/how_is_it_possible_21_of_usa_is_illiterate_how_do/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thdg5s/how_is_it_possible_21_of_usa_is_illiterate_how_do/
                        publishedAt: '2026-05-19T05:36:55.000Z'
                        metrics:
                          score: 721
                          upvotes: 721
                          upvoteRatio: 0.92
                          commentCount: 362
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgsbgn
                        fullId: t3_1tgsbgn
                        subreddit: AskReddit
                        title: What is something you’ve officially stopped buying in 2026 because the price has become genuinely insulting?
                        text: ''
                        author:
                          username: queenmellyy
                          id: t2_1zs61562wj
                        url: https://www.reddit.com/r/AskReddit/comments/1tgsbgn/what_is_something_youve_officially_stopped_buying/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgsbgn/what_is_something_youve_officially_stopped_buying/
                        publishedAt: '2026-05-18T16:45:19.000Z'
                        metrics:
                          score: 6360
                          upvotes: 6360
                          upvoteRatio: 0.94
                          commentCount: 8343
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgwnd8
                        fullId: t3_1tgwnd8
                        subreddit: AskReddit
                        title: Who is a celebrity that is very attractive but seems like they have zero charisma?
                        text: ''
                        author:
                          username: downtowndabble
                          id: t2_2caeoz9xxm
                        url: https://www.reddit.com/r/AskReddit/comments/1tgwnd8/who_is_a_celebrity_that_is_very_attractive_but/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgwnd8/who_is_a_celebrity_that_is_very_attractive_but/
                        publishedAt: '2026-05-18T18:43:30.000Z'
                        metrics:
                          score: 3072
                          upvotes: 3072
                          upvoteRatio: 0.89
                          commentCount: 2927
                          crosspostCount: 1
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th3zvo
                        fullId: t3_1th3zvo
                        subreddit: AskReddit
                        title: Whats the best dating advice you can give an 18yo?
                        text: ''
                        author:
                          username: NoWest240
                          id: t2_1iidyzjtdu
                        url: https://www.reddit.com/r/AskReddit/comments/1th3zvo/whats_the_best_dating_advice_you_can_give_an_18yo/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th3zvo/whats_the_best_dating_advice_you_can_give_an_18yo/
                        publishedAt: '2026-05-18T22:41:10.000Z'
                        metrics:
                          score: 1136
                          upvotes: 1136
                          upvoteRatio: 0.93
                          commentCount: 875
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: true
                          isOriginalContent: false
                      - id: 1tgot2r
                        fullId: t3_1tgot2r
                        subreddit: AskReddit
                        title: Which punishment (either real or fictional) sounds easy enough to endure at first, but is actually hellish to experience?
                        text: ''
                        author:
                          username: dizzyd232
                          id: t2_snhn3oys
                        url: https://www.reddit.com/r/AskReddit/comments/1tgot2r/which_punishment_either_real_or_fictional_sounds/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgot2r/which_punishment_either_real_or_fictional_sounds/
                        publishedAt: '2026-05-18T14:45:20.000Z'
                        metrics:
                          score: 5089
                          upvotes: 5089
                          upvoteRatio: 0.95
                          commentCount: 2472
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th7xde
                        fullId: t3_1th7xde
                        subreddit: AskReddit
                        title: What’s a moment where you instantly realized someone was insanely intelligent?
                        text: ''
                        author:
                          username: Parqcxsm69
                          id: t2_na36cdxj
                        url: https://www.reddit.com/r/AskReddit/comments/1th7xde/whats_a_moment_where_you_instantly_realized/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th7xde/whats_a_moment_where_you_instantly_realized/
                        publishedAt: '2026-05-19T01:23:32.000Z'
                        metrics:
                          score: 609
                          upvotes: 609
                          upvoteRatio: 0.91
                          commentCount: 447
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thcj6j
                        fullId: t3_1thcj6j
                        subreddit: AskReddit
                        title: What are the "low-key" signs that you're more attractive than you think?
                        text: ''
                        author:
                          username: AfterBear6551
                          id: t2_2cbaib6php
                        url: https://www.reddit.com/r/AskReddit/comments/1thcj6j/what_are_the_lowkey_signs_that_youre_more/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thcj6j/what_are_the_lowkey_signs_that_youre_more/
                        publishedAt: '2026-05-19T04:51:03.000Z'
                        metrics:
                          score: 319
                          upvotes: 319
                          upvoteRatio: 0.86
                          commentCount: 252
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th2gt3
                        fullId: t3_1th2gt3
                        subreddit: AskReddit
                        title: What is a "corporate red flag" that employers try to pass off as a great benefit?
                        text: ''
                        author:
                          username: spectrecult
                          id: t2_1dxo28sst6
                        url: https://www.reddit.com/r/AskReddit/comments/1th2gt3/what_is_a_corporate_red_flag_that_employers_try/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th2gt3/what_is_a_corporate_red_flag_that_employers_try/
                        publishedAt: '2026-05-18T21:47:49.000Z'
                        metrics:
                          score: 988
                          upvotes: 988
                          upvoteRatio: 0.95
                          commentCount: 562
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgmffy
                        fullId: t3_1tgmffy
                        subreddit: AskReddit
                        title: What is the worst career to be in right now and why?
                        text: ''
                        author:
                          username: parmint123
                          id: t2_2nld9i9r
                        url: https://www.reddit.com/r/AskReddit/comments/1tgmffy/what_is_the_worst_career_to_be_in_right_now_and/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgmffy/what_is_the_worst_career_to_be_in_right_now_and/
                        publishedAt: '2026-05-18T13:19:27.000Z'
                        metrics:
                          score: 2564
                          upvotes: 2564
                          upvoteRatio: 0.93
                          commentCount: 1837
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tha8sf
                        fullId: t3_1tha8sf
                        subreddit: AskReddit
                        title: What’s the most terrifying thing that happened to you that nobody believes?
                        text: ''
                        author:
                          username: Sad-Conflict6839
                          id: t2_2ebnq29c1e
                        url: https://www.reddit.com/r/AskReddit/comments/1tha8sf/whats_the_most_terrifying_thing_that_happened_to/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tha8sf/whats_the_most_terrifying_thing_that_happened_to/
                        publishedAt: '2026-05-19T03:03:42.000Z'
                        metrics:
                          score: 194
                          upvotes: 194
                          upvoteRatio: 0.96
                          commentCount: 364
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgtgjw
                        fullId: t3_1tgtgjw
                        subreddit: AskReddit
                        title: What was your "I was gone for five minutes!" Story?
                        text: ''
                        author:
                          username: LawfulnessHaunting41
                          id: t2_e4ya94ps
                        url: https://www.reddit.com/r/AskReddit/comments/1tgtgjw/what_was_your_i_was_gone_for_five_minutes_story/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgtgjw/what_was_your_i_was_gone_for_five_minutes_story/
                        publishedAt: '2026-05-18T17:22:40.000Z'
                        metrics:
                          score: 1071
                          upvotes: 1071
                          upvoteRatio: 0.96
                          commentCount: 731
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tglq2f
                        fullId: t3_1tglq2f
                        subreddit: AskReddit
                        title: What video game soundtrack is a 10/10?
                        text: ''
                        author:
                          username: montymaximus
                          id: t2_3ui5w4z7
                        url: https://www.reddit.com/r/AskReddit/comments/1tglq2f/what_video_game_soundtrack_is_a_1010/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tglq2f/what_video_game_soundtrack_is_a_1010/
                        publishedAt: '2026-05-18T12:52:31.000Z'
                        metrics:
                          score: 1844
                          upvotes: 1844
                          upvoteRatio: 0.92
                          commentCount: 6215
                          crosspostCount: 2
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thctyz
                        fullId: t3_1thctyz
                        subreddit: AskReddit
                        title: What is the weirdest thing you’ve seen at a wedding?
                        text: ''
                        author:
                          username: No-Picture4316
                          id: t2_2cbbhwhl6r
                        url: https://www.reddit.com/r/AskReddit/comments/1thctyz/what_is_the_weirdest_thing_youve_seen_at_a_wedding/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thctyz/what_is_the_weirdest_thing_youve_seen_at_a_wedding/
                        publishedAt: '2026-05-19T05:05:51.000Z'
                        metrics:
                          score: 86
                          upvotes: 86
                          upvoteRatio: 0.91
                          commentCount: 191
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th1e4a
                        fullId: t3_1th1e4a
                        subreddit: AskReddit
                        title: What's a 10/10 movie according to you?
                        text: ''
                        author:
                          username: Avatater
                          id: t2_2enk97hg5x
                        url: https://www.reddit.com/r/AskReddit/comments/1th1e4a/whats_a_1010_movie_according_to_you/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th1e4a/whats_a_1010_movie_according_to_you/
                        publishedAt: '2026-05-18T21:10:23.000Z'
                        metrics:
                          score: 356
                          upvotes: 356
                          upvoteRatio: 0.85
                          commentCount: 1673
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th9m6t
                        fullId: t3_1th9m6t
                        subreddit: AskReddit
                        title: What’s a fast food restaurant you won’t eat anymore?
                        text: ''
                        author:
                          username: GarbageDramatic9005
                          id: t2_14d4s9k0gg
                        url: https://www.reddit.com/r/AskReddit/comments/1th9m6t/whats_a_fast_food_restaurant_you_wont_eat_anymore/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th9m6t/whats_a_fast_food_restaurant_you_wont_eat_anymore/
                        publishedAt: '2026-05-19T02:36:13.000Z'
                        metrics:
                          score: 106
                          upvotes: 106
                          upvoteRatio: 0.84
                          commentCount: 533
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgpvdk
                        fullId: t3_1tgpvdk
                        subreddit: AskReddit
                        title: What is something that died out so quietly that nobody even noticed?
                        text: ''
                        author:
                          username: Alva_509
                          id: t2_2eih002f4m
                        url: https://www.reddit.com/r/AskReddit/comments/1tgpvdk/what_is_something_that_died_out_so_quietly_that/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgpvdk/what_is_something_that_died_out_so_quietly_that/
                        publishedAt: '2026-05-18T15:22:04.000Z'
                        metrics:
                          score: 813
                          upvotes: 813
                          upvoteRatio: 0.94
                          commentCount: 1088
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgm4tn
                        fullId: t3_1tgm4tn
                        subreddit: AskReddit
                        title: Which US state gets glorified in movies but doesn’t live up to it IRL?
                        text: ''
                        author:
                          username: Auelogic
                          id: t2_bpwjfd
                        url: https://www.reddit.com/r/AskReddit/comments/1tgm4tn/which_us_state_gets_glorified_in_movies_but/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgm4tn/which_us_state_gets_glorified_in_movies_but/
                        publishedAt: '2026-05-18T13:08:18.000Z'
                        metrics:
                          score: 1130
                          upvotes: 1130
                          upvoteRatio: 0.88
                          commentCount: 2165
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgbdwi
                        fullId: t3_1tgbdwi
                        subreddit: AskReddit
                        title: What hobby attracts the worst type of people?
                        text: ''
                        author:
                          username: Gr8Deb8ter
                          id: t2_6cvsfy7x
                        url: https://www.reddit.com/r/AskReddit/comments/1tgbdwi/what_hobby_attracts_the_worst_type_of_people/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgbdwi/what_hobby_attracts_the_worst_type_of_people/
                        publishedAt: '2026-05-18T04:04:59.000Z'
                        metrics:
                          score: 6571
                          upvotes: 6571
                          upvoteRatio: 0.95
                          commentCount: 5006
                          crosspostCount: 2
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th2n8j
                        fullId: t3_1th2n8j
                        subreddit: AskReddit
                        title: What's the most annoying thing about being a woman?
                        text: ''
                        author:
                          username: Used_Leek_4485
                          id: t2_jeqil929
                        url: https://www.reddit.com/r/AskReddit/comments/1th2n8j/whats_the_most_annoying_thing_about_being_a_woman/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th2n8j/whats_the_most_annoying_thing_about_being_a_woman/
                        publishedAt: '2026-05-18T21:53:58.000Z'
                        metrics:
                          score: 203
                          upvotes: 203
                          upvoteRatio: 0.83
                          commentCount: 1020
                          crosspostCount: 1
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th6qby
                        fullId: t3_1th6qby
                        subreddit: AskReddit
                        title: Whats your biggest turn off in a guy/girl?
                        text: ''
                        author:
                          username: Sea_Science2735
                          id: t2_1nc3ytum6t
                        url: https://www.reddit.com/r/AskReddit/comments/1th6qby/whats_your_biggest_turn_off_in_a_guygirl/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th6qby/whats_your_biggest_turn_off_in_a_guygirl/
                        publishedAt: '2026-05-19T00:32:14.000Z'
                        metrics:
                          score: 112
                          upvotes: 112
                          upvoteRatio: 0.83
                          commentCount: 483
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgvkw1
                        fullId: t3_1tgvkw1
                        subreddit: AskReddit
                        title: What's a lie told so much people believe it as the truth and wouldn't recognize the truth?
                        text: ''
                        author:
                          username: kvosovich
                          id: t2_1hhf9ao6sp
                        url: https://www.reddit.com/r/AskReddit/comments/1tgvkw1/whats_a_lie_told_so_much_people_believe_it_as_the/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgvkw1/whats_a_lie_told_so_much_people_believe_it_as_the/
                        publishedAt: '2026-05-18T18:13:11.000Z'
                        metrics:
                          score: 368
                          upvotes: 368
                          upvoteRatio: 0.89
                          commentCount: 1128
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th8hq7
                        fullId: t3_1th8hq7
                        subreddit: AskReddit
                        title: If you could make ONE specific food free for life (unlimited quantities), what are you choosing and why?
                        text: ''
                        author:
                          username: NeighborhoodFar6008
                          id: t2_1lakl2qsjs
                        url: https://www.reddit.com/r/AskReddit/comments/1th8hq7/if_you_could_make_one_specific_food_free_for_life/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th8hq7/if_you_could_make_one_specific_food_free_for_life/
                        publishedAt: '2026-05-19T01:47:51.000Z'
                        metrics:
                          score: 80
                          upvotes: 80
                          upvoteRatio: 0.87
                          commentCount: 219
                          crosspostCount: 0
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tg56u8
                        fullId: t3_1tg56u8
                        subreddit: AskReddit
                        title: Who destroyed their own career within seconds by being an idiot?
                        text: ''
                        author:
                          username: goldbeau
                          id: t2_2dwkdlsms4
                        url: https://www.reddit.com/r/AskReddit/comments/1tg56u8/who_destroyed_their_own_career_within_seconds_by/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tg56u8/who_destroyed_their_own_career_within_seconds_by/
                        publishedAt: '2026-05-17T23:21:33.000Z'
                        metrics:
                          score: 14342
                          upvotes: 14342
                          upvoteRatio: 0.95
                          commentCount: 8198
                          crosspostCount: 2
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tg6dpl
                        fullId: t3_1tg6dpl
                        subreddit: AskReddit
                        title: Women of Reddit, what did a man you were dating or married to say or do that made you realize he actually hated you the entire time?
                        text: ''
                        author:
                          username: -catharina
                          id: t2_1pv4mudlob
                        url: https://www.reddit.com/r/AskReddit/comments/1tg6dpl/women_of_reddit_what_did_a_man_you_were_dating_or/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tg6dpl/women_of_reddit_what_did_a_man_you_were_dating_or/
                        publishedAt: '2026-05-18T00:13:39.000Z'
                        metrics:
                          score: 8146
                          upvotes: 8146
                          upvoteRatio: 0.88
                          commentCount: 6085
                          crosspostCount: 4
                          subredditSubscribers: 58582088
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      page:
                        nextCursor: eyJhIjoidDNfMXRnNmRwbCJ9
                        hasMore: true
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                paginated:
                  value:
                    data:
                      lookupStatus: found
                      posts:
                      - id: 1thcmtz
                        fullId: t3_1thcmtz
                        subreddit: AskReddit
                        title: what is a subtle way tell someone that you like them?
                        text: ''
                        author:
                          username: PurpleMoist7744
                          id: t2_2cbbmf6g03
                        url: https://www.reddit.com/r/AskReddit/comments/1thcmtz/what_is_a_subtle_way_tell_someone_that_you_like/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thcmtz/what_is_a_subtle_way_tell_someone_that_you_like/
                        publishedAt: '2026-05-19T04:56:10.000Z'
                        metrics:
                          score: 36
                          upvotes: 36
                          upvoteRatio: 0.9
                          commentCount: 31
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th4lhu
                        fullId: t3_1th4lhu
                        subreddit: AskReddit
                        title: How often do you open a Reddit post and immediately leave because it’s too long to read?
                        text: ''
                        author:
                          username: Current-Brief-7594
                          id: t2_x7dg25h5s
                        url: https://www.reddit.com/r/AskReddit/comments/1th4lhu/how_often_do_you_open_a_reddit_post_and/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th4lhu/how_often_do_you_open_a_reddit_post_and/
                        publishedAt: '2026-05-18T23:04:53.000Z'
                        metrics:
                          score: 101
                          upvotes: 101
                          upvoteRatio: 0.91
                          commentCount: 91
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thcozh
                        fullId: t3_1thcozh
                        subreddit: AskReddit
                        title: How are you really?
                        text: ''
                        author:
                          username: Ok_Pianist3412
                          id: t2_2cbbqxj0nk
                        url: https://www.reddit.com/r/AskReddit/comments/1thcozh/how_are_you_really/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thcozh/how_are_you_really/
                        publishedAt: '2026-05-19T04:59:12.000Z'
                        metrics:
                          score: 29
                          upvotes: 29
                          upvoteRatio: 0.87
                          commentCount: 63
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tglfi5
                        fullId: t3_1tglfi5
                        subreddit: AskReddit
                        title: Those who do not fear death, why?
                        text: ''
                        author:
                          username: lilacc_47
                          id: t2_2dnvl3h6pm
                        url: https://www.reddit.com/r/AskReddit/comments/1tglfi5/those_who_do_not_fear_death_why/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tglfi5/those_who_do_not_fear_death_why/
                        publishedAt: '2026-05-18T12:40:36.000Z'
                        metrics:
                          score: 428
                          upvotes: 428
                          upvoteRatio: 0.89
                          commentCount: 1918
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thbgfu
                        fullId: t3_1thbgfu
                        subreddit: AskReddit
                        title: what screams that they clearly have no interest in you?
                        text: ''
                        author:
                          username: SorryNail6100
                          id: t2_2cj03fwfvb
                        url: https://www.reddit.com/r/AskReddit/comments/1thbgfu/what_screams_that_they_clearly_have_no_interest/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thbgfu/what_screams_that_they_clearly_have_no_interest/
                        publishedAt: '2026-05-19T03:59:58.000Z'
                        metrics:
                          score: 25
                          upvotes: 25
                          upvoteRatio: 0.81
                          commentCount: 69
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th02om
                        fullId: t3_1th02om
                        subreddit: AskReddit
                        title: What is a discovery that exists that you feel we as a civilization should be paying more attention to?
                        text: ''
                        author:
                          username: Defiant_Piano5378
                          id: t2_to8ua4rvk
                        url: https://www.reddit.com/r/AskReddit/comments/1th02om/what_is_a_discovery_that_exists_that_you_feel_we/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th02om/what_is_a_discovery_that_exists_that_you_feel_we/
                        publishedAt: '2026-05-18T20:24:45.000Z'
                        metrics:
                          score: 99
                          upvotes: 99
                          upvoteRatio: 0.94
                          commentCount: 111
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgy3el
                        fullId: t3_1tgy3el
                        subreddit: AskReddit
                        title: What’s the biggest change in society that you’ve seen in your life that no one talks about?
                        text: ''
                        author:
                          username: Substantial-Yam9993
                          id: t2_2en3gx50k4
                        url: https://www.reddit.com/r/AskReddit/comments/1tgy3el/whats_the_biggest_change_in_society_that_youve/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgy3el/whats_the_biggest_change_in_society_that_youve/
                        publishedAt: '2026-05-18T19:21:43.000Z'
                        metrics:
                          score: 120
                          upvotes: 120
                          upvoteRatio: 0.92
                          commentCount: 309
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th4iv5
                        fullId: t3_1th4iv5
                        subreddit: AskReddit
                        title: What hobby or interest makes someone immediately more annoying to talk to?
                        text: ''
                        author:
                          username: Bram-Stroker-_
                          id: t2_2dyfit3jau
                        url: https://www.reddit.com/r/AskReddit/comments/1th4iv5/what_hobby_or_interest_makes_someone_immediately/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th4iv5/what_hobby_or_interest_makes_someone_immediately/
                        publishedAt: '2026-05-18T23:01:54.000Z'
                        metrics:
                          score: 62
                          upvotes: 62
                          upvoteRatio: 0.82
                          commentCount: 256
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tg4gql
                        fullId: t3_1tg4gql
                        subreddit: AskReddit
                        title: What are some lazy jobs that pay a ridiculous amount of money?
                        text: ''
                        author:
                          username: Jordz0_0
                          id: t2_2kaduxfk
                        url: https://www.reddit.com/r/AskReddit/comments/1tg4gql/what_are_some_lazy_jobs_that_pay_a_ridiculous/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tg4gql/what_are_some_lazy_jobs_that_pay_a_ridiculous/
                        publishedAt: '2026-05-17T22:50:46.000Z'
                        metrics:
                          score: 5416
                          upvotes: 5416
                          upvoteRatio: 0.9
                          commentCount: 2103
                          crosspostCount: 1
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thezsf
                        fullId: t3_1thezsf
                        subreddit: AskReddit
                        title: what is the first thing you do in the morning?
                        text: ''
                        author:
                          username: TraditionalSample945
                          id: t2_2e226l4soq
                        url: https://www.reddit.com/r/AskReddit/comments/1thezsf/what_is_the_first_thing_you_do_in_the_morning/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thezsf/what_is_the_first_thing_you_do_in_the_morning/
                        publishedAt: '2026-05-19T06:59:53.000Z'
                        metrics:
                          score: 13
                          upvotes: 13
                          upvoteRatio: 0.93
                          commentCount: 58
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th6snh
                        fullId: t3_1th6snh
                        subreddit: AskReddit
                        title: What’s something you started doing as an adult that surprisingly improved your life a lot?
                        text: ''
                        author:
                          username: Quick_Marketing_4727
                          id: t2_2ebqzix9ae
                        url: https://www.reddit.com/r/AskReddit/comments/1th6snh/whats_something_you_started_doing_as_an_adult/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th6snh/whats_something_you_started_doing_as_an_adult/
                        publishedAt: '2026-05-19T00:35:02.000Z'
                        metrics:
                          score: 39
                          upvotes: 39
                          upvoteRatio: 0.92
                          commentCount: 77
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thf4lu
                        fullId: t3_1thf4lu
                        subreddit: AskReddit
                        title: What habit slowly ruins a romantic relationship?
                        text: ''
                        author:
                          username: FunYogurtcloset5934
                          id: t2_2c665h7ltm
                        url: https://www.reddit.com/r/AskReddit/comments/1thf4lu/what_habit_slowly_ruins_a_romantic_relationship/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thf4lu/what_habit_slowly_ruins_a_romantic_relationship/
                        publishedAt: '2026-05-19T07:06:59.000Z'
                        metrics:
                          score: 13
                          upvotes: 13
                          upvoteRatio: 0.93
                          commentCount: 44
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1theklq
                        fullId: t3_1theklq
                        subreddit: AskReddit
                        title: What is minor inconvenience that completely ruins your mood ?
                        text: ''
                        author:
                          username: Harris3624
                          id: t2_2dy6iqdox7
                        url: https://www.reddit.com/r/AskReddit/comments/1theklq/what_is_minor_inconvenience_that_completely_ruins/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1theklq/what_is_minor_inconvenience_that_completely_ruins/
                        publishedAt: '2026-05-19T06:36:29.000Z'
                        metrics:
                          score: 12
                          upvotes: 12
                          upvoteRatio: 0.93
                          commentCount: 23
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tgojez
                        fullId: t3_1tgojez
                        subreddit: AskReddit
                        title: What is the most beautiful experience in your life?
                        text: ''
                        author:
                          username: Famous-Courage-9509
                          id: t2_2ehdll3xg6
                        url: https://www.reddit.com/r/AskReddit/comments/1tgojez/what_is_the_most_beautiful_experience_in_your_life/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tgojez/what_is_the_most_beautiful_experience_in_your_life/
                        publishedAt: '2026-05-18T14:35:49.000Z'
                        metrics:
                          score: 220
                          upvotes: 220
                          upvoteRatio: 0.92
                          commentCount: 357
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th5vxo
                        fullId: t3_1th5vxo
                        subreddit: AskReddit
                        title: What is the creepy backstory of your house or your former house?
                        text: ''
                        author:
                          username: Pancake_Maker_1031
                          id: t2_20wq819n9w
                        url: https://www.reddit.com/r/AskReddit/comments/1th5vxo/what_is_the_creepy_backstory_of_your_house_or/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th5vxo/what_is_the_creepy_backstory_of_your_house_or/
                        publishedAt: '2026-05-18T23:57:10.000Z'
                        metrics:
                          score: 34
                          upvotes: 34
                          upvoteRatio: 0.89
                          commentCount: 55
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thcpu5
                        fullId: t3_1thcpu5
                        subreddit: AskReddit
                        title: police officers of Reddit, what is the one call you will absolutely never forget?
                        text: ''
                        author:
                          username: Salty-Tea-6950
                          id: t2_2cbbxbt6x2
                        url: https://www.reddit.com/r/AskReddit/comments/1thcpu5/police_officers_of_reddit_what_is_the_one_call/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thcpu5/police_officers_of_reddit_what_is_the_one_call/
                        publishedAt: '2026-05-19T05:00:16.000Z'
                        metrics:
                          score: 16
                          upvotes: 16
                          upvoteRatio: 0.73
                          commentCount: 18
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thdwmi
                        fullId: t3_1thdwmi
                        subreddit: AskReddit
                        title: What’s the best first impression someone made that you still remember?
                        text: ''
                        author:
                          username: Lonely-Age7678
                          id: t2_23sjfcewbi
                        url: https://www.reddit.com/r/AskReddit/comments/1thdwmi/whats_the_best_first_impression_someone_made_that/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thdwmi/whats_the_best_first_impression_someone_made_that/
                        publishedAt: '2026-05-19T06:00:53.000Z'
                        metrics:
                          score: 12
                          upvotes: 12
                          upvoteRatio: 0.99
                          commentCount: 13
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thawye
                        fullId: t3_1thawye
                        subreddit: AskReddit
                        title: What is a tiny, insignificant thing that instantly puts you in a good mood?
                        text: ''
                        author:
                          username: taheerwanware12
                          id: t2_2ems0gxxt5
                        url: https://www.reddit.com/r/AskReddit/comments/1thawye/what_is_a_tiny_insignificant_thing_that_instantly/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thawye/what_is_a_tiny_insignificant_thing_that_instantly/
                        publishedAt: '2026-05-19T03:34:40.000Z'
                        metrics:
                          score: 17
                          upvotes: 17
                          upvoteRatio: 0.85
                          commentCount: 58
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th8786
                        fullId: t3_1th8786
                        subreddit: AskReddit
                        title: Whats a cheap meal you'd still probably eat even if you became rich?
                        text: ''
                        author:
                          username: Easy_Towel954
                          id: t2_1iw6p3aayv
                        url: https://www.reddit.com/r/AskReddit/comments/1th8786/whats_a_cheap_meal_youd_still_probably_eat_even/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th8786/whats_a_cheap_meal_youd_still_probably_eat_even/
                        publishedAt: '2026-05-19T01:35:21.000Z'
                        metrics:
                          score: 22
                          upvotes: 22
                          upvoteRatio: 0.66
                          commentCount: 270
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thfb0u
                        fullId: t3_1thfb0u
                        subreddit: AskReddit
                        title: What is more important, your work or health ?
                        text: ''
                        author:
                          username: seraphinelux64
                          id: t2_2eecy95esr
                        url: https://www.reddit.com/r/AskReddit/comments/1thfb0u/what_is_more_important_your_work_or_health/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thfb0u/what_is_more_important_your_work_or_health/
                        publishedAt: '2026-05-19T07:17:03.000Z'
                        metrics:
                          score: 8
                          upvotes: 8
                          upvoteRatio: 0.83
                          commentCount: 19
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1tg7b1e
                        fullId: t3_1tg7b1e
                        subreddit: AskReddit
                        title: What would shock a kid today if they were transported to 2005?
                        text: ''
                        author:
                          username: IDoNotLikeTheSand
                          id: t2_70294dig
                        url: https://www.reddit.com/r/AskReddit/comments/1tg7b1e/what_would_shock_a_kid_today_if_they_were/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1tg7b1e/what_would_shock_a_kid_today_if_they_were/
                        publishedAt: '2026-05-18T00:55:50.000Z'
                        metrics:
                          score: 2083
                          upvotes: 2083
                          upvoteRatio: 0.95
                          commentCount: 1999
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th7h6i
                        fullId: t3_1th7h6i
                        subreddit: AskReddit
                        title: How are you coping with your depression?
                        text: ''
                        author:
                          username: BATTlNS0N
                          id: t2_qf03tgkb
                        url: https://www.reddit.com/r/AskReddit/comments/1th7h6i/how_are_you_coping_with_your_depression/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th7h6i/how_are_you_coping_with_your_depression/
                        publishedAt: '2026-05-19T01:04:11.000Z'
                        metrics:
                          score: 25
                          upvotes: 25
                          upvoteRatio: 0.9
                          commentCount: 143
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thevu6
                        fullId: t3_1thevu6
                        subreddit: AskReddit
                        title: What food did you love as a kid but lwk hate now?
                        text: ''
                        author:
                          username: arsenx_
                          id: t2_2bfed9zx2o
                        url: https://www.reddit.com/r/AskReddit/comments/1thevu6/what_food_did_you_love_as_a_kid_but_lwk_hate_now/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1thevu6/what_food_did_you_love_as_a_kid_but_lwk_hate_now/
                        publishedAt: '2026-05-19T06:53:48.000Z'
                        metrics:
                          score: 8
                          upvotes: 8
                          upvoteRatio: 0.72
                          commentCount: 39
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1th5vdg
                        fullId: t3_1th5vdg
                        subreddit: AskReddit
                        title: What advice took you years later to realize it was good?
                        text: ''
                        author:
                          username: No-Designer5738
                          id: t2_2aj7z8yrdq
                        url: https://www.reddit.com/r/AskReddit/comments/1th5vdg/what_advice_took_you_years_later_to_realize_it/
                        permalinkUrl: https://www.reddit.com/r/AskReddit/comments/1th5vdg/what_advice_took_you_years_later_to_realize_it/
                        publishedAt: '2026-05-18T23:56:29.000Z'
                        metrics:
                          score: 28
                          upvotes: 28
                          upvoteRatio: 0.91
                          commentCount: 51
                          crosspostCount: 0
                          subredditSubscribers: 58582089
                        flags:
                          isVideo: false
                          isPinned: false
                          isLocked: false
                          isSpoiler: false
                          isOver18: false
                          isOriginalContent: false
                      - id: 1thd26i
                        fullId: t3_1thd26i
                        subreddit: AskReddit
                        title: What’s your least favorite month of the year?
                        text: ''
                        author:
                          username: Junior_Mulberry7989
                          id: t2_18bhsssoq5
                        url: https://www.reddit.com/r/AskReddit/comments/1thd26i/whats_your_least_favorite_month_of_the_year/
[...]
