openapi: 3.2.0
info:
  title: Social Fetch Public Instagram API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Instagram
paths:
  /v1/instagram/profiles/{handle}:
    get:
      tags:
      - Instagram
      summary: Get Instagram profile
      description: Get a full Instagram profile by handle (bio, counts, and related fields).
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 2048
          description: Instagram handle to look up, with or without a leading @. A profile URL is also accepted.
        required: true
        description: Instagram handle to look up, with or without a leading @. A profile URL is also accepted.
        name: handle
        in: path
      responses:
        '200':
          description: Instagram profile lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - private
                        - not_found
                        description: Whether the profile was resolved.
                      profile:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - instagram
                            description: Social platform for this profile.
                          handle:
                            type: string
                            description: Instagram username without the leading @.
                          displayName:
                            type:
                            - string
                            - 'null'
                            description: Public display name on the Instagram profile.
                          bio:
                            type:
                            - string
                            - 'null'
                            description: Profile biography text.
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                            description: Best available square avatar image URL.
                          avatarUrlHd:
                            type:
                            - string
                            - 'null'
                            description: Higher-resolution avatar URL when available.
                          verified:
                            type: boolean
                            description: Whether Instagram marks the profile as verified.
                          profileUrl:
                            type: string
                            minLength: 1
                            description: Canonical public Instagram profile URL.
                          privateAccount:
                            type: boolean
                            description: Whether the account is private.
                          platformUserId:
                            type: string
                            description: Instagram numeric user id as a string.
                          businessAccount:
                            type: boolean
                            description: Whether the account is a business account.
                          professionalAccount:
                            type: boolean
                            description: Whether the account is a professional/creator account.
                          categoryName:
                            type:
                            - string
                            - 'null'
                            description: Category label when Instagram provides one.
                          externalUrl:
                            type:
                            - string
                            - 'null'
                            description: Primary external link from the profile.
                          highlightReelCount:
                            type: integer
                            minimum: 0
                            description: Number of story highlights on the profile.
                          bioLinks:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: Link title shown on the profile.
                                url:
                                  type: string
                                  minLength: 1
                                  description: Destination URL.
                              required:
                              - title
                              - url
                              description: A link from the Instagram profile bio.
                            description: Structured bio links when available.
                        required:
                        - platform
                        - handle
                        - displayName
                        - bio
                        - avatarUrl
                        - verified
                        - profileUrl
                        - privateAccount
                        description: Profile details when available.
                      metrics:
                        type:
                        - object
                        - 'null'
                        properties:
                          followers:
                            type: integer
                            minimum: 0
                            description: Follower count reported by Instagram.
                          following:
                            type: integer
                            minimum: 0
                            description: Following count reported by Instagram.
                          posts:
                            type: integer
                            minimum: 0
                            description: Total public posts count on the profile grid.
                        required:
                        - followers
                        - following
                        - posts
                        description: Profile metrics when available.
                      recentPosts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Instagram media id for this post (vendor-defined).
                            shortcode:
                              type: string
                              description: Public shortcode for the post URL.
                            mediaType:
                              type: string
                              enum:
                              - video
                              - image
                              - sidecar
                              - unknown
                              description: Normalized media type.
                            caption:
                              type:
                              - string
                              - 'null'
                              description: Post caption when available.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the media was taken or posted (ISO-8601).
                            commentCount:
                              type: integer
                              minimum: 0
                              description: Comment count when available.
                            likeCount:
                              type: integer
                              minimum: 0
                              description: Like count when available.
                            videoViewCount:
                              type: integer
                              minimum: 0
                              description: Video view count for video posts when available.
                            displayUrl:
                              type: string
                              description: Primary display image URL.
                            thumbnailUrl:
                              type: string
                              description: Thumbnail image URL.
                            videoUrl:
                              type: string
                              description: Direct video URL when available.
                            dimensions:
                              type: object
                              properties:
                                width:
                                  type: integer
                                  minimum: 0
                                  description: Media width in pixels.
                                height:
                                  type: integer
                                  minimum: 0
                                  description: Media height in pixels.
                              required:
                              - width
                              - height
                              description: Width and height when available.
                          required:
                          - id
                          - shortcode
                          - mediaType
                          - caption
                          - createdAt
                          description: A recent post or reel from the profile grid.
                        description: Recent grid posts from the profile when available.
                      relatedProfiles:
                        type: array
                        items:
                          type: object
                          properties:
                            platformUserId:
                              type: string
                              description: Instagram user id for the account.
                            handle:
                              type: string
                              description: Instagram username.
                            displayName:
                              type:
                              - string
                              - 'null'
                              description: Display name.
                            avatarUrl:
                              type:
                              - string
                              - 'null'
                              description: Profile picture URL.
                            verified:
                              type: boolean
                              description: Whether the account is verified.
                            privateAccount:
                              type: boolean
                              description: Whether the account is private.
                          required:
                          - platformUserId
                          - handle
                          - displayName
                          - avatarUrl
                          - verified
                          - privateAccount
                          description: A suggested related Instagram account.
                        description: Suggested related accounts when available.
                    required:
                    - lookupStatus
                    - profile
                    - metrics
                    - recentPosts
                    - relatedProfiles
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      profile:
                        platform: instagram
                        handle: nike
                        displayName: Nike
                        bio: Just Do It.
                        avatarUrl: https://scontent-phl2-1.cdninstagram.com/v/t51.82787-19/551608484_18567162979020081_1135468084872726555_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4zOTkuYzIifQ&_nc_ht=scontent-phl2-1.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2gEulzPZ9evzIaIRyo3iOqi7dN_UcL4S0ft-yx4SB-GS9s3tdMvTZRSJaaAmwTVC578&_nc_ohc=kDzYlKcSHMsQ7kNvwGzniAJ&_nc_gid=-SQr7pT6ynkxBR5V8hC4lg&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AQAmKSOvYUzKxA250ln187xleAnmmTCYaSSAeq7fxLhw2g&oe=6A6F7BFA&_nc_sid=8b3546
                        avatarUrlHd: https://scontent-phl2-1.cdninstagram.com/v/t51.82787-19/551608484_18567162979020081_1135468084872726555_n.jpg?stp=dst-jpg_s320x320_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4zOTkuYzIifQ&_nc_ht=scontent-phl2-1.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2gEulzPZ9evzIaIRyo3iOqi7dN_UcL4S0ft-yx4SB-GS9s3tdMvTZRSJaaAmwTVC578&_nc_ohc=kDzYlKcSHMsQ7kNvwGzniAJ&_nc_gid=-SQr7pT6ynkxBR5V8hC4lg&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AQDbxV1Skzh5OcQTKQ1mCoG60MkzZF_h61NrB6Lngq2cnQ&oe=6A6F7BFA&_nc_sid=8b3546
                        verified: true
                        profileUrl: https://www.instagram.com/nike/
                        privateAccount: false
                        platformUserId: '13460080'
                        businessAccount: true
                        professionalAccount: true
                        categoryName: null
                        externalUrl: http://empli.fi/nike
                        highlightReelCount: 5
                        bioLinks:
                        - title: ''
                          url: http://empli.fi/nike
                      metrics:
                        followers: 291682804
                        following: 264
                        posts: 1667
                      recentPosts:
                      - id: '3935562768090283565'
                        shortcode: Dad7XxvRj4t
                        mediaType: image
                        caption: The story continues @cristiano
                        commentCount: 16844
                        likeCount: 1839927
                        displayUrl: https://scontent-phl2-1.cdninstagram.com/v/t51.82787-15/741481390_18641880778020081_6875180679791777305_n.jpg?stp=dst-jpg_e35_p1080x1080_sh2.08_tt6&_nc_ht=scontent-phl2-1.cdninstagram.com&_nc_cat=109&_nc_oc=Q6cZ2gEulzPZ9evzIaIRyo3iOqi7dN_UcL4S0ft-yx4SB-GS9s3tdMvTZRSJaaAmwTVC578&_nc_ohc=CfbOnrUf6VEQ7kNvwGMtZ-e&_nc_gid=-SQr7pT6ynkxBR5V8hC4lg&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AQCRIlQ9zIBkxQrMG8S9p-DGOTwNMyfUzH44vuK00dIShQ&oe=6A6F8DBF&_nc_sid=8b3546
                        thumbnailUrl: https://scontent-phl2-1.cdninstagram.com/v/t51.82787-15/741481390_18641880778020081_6875180679791777305_n.jpg?stp=c0.512.3072.3072a_dst-jpg_e35_s640x640_sh2.08_tt6&_nc_ht=scontent-phl2-1.cdninstagram.com&_nc_cat=109&_nc_oc=Q6cZ2gEulzPZ9evzIaIRyo3iOqi7dN_UcL4S0ft-yx4SB-GS9s3tdMvTZRSJaaAmwTVC578&_nc_ohc=CfbOnrUf6VEQ7kNvwGMtZ-e&_nc_gid=-SQr7pT6ynkxBR5V8hC4lg&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AQAc1Am-AcfArPDn1fvbDWWWgnvpXmMDuqzR8bhSqoiE6g&oe=6A6F8DBF&_nc_sid=8b3546
                        dimensions:
                          width: 1080
                          height: 1440
                        createdAt: '2026-07-06T22:11:14.000Z'
                      - id: '3943294951320627320'
                        shortcode: Da5Zd2iDqh4
                        mediaType: sidecar
                        caption: "Play Fast. Play Free. Play Light.\n \nThe Sabrina 4 provides the security and stability hoopers need for change of pace style of play. A new lightweight containment system locks down every move, while a Nike Flyplate on the midsole keeps you sturdy from end-to-end. \n \nAvailable now."
                        commentCount: 275
                        likeCount: 91535
                        displayUrl: https://scontent-phl2-1.cdninstagram.com/v/t51.82787-15/750704493_18611991268035900_4899666737778351684_n.jpg?stp=dst-jpg_e35_p1080x1080_sh2.08_tt6&_nc_ht=scontent-phl2-1.cdninstagram.com&_nc_cat=100&_nc_oc=Q6cZ2gEulzPZ9evzIaIRyo3iOqi7dN_UcL4S0ft-yx4SB-GS9s3tdMvTZRSJaaAmwTVC578&_nc_ohc=vwWZxsNvckUQ7kNvwFW8Jqr&_nc_gid=-SQr7pT6ynkxBR5V8hC4lg&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AQCZRJ5v7P2_FJifjkR8sjyH6oOEkQDWfnvvywqtsvXNrQ&oe=6A6F6FE3&_nc_sid=8b3546
                        thumbnailUrl: https://scontent-phl2-1.cdninstagram.com/v/t51.82787-15/750704493_18611991268035900_4899666737778351684_n.jpg?stp=c0.276.2160.2160a_dst-jpg_e35_s640x640_sh2.08_tt6&_nc_ht=scontent-phl2-1.cdninstagram.com&_nc_cat=100&_nc_oc=Q6cZ2gEulzPZ9evzIaIRyo3iOqi7dN_UcL4S0ft-yx4SB-GS9s3tdMvTZRSJaaAmwTVC578&_nc_ohc=vwWZxsNvckUQ7kNvwFW8Jqr&_nc_gid=-SQr7pT6ynkxBR5V8hC4lg&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AQC-yuJqXDMLWsQPH51YAHdyj4CI2fiETmanBCakL887aQ&oe=6A6F6FE3&_nc_sid=8b3546
                        dimensions:
                          width: 1080
                          height: 1356
                        createdAt: '2026-07-17T14:10:11.000Z'
                      relatedProfiles: []
                    meta:
                      requestId: req_c223d818-48c5-48f0-8680-bcec1b8530e7
                      creditsCharged: 1
                      version: v1
                private:
                  value:
                    data:
                      lookupStatus: private
                      profile:
                        platform: instagram
                        handle: lukem121
                        displayName: Luke Askew
                        bio: ''
                        avatarUrl: https://example.com/priv.jpg
                        verified: false
                        profileUrl: https://www.instagram.com/lukem121/
                        privateAccount: true
                        platformUserId: '18768689'
                      metrics:
                        followers: 107
                        following: 187
                        posts: 13
                      recentPosts: []
                      relatedProfiles: []
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      profile: null
                      metrics: null
                      recentPosts: []
                      relatedProfiles: []
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid handle or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1InstagramProfilesByHandle
      x-operation-id-source: derived
  /v1/instagram/profiles/{userId}/basic:
    get:
      tags:
      - Instagram
      summary: Get Instagram basic profile
      description: Get a lightweight Instagram profile by numeric user ID when you already have the id.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^\d+$
          description: Instagram numeric user id to look up.
        required: true
        description: Instagram numeric user id to look up.
        name: userId
        in: path
      responses:
        '200':
          description: Instagram basic profile lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - private
                        - not_found
                        description: Whether the profile was resolved.
                      profile:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - instagram
                            description: Social platform for this profile.
                          handle:
                            type: string
                            description: Instagram username without the leading @.
                          displayName:
                            type:
                            - string
                            - 'null'
                            description: Public display name on the Instagram profile.
                          bio:
                            type:
                            - string
                            - 'null'
                            description: Profile biography text.
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                            description: Best available square avatar image URL.
                          avatarUrlHd:
                            type:
                            - string
                            - 'null'
                            description: Higher-resolution avatar URL when available.
                          verified:
                            type: boolean
                            description: Whether Instagram marks the profile as verified.
                          profileUrl:
                            type: string
                            minLength: 1
                            description: Canonical public Instagram profile URL.
                          privateAccount:
                            type: boolean
                            description: Whether the account is private.
                          platformUserId:
                            type: string
                            description: Instagram numeric user id as a string.
                          businessAccount:
                            type: boolean
                            description: Whether the account is a business account.
                          professionalAccount:
                            type:
                            - boolean
                            - 'null'
                            description: Whether the account is a professional or creator account.
                          accountType:
                            type:
                            - integer
                            - 'null'
                            description: Instagram account type code when available.
                          categoryName:
                            type:
                            - string
                            - 'null'
                            description: Category label when Instagram provides one.
                          externalUrl:
                            type:
                            - string
                            - 'null'
                            description: Primary external link from the profile.
                        required:
                        - platform
                        - handle
                        - displayName
                        - bio
                        - avatarUrl
                        - verified
                        - profileUrl
                        - privateAccount
                        - platformUserId
                        description: Profile details when available.
                      metrics:
                        type:
                        - object
                        - 'null'
                        properties:
                          followers:
                            type: integer
                            minimum: 0
                            description: Follower count reported by Instagram.
                          following:
                            type: integer
                            minimum: 0
                            description: Following count reported by Instagram.
                          posts:
                            type: integer
                            minimum: 0
                            description: Total public posts count on the profile grid.
                        required:
                        - followers
                        - following
                        - posts
                        description: Profile metrics when available.
                    required:
                    - lookupStatus
                    - profile
                    - metrics
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      profile:
                        platform: instagram
                        handle: zuck
                        displayName: Mark Zuckerberg
                        bio: I build stuff
                        avatarUrl: https://instagram.example.com/profile/zuck/avatar.jpg
                        avatarUrlHd: https://instagram.example.com/profile/zuck/avatar-hd.jpg
                        verified: true
                        profileUrl: https://www.instagram.com/zuck/
                        privateAccount: false
                        platformUserId: '314216'
                        businessAccount: false
                        accountType: 3
                        externalUrl: ''
                      metrics:
                        followers: 16101999
                        following: 617
                        posts: 409
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                private:
                  value:
                    data:
                      lookupStatus: private
                      profile:
                        platform: instagram
                        handle: lukem121
                        displayName: Luke Askew
                        bio: ''
                        avatarUrl: https://example.com/priv.jpg
                        verified: false
                        profileUrl: https://www.instagram.com/lukem121/
                        privateAccount: true
                        platformUserId: '18768689'
                      metrics:
                        followers: 107
                        following: 187
                        posts: 13
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      profile: null
                      metrics: null
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid user id or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1InstagramProfilesByUserIdBasic
      x-operation-id-source: derived
  /v1/instagram/profiles/{handle}/posts:
    get:
      tags:
      - Instagram
      summary: List Instagram profile posts
      description: List posts from an Instagram profile by handle.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges:
        - queryParam: hostMedia
          credits: 48
          when: boolean_true
          badge: +2 / asset
          label: +2 credits per hosted asset (up to 24)
        maxCredits: 49
        normalizationFailureCredits: 0
      x-socialfetch-credits-pricing: 1 credit base. With `hostMedia`, +2 credits per hosted asset (up to 24 assets, 49 credits max).
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 2048
          description: Instagram handle whose posts should be listed.
        required: true
        description: Instagram handle whose posts should be listed.
        name: handle
        in: path
      - schema:
          type: string
          minLength: 1
          description: Opaque pagination cursor from a previous response.
        required: false
        description: Opaque pagination cursor from a previous response.
        name: cursor
        in: query
      - schema:
          type: boolean
          description: When true, hosts source media for 90 days and returns delivery URLs in each post's `hostedMedia`.
        required: false
        description: When true, hosts source media for 90 days and returns delivery URLs in each post's `hostedMedia`.
        name: hostMedia
        in: query
      responses:
        '200':
          description: Instagram posts for the requested profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - private
                        - not_found
                        description: Whether posts could be listed for this handle.
                      posts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Instagram media id for this item (vendor-defined composite id).
                            shortcode:
                              type: string
                              minLength: 1
                              description: Public shortcode used in the Instagram post URL.
                            mediaType:
                              type: string
                              enum:
                              - image
                              - video
                              - sidecar
                              - unknown
                              description: Normalized media type.
                            caption:
                              type:
                              - string
                              - 'null'
                              description: Caption text when Instagram provides one.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the media was taken or posted (ISO-8601).
                            url:
                              type: string
                              minLength: 1
                              description: Canonical public Instagram URL for this media.
                            displayUrl:
                              type: string
                              description: Source-platform CDN URL for the primary display image when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. Omitted when no syntactically usable URL is available.
                            thumbnailUrl:
                              type: string
                              description: Source-platform CDN URL for the thumbnail or cover image when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset.
                            videoUrl:
                              type: string
                              description: Source-platform CDN URL for the video when this item is a video and a usable URL is available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. For durable hosted copies on this list route, pass `hostMedia=true`. For a single known post URL, `GET /v1/instagram/posts?downloadMedia=true` returns provider-hosted URLs in `downloads`.
                            likeCount:
                              type: integer
                              minimum: 0
                              description: Like count when Instagram exposes it.
                            commentCount:
                              type: integer
                              minimum: 0
                              description: Comment count when Instagram exposes it.
                            playCount:
                              type: integer
                              minimum: 0
                              description: Play or view count for video content when Instagram exposes it (Instagram-only views when distinguishable).
                            dimensions:
                              type: object
                              properties:
                                width:
                                  type: integer
                                  minimum: 0
                                  description: Media width in pixels.
                                height:
                                  type: integer
                                  minimum: 0
                                  description: Media height in pixels.
                              required:
                              - width
                              - height
                              description: Width and height when available.
                            taggedUsers:
                              type: array
                              items:
                                type: object
                                properties:
                                  handle:
                                    type: string
                                    minLength: 1
                                    description: Tagged Instagram username without a leading @.
                                  platformUserId:
                                    type: string
                                    description: Instagram numeric user id for the tagged account when present.
                                required:
                                - handle
                                description: A user tagged in an Instagram media item.
                              description: Users tagged in the media when Instagram exposes them.
                            hostedMedia:
                              type: array
                              items:
                                type: object
                                properties:
                                  status:
                                    type: string
                                    enum:
                                    - stored
                                    - failed
                                    description: Whether SocialFetch stored a durable copy of this asset.
                                  type:
                                    type: string
                                    enum:
                                    - image
                                    - video
                                    description: Normalized media kind.
                                  role:
                                    type: string
                                    enum:
                                    - display
                                    - thumbnail
                                    - video
                                    description: Which source field this asset was derived from.
                                  originalUrl:
                                    type: string
                                    format: uri
                                    description: Source-platform CDN URL that was requested for hosting. Still transient; prefer `url` when status is stored.
                                  url:
                                    type: string
                                    format: uri
                                    description: Time-limited SocialFetch delivery URL when status is stored. Re-request hostMedia (or a future refresh route) before this expires if you still need access; object retention may outlive the delivery URL.
                                  expiresAt:
                                    type: string
                                    format: date-time
                                    description: ISO-8601 timestamp when the returned delivery URL stops working.
                                  retainedUntil:
                                    type: string
                                    format: date-time
                                    description: ISO-8601 timestamp when the stored object is deleted from SocialFetch storage (90-day tier).
                                  mime:
                                    type: string
                                    minLength: 1
                                    description: MIME type of the stored bytes when status is stored.
                                  bytes:
                                    type: integer
                                    minimum: 0
                                    description: Stored size in bytes when status is stored.
                                  width:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Pixel width when known.
                                    exclusiveMinimum: 0
                                  height:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Pixel height when known.
                                    exclusiveMinimum: 0
                                  entityId:
                                    type: string
                                    minLength: 1
                                    description: Opaque parent entity id for this asset (post, reel, photo, or video id).
                                  postId:
                                    type: string
                                    minLength: 1
                                    description: Legacy Instagram media id alias for `entityId`. Prefer `entityId`.
                                  errorCode:
                                    type: string
                                    minLength: 1
                                    description: Typed failure code when status is failed.
                                  errorMessage:
                                    type: string
                                    minLength: 1
                                    description: Short customer-safe failure message when status is failed.
                                required:
                                - status
                                - type
                                description: SocialFetch-hosted original media asset or per-asset failure.
                              description: Present only when `hostMedia=true`. Hosted copies and/or per-asset failures for this post.
                          required:
                          - id
                          - shortcode
                          - mediaType
                          - caption
                          - createdAt
                          - url
                          description: A single Instagram post in a profile feed page.
                        description: Instagram posts for the requested profile page.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass as `cursor` in the next request when more posts are available.
                          hasMore:
                            type: boolean
                            description: Whether another page of posts is available from Instagram.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination state for the current response.
                    required:
                    - lookupStatus
                    - posts
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                first_page:
                  value:
                    data:
                      lookupStatus: found
                      posts:
                      - id: '3894186385615595223_260462810'
                        shortcode: DYK7eKrx6bX
                        mediaType: video
                        caption: Can you name that NFL logo?
                        url: https://www.instagram.com/p/DYK7eKrx6bX/
                        displayUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/671277477_1279367697191068_2208979038109104164_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=104&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=It8zbyTCZh0Q7kNvwFESLSf&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af6V_x7wp7SgJMPbc8dpd__iDj7t8aVtx5Gh9dVcyKY8bA&oe=6A0F35AE&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-2.cdninstagram.com/v/t51.71878-15/695048960_863111330155704_3282543452239843336_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=105&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=_gZAnsIQMZ4Q7kNvwEEFbAG&_nc_oc=AdpZkOmV_uE1Mlwbctw6ew7soyKZyIVKxvU5Yq-HwR1PjERyfAz9k9FBPO_Kf9HCrAY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af5KhTzP-vfOlMZzt-V5yUCiEyGzPiNdz865znGsjtoi7Q&oe=6A0F2ECD
                        videoUrl: https://scontent-iad6-1.cdninstagram.com/o1/v/t2/f2/m86/AQNIFEIp8V_UBmpXCKNPXbfYU-oi3iXQM02jiAG2LNhYeRmb6GBrsNlglKtw85FaJKqRGGetEbearEtdeo4gqR5_cwtQU0vZHfinJI8.mp4?_nc_cat=109&_nc_sid=5e9851&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_ohc=d5kMkQL5mCUQ7kNvwFrzDIl&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTY3OTY1Mzc2MzA3NTkxMywiYXNzZXRfYWdlX2RheXMiOjcsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjoxMTUsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&vs=99bc48e075520014&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC83MDQ3NTIzMjZCODQ3RjM5OTI5ODFCRjZGOTY5QTVBRF92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzY5NEJENUUxRkUxMDU2MzY2MjRBQkIzREMzRkREREEwX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACaSvabe2-j7BRUCKAJDMywXQFz5mZmZmZoYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af5W2JFEE24BeRHZjznKEu28tGMjecMeHi9cip3f_rTh0w&oe=6A0B5BEE
                        likeCount: 25598
                        commentCount: 703
                        playCount: 2657321
                        createdAt: '2026-05-10T22:00:00.000Z'
                      - id: '3894126275165877953_260462810'
                        shortcode: DYKtzcdxvbB
                        mediaType: video
                        caption: Tom Segura said the food in Tokyo is next level
                        url: https://www.instagram.com/p/DYKtzcdxvbB/
                        displayUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/684461203_1928600604449074_6004532755645548686_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=110&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=uSBV25tjFRgQ7kNvwGKoIcW&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af7xF0TndZlifv1rNnNkvGKY1z9F_UcneJH7kCd882a4nA&oe=6A0F32F4&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad6-1.cdninstagram.com/v/t51.71878-15/689447069_2042082826714010_2180918201319219067_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=107&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMiJ9&_nc_ohc=nj89bjG_kn8Q7kNvwFdstJY&_nc_oc=AdpoovwJS4V2F93iea4AfOaZllUbFrwKGmtmcEfWM5tAgcgquI3whDe894eY5TEFw0w&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af72G5VDaCrWR_1GtIbskoHiBQ45m1hgtUjPwdLdjkS7EQ&oe=6A0F3E0D
                        videoUrl: https://scontent-iad6-1.cdninstagram.com/o1/v/t2/f2/m86/AQPPbGy45dtX_qPw-fS_ULCVTvxyUsheCEbZPZyBNsbyD3zKbKP62s7uz1Lm34ppm_vSEsPN6hUrA4ewV4vLiB6KWcUdfJGz0TNrC_g.mp4?_nc_cat=100&_nc_sid=5e9851&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_ohc=woJj_1mY3L4Q7kNvwEb4sTw&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6OTc2MjI0NjU0OTIwNDI4LCJhc3NldF9hZ2VfZGF5cyI6NywidmlfdXNlY2FzZV9pZCI6MTAwOTksImR1cmF0aW9uX3MiOjEyNiwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=37aa3adbf4a42412&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC9CRTQ3RUNCMUIxMjY2MzJGNzhGMzQ2RDVEOTZFQkI5Q192aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyL0FDNDE3Mjg2MTQyMTQxMERCMEFCMUUyMUVBNDg3MjhBX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACbYq7i84Pe7AxUCKAJDMywXQF-EOVgQYk4YEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af583XqWHk7VAryVMfpMaRnkgqYr8fXJnZ55QEzppp9FNw&oe=6A0B55A9
                        likeCount: 407801
                        commentCount: 8238
                        playCount: 7124672
                        createdAt: '2026-05-10T20:00:00.000Z'
                      - id: '3891103473245166237_260462810'
                        shortcode: DX_-f4zERqd
                        mediaType: image
                        caption: 'The Surviving Barstool Season 5 Cast has been revealed


                          Who do you think will win it all?'
                        url: https://www.instagram.com/p/DX_-f4zERqd/
                        displayUrl: https://scontent-iad3-2.cdninstagram.com/v/t51.82787-15/687794861_18601586692046811_8352141966610100441_n.jpg?stp=c0.180.1440.1440a_dst-jpg_e35_s1080x1080_sh2.08_tt6&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_cat=103&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=jlXaK77EK4YQ7kNvwHeH90-&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af5QK9S7k5LMfFQl35lPBjG7az6fyJ0KMGzK0l_Vd_zElw&oe=6A0F550E&_nc_sid=ee9879
                        likeCount: 13378
                        commentCount: 613
                        createdAt: '2026-05-06T13:55:10.000Z'
                      - id: '3898716300094425110_260462810'
                        shortcode: DYbBdGTJ0gW
                        mediaType: video
                        caption: Is Jrue Holiday a Hall of Famer?
                        url: https://www.instagram.com/p/DYbBdGTJ0gW/
                        displayUrl: https://scontent-iad6-1.cdninstagram.com/v/t51.71878-15/700208002_1001848832236442_641423857691623090_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=cIHcBnQ2vtwQ7kNvwHWNAq9&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af6TNbP3M0ZNzUt4X8IZpcwTA17fldnX921lseragGTOMw&oe=6A0F3C64&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/702191633_1293663032320998_7889684552466610339_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=1&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=f8WLpAB0Fi4Q7kNvwE0hd72&_nc_oc=AdorqJdp-OpPkHX-k4ghkXBbFrb27wblrBWFcZys_Pl6DX9ES7moFEFM5ICj41RgvOE&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af7WfBFuBv-fFAkzDGCjjbwqnSiEHC6GLW0GtaLWL1TGzQ&oe=6A0F339C
                        videoUrl: https://scontent-iad3-2.cdninstagram.com/o1/v/t2/f2/m86/AQN5-e6Cnfxqt8akhVcRssuesJqie_fur8sPif07-hWKuyC45cz0HBa7i-DX4En6AFrNK58wp8nGk4NWyAK44rk4ANf_GbXbqQ87rgU.mp4?_nc_cat=111&_nc_sid=5e9851&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_ohc=iM7u-ostd_MQ7kNvwF1IVFy&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTA3OTQ4NTUyNTI1NjQ2MCwiYXNzZXRfYWdlX2RheXMiOjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjoxMjMsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&vs=b8ccb5007d4bbf0b&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC8wMzQ3NzRBRTgxNEJEQkQ0NzE0NjBCQUY3N0NERTQ4Ql92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzU1NDIzNjUwMURBNDI2NUY5NkY4NjRBMDJEREJEOEE0X2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACaYpK_0qfLqAxUCKAJDMywXQF8AAAAAAAAYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af5vVTeLD91oBUd6YPR99-qo2T5Semh4X9J_KTNiEgMJhg&oe=6A0B3718
                        likeCount: 3131
                        commentCount: 181
                        playCount: 189327
                        createdAt: '2026-05-17T02:00:00.000Z'
                      - id: '3898655835636992272_260462810'
                        shortcode: DYaztOYpYkQ
                        mediaType: video
                        caption: What’s the best sound effect?
                        url: https://www.instagram.com/p/DYaztOYpYkQ/
                        displayUrl: https://scontent-iad6-1.cdninstagram.com/v/t51.71878-15/701663968_998250709560846_5085146507693104996_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=l3_LxzDuAQcQ7kNvwGAE5qV&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af6TUy5LH3Xi7l_a6OSFv8TuAShU4vYP1G7YNyxF-3v_VQ&oe=6A0F5317&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/671227331_4590698541164870_3642512664017200646_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=1&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=vWp8MMah3pUQ7kNvwFjS1Jq&_nc_oc=AdqAoEzSLcZms1EvUBjhz9yPAV1AJK-n74o_p5AuiVfueJFyMLeUPR8fDULDzUzeyTA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af71iKaNCdhVDosdQzuisnQLaJCNBAs0tMLC6B_Me7WMvg&oe=6A0F37B6
                        videoUrl: https://scontent-iad6-1.cdninstagram.com/o1/v/t2/f2/m86/AQOIIznULS-0WFVfLenLNHIS-GkglQvZ9B1BCV2kekMHRjkXIa6kiSC7uXPdE1i5GAaop9_64Ky7xF-CYmawk5BNb2iAwaQWOp8nyJQ.mp4?_nc_cat=107&_nc_sid=5e9851&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_ohc=AnzL886FgzgQ7kNvwEf74Q_&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTg5MjUzMTI3NDc5MzQzMSwiYXNzZXRfYWdlX2RheXMiOjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjozNiwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=b7b1b131f77e8e25&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC8yMTRFMzJEMzk5RkJBOTlGNzBFREQ0RjY2RDA3OTE4OF92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzc3NENDNTM3ODIyRjU4OUQ5NjY1QTVFOTM4ODk4MjlCX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACauh-Ll6M_cBhUCKAJDMywXQEJmyLQ5WBAYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af5WTCos2lzvAnOt3UthybQfHQUC02ST1_JoWGwCneujZg&oe=6A0B4A70
                        likeCount: 1357
                        commentCount: 21
                        playCount: 234472
                        createdAt: '2026-05-17T00:00:00.000Z'
                      - id: '3898595340385094778_260462810'
                        shortcode: DYal85ypYx6
                        mediaType: video
                        caption: 'Who should go #1 overall?'
                        url: https://www.instagram.com/p/DYal85ypYx6/
                        displayUrl: https://scontent-iad6-1.cdninstagram.com/v/t51.71878-15/670272105_952842837627945_6644392763408236218_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_cat=109&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=M3ICXgDPLEYQ7kNvwGrIPnY&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af44IIfN03LQ13BlEpTyoz81-AYo88uUwX4ZvO5lgHBo4A&oe=6A0F448E&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/700129743_26636290422689302_6457364652355564582_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=1&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=y9wfTGv4UskQ7kNvwHkW61S&_nc_oc=AdryFwFimZrYSC8EAI7W52Y675RDkLPlXwTFEW1WMPv7hAaqXuL9HiXBWVQFNF-8ThE&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af733_Y3d6LBViLRrDXlWjt5kGIepl3_xS_g4bgMSbKofQ&oe=6A0F3F00
                        videoUrl: https://scontent-iad6-1.cdninstagram.com/o1/v/t2/f2/m86/AQMw37Vzsye2aBveqrlmwU8SGj-WNYKcRXaFWbShy-ySo7jJa1Nd3bksy4wsaYjFdOcWwc1U22SL8hGmgRuRsqMe6NRB4613F0Wthh8.mp4?_nc_cat=106&_nc_sid=5e9851&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_ohc=_Dh9NZ_yNsMQ7kNvwHWc4Jm&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTk5NTkwMjAyODQ2NzU1MSwiYXNzZXRfYWdlX2RheXMiOjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjo2MSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=990f396277cacbf8&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC8xMzRDMkUzMUQ2N0ZDNjZDRENDNjAyRkMwNDM3ODc5NV92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzJFNERFODFGM0Q4QTlFMjFCNDgwMTlCMjVFQ0E0NTlBX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACa-tc725NCLBxUCKAJDMywXQE6MCDEm6XkYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af7l6uDK3GG6niQDWoQ0p3Ol8BfeBBTCQoHp6bnPf7SsFQ&oe=6A0B56D3
                        likeCount: 1682
                        commentCount: 54
                        playCount: 206718
                        createdAt: '2026-05-16T22:00:00.000Z'
                      - id: '3898535413662779617_260462810'
                        shortcode: DYaYU2rpojh
                        mediaType: video
                        caption: What is the most iconic call in broadcasting?
                        url: https://www.instagram.com/p/DYaYU2rpojh/
                        displayUrl: https://scontent-iad6-1.cdninstagram.com/v/t51.71878-15/690004709_2199347637502838_599155185450000418_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=_AF8UQOAMpAQ7kNvwFJ5I9I&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af7_MQdGlQyR8ExVOJsPMqpwrNXemOww1cXp7O2xTn14mw&oe=6A0F2FA7&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/671036021_1510995450610386_6210575742281712712_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=1&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=npj00o-zADsQ7kNvwHwClYK&_nc_oc=AdpkTXIP422LeeSi6AH0wnyry75sQxVHmFrK2p4AXdROJKfFOubJoluk-gXSogqgEkQ&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af4CVPUgBTUEmVndvm_3ZeTFiHO4pJ-WABFuBuHjb6BSoQ&oe=6A0F4AF8
                        videoUrl: https://scontent-iad3-1.cdninstagram.com/o1/v/t2/f2/m86/AQPR0ZI9-Y_y7QuckrAzvUnJCBBMYUl13sQMeoHek9FX2MhKTkEnBtJ1tTLQoOBW3uacrB-i8eOD8gb4ILLxFAqOULpxRGaNZE0o1wg.mp4?_nc_cat=110&_nc_sid=5e9851&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_ohc=U8pK0ucpLH8Q7kNvwFbZtmN&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNTc2LmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTMxNTA5MTczMDU5NTMzMiwiYXNzZXRfYWdlX2RheXMiOjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjo4OSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=268b44fe665c3fbe&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC9ERjRBNkY0OEY5MDUzRjJGRjE2RkE0QzM3RDQ4MzI4Ql92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzFDNDQ5OEI5MzM3RjkxOUZGODhFNTBFMTU4NUREODhGX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACaI-Jf3tITWBBUCKAJDMywXQFZ90vGp--cYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af5uYGYWmxXV6TG0XC54B4Dt-SBAjAZsB3S58YGD1s5Yuw&oe=6A0B4A03
                        likeCount: 3631
                        commentCount: 661
                        playCount: 418533
                        createdAt: '2026-05-16T20:00:00.000Z'
                      - id: '3898474560124940469_260462810'
                        shortcode: DYaKfUaJPC1
                        mediaType: video
                        caption: Tom Segura’s one restaurant recommendation
                        url: https://www.instagram.com/p/DYaKfUaJPC1/
                        displayUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/700260688_27104855935806976_2011833705063801371_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=104&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=SGQ2n1UCsJIQ7kNvwHe9hND&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af4wzeEWeQpUr2HuP467fmtYa8oCLSws0lNaUoVFrhjlLA&oe=6A0F45FB&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/701420610_1008190915222163_8429850421162483717_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=1&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=1_D42mPYwOEQ7kNvwH-rtN9&_nc_oc=Adop-u0SY73Wy-55nr_7nOHiOuu2QZOmsbaSEivJ6MwFxQ6OkyXilYSgATlHiur_b4c&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af7B03fJbiz3pqdTzZ_cuYQmWG7BSoMcYFNyfsQ9_MgGSQ&oe=6A0F3A9F
                        videoUrl: https://scontent-iad6-1.cdninstagram.com/o1/v/t2/f2/m86/AQOcSy4yLp120xJ0etFAD_AAj20VVMS1ldaOJVy2fnmzDLJZ3BiV8-8f5do2JY9bwvULYq8j-CU2AOxtwK-D0evvpxBwa0Doz9DGKS4.mp4?_nc_cat=100&_nc_sid=5e9851&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_ohc=TkP0sbXi_AoQ7kNvwEpgQ1F&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzIuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MjIyNDExMDI2ODQxNjkzMCwiYXNzZXRfYWdlX2RheXMiOjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjo1OSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=8d6455a2d4b4c85e&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC82MzRBQkJGMzhGODg1RkQxOUZENzI0RjA5NEU2M0NBMF92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyL0FCNEEwNjI1NUMxNkYyNTZEMUJFOEU5OUUxODQwQ0E3X2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACbEjuznoLTzBxUCKAJDMiwXQE2ZmZmZmZoYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af6oJ4jYCCNrwL6jSfT7Rm7PTKSdBKEdYqO-4ysSdEv8Ng&oe=6A0B5D7D
                        likeCount: 7386
                        commentCount: 97
                        playCount: 555654
                        createdAt: '2026-05-16T18:00:00.000Z'
                      - id: '3898414309828948813_260462810'
                        shortcode: DYZ8yj8p3NN
                        mediaType: video
                        caption: What country is named after a mountain?
                        url: https://www.instagram.com/p/DYZ8yj8p3NN/
                        displayUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/686971934_1299840628951876_3816828907102504337_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=104&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=9WDvSN4fP-wQ7kNvwH1zYE-&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af6cpfWTxcwf3HtC3M4zRhg7Jy4rVx0OTBu8vpxlfmzs5A&oe=6A0F3071&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/701216868_930272103327315_6916645033595217818_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=1&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=QaUo7uNKWRIQ7kNvwGtTmBa&_nc_oc=AdrfwUOF3-Mr3O3m9lUwGBJVle92udCgSQAR75IEwUg10TB72O0fGI88kg-6X3guKGw&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af7MhG-w7aCKYQVY55ogyOmyEFTrKWBdhtDiP16l4rbaaw&oe=6A0F4B9C
                        videoUrl: https://scontent-iad3-1.cdninstagram.com/o1/v/t2/f2/m86/AQMFVtV0i_ShDzkg1YtzbOfq9SJ7J8keD0VzS55qRm-58Aur_u7JLmyyuOsHeMBWhp4aiqn8YkXLIPQW7yqT52CfHBO0O8zjbiKmSZY.mp4?_nc_cat=104&_nc_sid=5e9851&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_ohc=C9NhHsCgizUQ7kNvwHx_80H&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTM3Njc2NDMzNzYxNTA4OCwiYXNzZXRfYWdlX2RheXMiOjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjo3NSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=50e0d6d316727b97&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC9FOTREOEQ3RUVBM0M1NTNCOEY0MDVGNzYzRDkwMkNBOV92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyL0Y2NDk5NEM5NEJGMjU4NUZEREM5RjA0ODk5OTNCNTkzX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACbgw8PUnYryBBUCKAJDMywXQFLAAAAAAAAYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af4RhdP3ezVd8meN5GXlvAgL5N5ZIi9TPk_kq6UEEQZbSQ&oe=6A0B2EFD
                        likeCount: 7365
                        commentCount: 339
                        playCount: 1073545
                        createdAt: '2026-05-16T16:00:00.000Z'
                      - id: '3894307449066732016_260462810'
                        shortcode: DYLW_3zx7nw
                        mediaType: video
                        caption: Can you identify this movie based on these 3 screenshots?
                        url: https://www.instagram.com/p/DYLW_3zx7nw/
                        displayUrl: https://scontent-iad6-1.cdninstagram.com/v/t51.71878-15/688871894_1619448905986797_8119666651556314392_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_cat=109&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=Q1-z7_vBnvwQ7kNvwFc-Wwf&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af7jLvzeXpXosWDHW0q2MaTYMCJ59h1UBMGZZozo6LogVA&oe=6A0F4553&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-1.cdninstagram.com/v/t51.71878-15/694949173_1220717676635505_1317468082601963786_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=1&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=wm3johV8cvsQ7kNvwEUg2_4&_nc_oc=AdoW-3y8JypYOEvmts05imbjbiiNbCp0UdCElIyvNl1-Rmj-kTcZ4f7DHHbkp3ICrjo&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af7l_uoX645ftZoZNGvM2FB3ZUjePs1UxEt9FMmqz9ITrQ&oe=6A0F45CA
                        videoUrl: https://scontent-iad6-1.cdninstagram.com/o1/v/t2/f2/m86/AQM9bmKo1VIq8qVS7eMz3G7XDyu4gBc1hr-THQ2a4L9tahbCRjRP2t6YiajmeZNYPtN2YxCA2yXtcMb63MpAGfE7rVT-C3iQi3r9xVc.mp4?_nc_cat=107&_nc_sid=5e9851&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_ohc=g7Ts2Z2qxaIQ7kNvwHqC83v&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6OTkxNTk4MjAzNDg3NTkyLCJhc3NldF9hZ2VfZGF5cyI6NywidmlfdXNlY2FzZV9pZCI6MTAwOTksImR1cmF0aW9uX3MiOjE0MywidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=b93705865e5a9856&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC9DNzQ2NjU3QTMyMjg2NEI1QzgwRDFFNTZCNzU4NUJBQ192aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyL0IyNENCNzFGREZBNEI3QTZCMUVFRTFFRjBDRUMyNTlGX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACbQle6qzvbCAxUCKAJDMywXQGH4gxJul40YEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af6qkuptP0bUkWUpL_FNpMASbVU42tG7p-nkshLzQmYa1g&oe=6A0B4144
                        likeCount: 7931
                        commentCount: 229
                        playCount: 1021038
                        createdAt: '2026-05-16T14:00:00.000Z'
                      - id: '3894246787435063658_260462810'
                        shortcode: DYLJNIQxelq
                        mediaType: video
                        caption: Cleveland is more of a coastal town than LA
                        url: https://www.instagram.com/p/DYLJNIQxelq/
                        displayUrl: https://scontent-iad3-2.cdninstagram.com/v/t51.71878-15/689248200_1499991581490041_8966764406732030030_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_cat=105&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=NOSbmz8FWhUQ7kNvwHJ8iob&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af6A1ujhSgBHsTgF5xYJFNMj23CbFkOnnVbiACHOy9gYZg&oe=6A0F2908&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-2.cdninstagram.com/v/t51.71878-15/688223280_1519355339846891_1224955121042756010_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=111&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=ei67Yp9opsgQ7kNvwGO8W0B&_nc_oc=AdqFilPpxwm7N0HT-fGVnQzW7zu0Rbg5gmSY97OmpWcQm7xhmX_Acw__VOTxYqa-uAA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af66hajYgsNcBAlpAy1EZYHKjK7uCWy1gUdtBE0IAdC1pw&oe=6A0F4192
                        videoUrl: https://scontent-iad3-2.cdninstagram.com/o1/v/t2/f2/m86/AQP9A3C0RmGkhZrG9EP3k6q-gGZx6rfo2degbdfYkxGM0U7U7WZn0O7zTaGvyW0xFwBgRbiFWn6r486z0fSJwx5DPZ83KPAURV8wkEU.mp4?_nc_cat=105&_nc_sid=5e9851&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_ohc=QcoKGeKqaCAQ7kNvwHydTy6&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTMyNjA0MDYyNjA5MTc3MSwiYXNzZXRfYWdlX2RheXMiOjcsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjo0MCwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=d598c6ccacbb9936&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC9CODRBQzNBNzU4NUQ3QTE5QzdBRTkzRjQxRDE0M0VCNF92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzM2NDU0MTk5QjBGRkQyNkQ1OUI4ODEwQkJBNzhDODkyX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACb2287H3IHbBBUCKAJDMywXQER8rAgxJukYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af6skfjWVmcXhYCy8aHXFx4fERGpRo8gbf42_fxuGYweYA&oe=6A0B5776
                        likeCount: 5011
                        commentCount: 328
                        playCount: 337952
                        createdAt: '2026-05-16T12:00:00.000Z'
                      - id: '3897946163175031286_260462810'
                        shortcode: DYYSWIZpQH2
                        mediaType: video
                        caption: Big Cat’s Fyre Fest of the week is that Russillo accepted the CP3 Finals banner
                        url: https://www.instagram.com/p/DYYSWIZpQH2/
                        displayUrl: https://scontent-iad6-1.cdninstagram.com/v/t51.71878-15/688073997_1612709369810275_5998012962297229121_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_cat=107&_nc_oc=Q6cZ2gFQ_6uCKoaP_PT1jMTEczpzQe2-4RvItgj1AaV_aDHb9W5Arid95um0ZzQxUT_9tVU&_nc_ohc=_ejAQDvRUg0Q7kNvwE2zkCE&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_Af4q2J6xxdcYB0W7Y6Zx8XkAlldfQCxmdbw1vBNkVHakBQ&oe=6A0F4D3C&_nc_sid=ee9879
                        thumbnailUrl: https://scontent-iad3-2.cdninstagram.com/v/t51.71878-15/696727600_1689872172147728_1091342014164330912_n.jpg?stp=dst-jpg_e15_tt6&_nc_cat=111&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLnhwaWRzLjY0MC5zZHIudmlkZW9fYWRkaXRpb25hbF9jb3Zlcl9mcmFtZS5DMyJ9&_nc_ohc=QJ7pi-I1D84Q7kNvwHmfchy&_nc_oc=Adr8DdIR-5ZyLzM4s7Yitzxx9jfJnLcJPigpfW9UE2PQUhEB_bO61RIBIK3BlRAfdZI&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_ss=7a22e&oh=00_Af4yOmtQokXxBhR1qqj8LLSKOZWbjT2gage_9rOFQCRtkw&oe=6A0F2AAF
                        videoUrl: https://scontent-iad6-1.cdninstagram.com/o1/v/t2/f2/m86/AQMD1mUjc773FymV5ZDqFpx7WJSjoHp-pkTBjbfCvScRJOlDfctpkd56T6U6aA1ni3cxqYB5O2KGefcUfWEMpepwAKkbQZ8R_aXnZtg.mp4?_nc_cat=106&_nc_sid=5e9851&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_ohc=d9ptpf59FdAQ7kNvwHX4tib&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MjY5Nzc3MTQ4OTUxNzg5ODUsImFzc2V0X2FnZV9kYXlzIjoxLCJ2aV91c2VjYXNlX2lkIjoxMDA5OSwiZHVyYXRpb25fcyI6NjUsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&vs=a5ce0cbabb7ebb14&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC81RjQ5Mzg3NjJDNjEwRThBNDIyNjE2OUIyNjU0QTlBNl92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyLzMxNEU2QzVBMDgyM0VDNzVERjQ5MUUzQTVGOEMyMDkzX2F1ZGlvX2Rhc2hpbml0Lm1wNBUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACbSs-6S14XsXxUCKAJDMywXQFB9wo9cKPYYEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HZeadAQA&_nc_gid=VlLUVqYu_drrIBa6bb-nmQ&_nc_zt=28&_nc_ss=7a22e&oh=00_Af4ZrHFWG_iR2YPGIIA4kilM83WQRFSpFJcEFwG8CdkPhg&oe=6A0B3443
                        likeCount: 604
                        commentCount: 5
                        playCount: 160292
                        createdAt: '2026-05-16T00:30:00.000Z'
                      page:
                        nextCursor: '3897946163175031286_260462810'
                        hasMore: true
                    meta:
                      requestId: req_f034548e-a2b9-44bf-80be-f209197abf08
                      creditsCharged: 1
                      version: v1
                paginated:
                  value:
                    data:
                      lookupStatus: found
                      posts:
                      - id: '3599731065704772932_260462810'
                        shortcode: ABCdefGhIjK
                        mediaType: image
                        caption: null
                        createdAt: '2025-03-26T14:40:00.000Z'
                        url: https://www.instagram.com/barstoolsports/p/ABCdefGhIjK/
                        displayUrl: https://scontent.cdninstagram.com/v/t51.2885-15/page2.jpg?_nc_ht=scontent.cdninstagram.com&oh=example&oe=DEADBEEF
                        likeCount: 120
                        commentCount: 3
                      page:
                        nextCursor: '3599000000000000000_260462810'
                        hasMore: true
                    meta:
                      requestId: req_01example_page_2
                      creditsCharged: 1
                      version: v1
                empty:
                  value:
                    data:
                      lookupStatus: found
                      posts: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                private_restricted:
                  value:
                    data:
                      lookupStatus: private
                      posts: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_private
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      posts: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_nf
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid handle, cursor, or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
[...]
