openapi: 3.2.0
info:
  title: Social Fetch Public Git Hub API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Github
paths:
  /v1/github/profiles/{handle}:
    get:
      tags:
      - Github
      summary: Get GitHub profile
      description: Get a GitHub profile for a user or organization.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 39
          description: GitHub username to look up, with or without a leading @.
        required: true
        description: GitHub username to look up, with or without a leading @.
        name: handle
        in: path
      responses:
        '200':
          description: GitHub profile lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the profile was found.
                      profile:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - github
                            description: Social platform for this profile.
                          handle:
                            type: string
                            description: GitHub username (login).
                          displayName:
                            type:
                            - string
                            - 'null'
                            description: Public display name when set on the profile.
                          bio:
                            type:
                            - string
                            - 'null'
                            description: Profile biography text.
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                            description: Avatar image URL when available.
                          profileUrl:
                            type: string
                            minLength: 1
                            description: Canonical public GitHub profile URL.
                          platformUserId:
                            type: string
                            description: GitHub user or organization id as a string.
                          nodeId:
                            type: string
                            description: GitHub node id when available.
                          accountType:
                            type: string
                            enum:
                            - User
                            - Organization
                            description: Whether this profile is a user or organization account.
                          company:
                            type:
                            - string
                            - 'null'
                            description: Company shown on the profile when available.
                          location:
                            type:
                            - string
                            - 'null'
                            description: Location shown on the profile when available.
                          blog:
                            type:
                            - string
                            - 'null'
                            description: Blog or website URL from the profile when available.
                          email:
                            type:
                            - string
                            - 'null'
                            description: Public email when exposed by GitHub.
                          twitterUsername:
                            type:
                            - string
                            - 'null'
                            description: Linked X (Twitter) username when set on the profile.
                          siteAdmin:
                            type: boolean
                            description: Whether the account is a GitHub site administrator.
                          accountCreatedAt:
                            type: string
                            description: Account creation timestamp (ISO 8601) when available.
                          accountUpdatedAt:
                            type: string
                            description: Profile last-updated timestamp (ISO 8601) when available.
                        required:
                        - platform
                        - handle
                        - displayName
                        - bio
                        - avatarUrl
                        - profileUrl
                        - accountType
                        description: Profile details when available.
                      metrics:
                        type:
                        - object
                        - 'null'
                        properties:
                          followers:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Follower count when available.
                          following:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Following count when available.
                          publicRepos:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Public repository count when available.
                          publicGists:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Public gist count when available.
                        required:
                        - followers
                        - following
                        - publicRepos
                        - publicGists
                        description: Profile metrics when available.
                    required:
                    - lookupStatus
                    - profile
                    - metrics
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      profile:
                        platform: github
                        handle: torvalds
                        displayName: Linus Torvalds
                        bio: null
                        avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                        profileUrl: https://github.com/torvalds
                        platformUserId: '1024025'
                        nodeId: MDQ6VXNlcjEwMjQwMjU=
                        accountType: User
                        company: Linux Foundation
                        location: Portland, OR
                        email: null
                        twitterUsername: null
                        siteAdmin: false
                        accountCreatedAt: '2011-09-03T15:26:22Z'
                        accountUpdatedAt: '2026-06-02T05:33:59Z'
                      metrics:
                        followers: 306179
                        following: 0
                        publicRepos: 12
                        publicGists: 1
                    meta:
                      requestId: req_01example_github_profile
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      profile: null
                      metrics: null
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid handle or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1GithubProfilesByHandle
      x-operation-id-source: derived
  /v1/github/profiles/{handle}/repositories:
    get:
      tags:
      - Github
      summary: List GitHub profile repositories
      description: List repositories for a GitHub user or organization.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 39
          description: GitHub username whose public repositories should be listed.
        required: true
        description: GitHub username whose public repositories should be listed.
        name: handle
        in: path
      - schema:
          type: string
          minLength: 1
          description: Pagination cursor returned by a previous response.
        required: false
        description: Pagination cursor returned by a previous response.
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - owner
          - all
          - member
          description: 'Repository type filter. `owner`: repos owned by the user. `all`: owned repos plus repos from organizations the user belongs to. `member`: only repos the user belongs to via organization membership (not owned by the user). Default: `owner`.'
        required: false
        description: 'Repository type filter. `owner`: repos owned by the user. `all`: owned repos plus repos from organizations the user belongs to. `member`: only repos the user belongs to via organization membership (not owned by the user). Default: `owner`.'
        name: type
        in: query
      - schema:
          type: string
          enum:
          - created
          - updated
          - pushed
          - full_name
          description: Sort field for repositories.
        required: false
        description: Sort field for repositories.
        name: sort
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          description: Sort direction.
        required: false
        description: Sort direction.
        name: direction
        in: query
      responses:
        '200':
          description: GitHub repositories lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the profile resolved for this request.
                      repositories:
                        type: array
                        items:
                          type: object
                          properties:
                            platformRepoId:
                              type: string
                              description: GitHub repository id as a string.
                            nodeId:
                              type: string
                              description: GitHub node id when available.
                            name:
                              type: string
                              description: Repository name without the owner prefix.
                            fullName:
                              type: string
                              description: Full repository name in `owner/repo` form.
                            owner:
                              type: object
                              properties:
                                platformUserId:
                                  type: string
                                  description: GitHub user or organization id as a string.
                                handle:
                                  type: string
                                  description: GitHub login (username).
                                avatarUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: Avatar image URL for the owner.
                                profileUrl:
                                  type: string
                                  minLength: 1
                                  description: Canonical public GitHub profile URL for the owner.
                                accountType:
                                  type: string
                                  enum:
                                  - User
                                  - Organization
                                  description: Whether the owner is a user or organization.
                              required:
                              - platformUserId
                              - handle
                              - avatarUrl
                              - profileUrl
                              - accountType
                              description: Repository owner.
                            isPrivate:
                              type: boolean
                              description: Whether the repository is private.
                            profileUrl:
                              type: string
                              minLength: 1
                              description: Canonical public GitHub repository URL.
                            description:
                              type:
                              - string
                              - 'null'
                              description: Repository description when available.
                            isFork:
                              type: boolean
                              description: Whether the repository is a fork.
                            homepage:
                              type:
                              - string
                              - 'null'
                              description: Homepage URL when set on the repository.
                            language:
                              type:
                              - string
                              - 'null'
                              description: Primary programming language when reported.
                            forksCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Fork count when available.
                            starsCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Star count when available.
                            watchersCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Watcher count when available.
                            sizeKb:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Repository size in kilobytes when available.
                            defaultBranch:
                              type:
                              - string
                              - 'null'
                              description: Default branch name when available.
                            openIssuesCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Open issue count when available.
                            topics:
                              type: array
                              items:
                                type: string
                              description: Repository topic tags when available.
                            license:
                              type:
                              - object
                              - 'null'
                              properties:
                                key:
                                  type: string
                                  description: License key identifier.
                                name:
                                  type: string
                                  description: Human-readable license name.
                                spdxId:
                                  type:
                                  - string
                                  - 'null'
                                  description: SPDX license identifier when available.
                              required:
                              - key
                              - name
                              - spdxId
                              description: License metadata when available.
                            archived:
                              type: boolean
                              description: Whether the repository is archived.
                            disabled:
                              type: boolean
                              description: Whether the repository is disabled.
                            visibility:
                              type:
                              - string
                              - 'null'
                              description: Repository visibility label when available.
                            pushedAt:
                              type:
                              - string
                              - 'null'
                              description: Last push timestamp (ISO 8601) when available.
                            createdAt:
                              type:
                              - string
                              - 'null'
                              description: Creation timestamp (ISO 8601) when available.
                            updatedAt:
                              type:
                              - string
                              - 'null'
                              description: Last update timestamp (ISO 8601) when available.
                          required:
                          - platformRepoId
                          - name
                          - fullName
                          - owner
                          - isPrivate
                          - profileUrl
                          - description
                          - isFork
                          - homepage
                          - language
                          - forksCount
                          - starsCount
                          - watchersCount
                          - sizeKb
                          - defaultBranch
                          - openIssuesCount
                          - topics
                          - license
                          - archived
                          - disabled
                          - visibility
                          - pushedAt
                          - createdAt
                          - updatedAt
                          description: GitHub repository metadata.
                        description: Public repositories for the requested profile page.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Opaque cursor for the next page, or null when there is no next page.
                          hasMore:
                            type: boolean
                            description: Whether another page of results is available.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination state for the current page.
                    required:
                    - lookupStatus
                    - repositories
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      repositories:
                      - platformRepoId: '2325298'
                        nodeId: MDEwOlJlcG9zaXRvcnkyMzI1Mjk4
                        name: linux
                        fullName: torvalds/linux
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/linux
                        description: Linux kernel source tree
                        isFork: false
                        homepage: ''
                        language: C
                        forksCount: 62741
                        starsCount: 235824
                        watchersCount: 235824
                        sizeKb: 6305272
                        defaultBranch: master
                        openIssuesCount: 3
                        topics: []
                        license:
                          key: other
                          name: Other
                          spdxId: NOASSERTION
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2026-06-08T15:03:19Z'
                        createdAt: '2011-09-04T22:48:12Z'
                        updatedAt: '2026-06-08T15:40:20Z'
                      - platformRepoId: '1058343058'
                        nodeId: R_kgDOPxUIkg
                        name: GuitarPedal
                        fullName: torvalds/GuitarPedal
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/GuitarPedal
                        description: Linus learns analog circuits
                        isFork: false
                        homepage: ''
                        language: C
                        forksCount: 75
                        starsCount: 1980
                        watchersCount: 1980
                        sizeKb: 6691
                        defaultBranch: main
                        openIssuesCount: 2
                        topics: []
                        license:
                          key: gpl-2.0
                          name: GNU General Public License v2.0
                          spdxId: GPL-2.0
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2026-06-07T19:05:30Z'
                        createdAt: '2025-09-17T01:01:29Z'
                        updatedAt: '2026-06-08T14:46:59Z'
                      - platformRepoId: '1257356954'
                        nodeId: R_kgDOSvG-mg
                        name: ScrollWheel
                        fullName: torvalds/ScrollWheel
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/ScrollWheel
                        description: Minimalist RP2350 magnetic sensor scroll wheel toy project
                        isFork: false
                        homepage: null
                        language: C
                        forksCount: 9
                        starsCount: 247
                        watchersCount: 247
                        sizeKb: 15
                        defaultBranch: main
                        openIssuesCount: 7
                        topics: []
                        license:
                          key: gpl-2.0
                          name: GNU General Public License v2.0
                          spdxId: GPL-2.0
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2026-06-02T15:52:37Z'
                        createdAt: '2026-06-02T15:48:56Z'
                        updatedAt: '2026-06-08T12:31:04Z'
                      - platformRepoId: '113099837'
                        nodeId: MDEwOlJlcG9zaXRvcnkxMTMwOTk4Mzc=
                        name: pesconvert
                        fullName: torvalds/pesconvert
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/pesconvert
                        description: Brother PES file converter
                        isFork: false
                        homepage: null
                        language: C
                        forksCount: 74
                        starsCount: 561
                        watchersCount: 561
                        sizeKb: 17
                        defaultBranch: master
                        openIssuesCount: 6
                        topics: []
                        license: null
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2022-12-22T10:46:37Z'
                        createdAt: '2017-12-04T21:58:56Z'
                        updatedAt: '2026-06-07T13:21:36Z'
                      - platformRepoId: '519408694'
                        nodeId: R_kgDOHvWMNg
                        name: libgit2
                        fullName: torvalds/libgit2
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/libgit2
                        description: A cross-platform, linkable library implementation of Git that you can use in your application.
                        isFork: true
                        homepage: https://libgit2.org/
                        language: C
                        forksCount: 27
                        starsCount: 360
                        watchersCount: 360
                        sizeKb: 62768
                        defaultBranch: main
                        openIssuesCount: 1
                        topics: []
                        license:
                          key: other
                          name: Other
                          spdxId: NOASSERTION
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2023-12-19T11:45:42Z'
                        createdAt: '2022-07-30T03:30:56Z'
                        updatedAt: '2026-06-07T13:21:35Z'
                      - platformRepoId: '86106493'
                        nodeId: MDEwOlJlcG9zaXRvcnk4NjEwNjQ5Mw==
                        name: test-tlb
                        fullName: torvalds/test-tlb
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/test-tlb
                        description: Stupid memory latency and TLB tester
                        isFork: false
                        homepage: null
                        language: C
                        forksCount: 218
                        starsCount: 1006
                        watchersCount: 1006
                        sizeKb: 19
                        defaultBranch: master
                        openIssuesCount: 13
                        topics: []
                        license:
                          key: gpl-2.0
                          name: GNU General Public License v2.0
                          spdxId: GPL-2.0
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2024-08-19T21:13:36Z'
                        createdAt: '2017-03-24T20:06:37Z'
                        updatedAt: '2026-06-07T13:21:34Z'
                      - platformRepoId: '1130786764'
                        nodeId: R_kgDOQ2ZvzA
                        name: AudioNoise
                        fullName: torvalds/AudioNoise
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/AudioNoise
                        description: Random digital audio effects
                        isFork: false
                        homepage: null
                        language: C
                        forksCount: 205
                        starsCount: 4380
                        watchersCount: 4380
                        sizeKb: 1428
                        defaultBranch: main
                        openIssuesCount: 32
                        topics: []
                        license:
                          key: gpl-2.0
                          name: GNU General Public License v2.0
                          spdxId: GPL-2.0
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2026-05-08T17:20:22Z'
                        createdAt: '2026-01-09T02:33:29Z'
                        updatedAt: '2026-06-07T11:24:37Z'
                      - platformRepoId: '117900805'
                        nodeId: MDEwOlJlcG9zaXRvcnkxMTc5MDA4MDU=
                        name: uemacs
                        fullName: torvalds/uemacs
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/uemacs
                        description: Random version of microemacs with my private modificatons
                        isFork: false
                        homepage: ''
                        language: C
                        forksCount: 308
                        starsCount: 2043
                        watchersCount: 2043
                        sizeKb: 478
                        defaultBranch: master
                        openIssuesCount: 13
                        topics: []
                        license: null
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2026-02-25T19:15:47Z'
                        createdAt: '2018-01-17T22:32:21Z'
                        updatedAt: '2026-06-06T21:48:26Z'
                      - platformRepoId: '1137038093'
                        nodeId: R_kgDOQ8XTDQ
                        name: HunspellColorize
                        fullName: torvalds/HunspellColorize
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/HunspellColorize
                        description: Wrapper around 'less' to colorize spelling mistakes using Hunspell
                        isFork: false
                        homepage: null
                        language: C
                        forksCount: 15
                        starsCount: 346
                        watchersCount: 346
                        sizeKb: 15
                        defaultBranch: main
                        openIssuesCount: 2
                        topics: []
                        license:
                          key: gpl-2.0
                          name: GNU General Public License v2.0
                          spdxId: GPL-2.0
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2026-01-19T20:23:09Z'
                        createdAt: '2026-01-18T19:57:03Z'
                        updatedAt: '2026-06-05T08:54:07Z'
                      - platformRepoId: '940929652'
                        nodeId: R_kgDOOBVydA
                        name: 1590A
                        fullName: torvalds/1590A
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/1590A
                        description: Random odd guitar pedal design in kicad
                        isFork: false
                        homepage: null
                        language: OpenSCAD
                        forksCount: 21
                        starsCount: 566
                        watchersCount: 566
                        sizeKb: 10882
                        defaultBranch: main
                        openIssuesCount: 0
                        topics: []
                        license:
                          key: gpl-2.0
                          name: GNU General Public License v2.0
                          spdxId: GPL-2.0
                        archived: true
                        disabled: false
                        visibility: public
                        pushedAt: '2025-09-19T02:54:14Z'
                        createdAt: '2025-03-01T04:36:29Z'
                        updatedAt: '2026-06-03T19:56:34Z'
                      - platformRepoId: '79171906'
                        nodeId: MDEwOlJlcG9zaXRvcnk3OTE3MTkwNg==
                        name: libdc-for-dirk
                        fullName: torvalds/libdc-for-dirk
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/libdc-for-dirk
                        description: Only use for syncing with Dirk, don't use for anything else
                        isFork: true
                        homepage: ''
                        language: C
                        forksCount: 51
                        starsCount: 387
                        watchersCount: 387
                        sizeKb: 3743
                        defaultBranch: Subsurface-branch
                        openIssuesCount: 1
                        topics: []
                        license:
                          key: lgpl-2.1
                          name: GNU Lesser General Public License v2.1
                          spdxId: LGPL-2.1
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2024-12-26T20:12:43Z'
                        createdAt: '2017-01-17T00:25:49Z'
                        updatedAt: '2026-05-27T10:26:00Z'
                      - platformRepoId: '78665021'
                        nodeId: MDEwOlJlcG9zaXRvcnk3ODY2NTAyMQ==
                        name: subsurface-for-dirk
                        fullName: torvalds/subsurface-for-dirk
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/subsurface-for-dirk
                        description: Do not use - the real upstream is  Subsurface-divelog/subsurface
                        isFork: true
                        homepage: https://subsurface-divelog.org
                        language: C++
                        forksCount: 67
                        starsCount: 457
                        watchersCount: 457
                        sizeKb: 155337
                        defaultBranch: master
                        openIssuesCount: 2
                        topics: []
                        license:
                          key: gpl-2.0
                          name: GNU General Public License v2.0
                          spdxId: GPL-2.0
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2024-08-28T08:00:07Z'
                        createdAt: '2017-01-11T18:03:01Z'
                        updatedAt: '2026-05-24T08:35:27Z'
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_github_profile_repositories
                      creditsCharged: 1
                      version: v1
                paginated:
                  value:
                    data:
                      lookupStatus: found
                      repositories:
                      - platformRepoId: '2325298'
                        nodeId: MDEwOlJlcG9zaXRvcnkyMzI1Mjk4
                        name: GuitarPedal
                        fullName: torvalds/GuitarPedal
                        owner:
                          platformUserId: '1024025'
                          handle: torvalds
                          avatarUrl: https://avatars.githubusercontent.com/u/1024025?v=4
                          profileUrl: https://github.com/torvalds
                          accountType: User
                        isPrivate: false
                        profileUrl: https://github.com/torvalds/GuitarPedal
                        description: Linus learns analog circuits
                        isFork: false
                        homepage: ''
                        language: C
                        forksCount: 62741
                        starsCount: 235824
                        watchersCount: 235824
                        sizeKb: 6305272
                        defaultBranch: master
                        openIssuesCount: 3
                        topics: []
                        license:
                          key: other
                          name: Other
                          spdxId: NOASSERTION
                        archived: false
                        disabled: false
                        visibility: public
                        pushedAt: '2026-06-08T15:03:19Z'
                        createdAt: '2011-09-04T22:48:12Z'
                        updatedAt: '2026-06-08T15:40:20Z'
                      page:
                        nextCursor: '2'
                        hasMore: true
                    meta:
                      requestId: req_01example_repos_page_2
                      creditsCharged: 1
                      version: v1
                empty:
                  value:
                    data:
                      lookupStatus: found
                      repositories: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_repos_empty
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      repositories: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_repos_not_found
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid handle or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1GithubProfilesByHandleRepositories
      x-operation-id-source: derived
  /v1/github/profiles/{handle}/pull-requests:
    get:
      tags:
      - Github
      summary: List GitHub profile pull requests
      description: List pull requests authored by a GitHub user.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 39
          description: GitHub username whose public pull requests should be listed.
        required: true
        description: GitHub username whose public pull requests should be listed.
        name: handle
        in: path
      - schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          description: Only return pull requests created on or after this date (YYYY-MM-DD).
        required: false
        description: Only return pull requests created on or after this date (YYYY-MM-DD).
        name: since
        in: query
      - schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          description: Only return pull requests created on or before this date (YYYY-MM-DD).
        required: false
        description: Only return pull requests created on or before this date (YYYY-MM-DD).
        name: until
        in: query
      - schema:
          type: string
          minLength: 1
          description: Pagination cursor from a previous response (`data.page.nextCursor`).
        required: false
        description: Pagination cursor from a previous response (`data.page.nextCursor`).
        name: cursor
        in: query
      responses:
        '200':
          description: GitHub pull request listing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether pull requests could be listed for this handle.
                      pullRequests:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              minLength: 1
                              description: Pull request title.
                            repo:
                              type: string
                              minLength: 1
                              description: Repository full name in `owner/repo` form.
                            number:
                              type:
                              - integer
                              - 'null'
                              description: GitHub pull request number when it can be read from `url`.
                              exclusiveMinimum: 0
                            state:
                              type:
                              - string
                              - 'null'
                              description: Pull request state when reported, typically `open` or `closed`. Merged pull requests are usually `closed`.
                            createdAt:
                              type:
                              - string
                              - 'null'
                              description: When the pull request was created (ISO 8601) when available.
                            url:
                              type: string
                              minLength: 1
                              description: Canonical public URL for the pull request.
                          required:
                          - title
                          - repo
                          - number
                          - state
                          - createdAt
                          - url
                          description: Public pull request authored by the requested GitHub user.
                        description: Public pull requests authored by this user.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Opaque cursor for the next page, or null when there is no next page.
                          hasMore:
                            type: boolean
                            description: Whether another page of results is available.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination state for the current page.
                    required:
                    - lookupStatus
                    - pullRequests
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      pullRequests:
                      - title: 'Garmin: Report correct local time offset'
                        repo: subsurface/libdc
                        number: 69
                        state: closed
                        createdAt: '2024-12-26T20:13:25Z'
                        url: https://github.com/subsurface/libdc/pull/69
                      - title: Fix sample times in dive merging
                        repo: subsurface/subsurface
                        number: 4301
                        state: closed
                        createdAt: '2024-08-28T04:57:02Z'
                        url: https://github.com/subsurface/subsurface/pull/4301
                      - title: Fix Suunto FIT file import dive duration mis-calculation
                        repo: subsurface/subsurface
                        number: 4298
                        state: closed
                        createdAt: '2024-08-26T05:02:44Z'
                        url: https://github.com/subsurface/subsurface/pull/4298
                      - title: FIT file parser updates
                        repo: subsurface/libdc
                        number: 53
                        state: closed
                        createdAt: '2023-07-13T21:20:33Z'
                        url: https://github.com/subsurface/libdc/pull/53
                      - title: libdivecomputer update
                        repo: subsurface/libdc
                        number: 46
                        state: closed
                        createdAt: '2023-02-20T01:23:11Z'
                        url: https://github.com/subsurface/libdc/pull/46
                      - title: Sensor index fixup
                        repo: subsurface/subsurface
                        number: 3521
                        state: closed
                        createdAt: '2022-09-12T21:13:38Z'
                        url: https://github.com/subsurface/subsurface/pull/3521
                      - title: 'git parser: handle left-over multi-line quoted strings better'
                        repo: subsurface/subsurface
                        number: 3479
                        state: closed
                        createdAt: '2022-07-31T04:11:51Z'
                        url: https://github.com/subsurface/subsurface/pull/3479
                      - title: Don't fail the whole clone if you can't find a default branch
                        repo: libgit2/libgit2
                        number: 6369
                        state: closed
                        createdAt: '2022-07-30T03:34:46Z'
                        url: https://github.com/libgit2/libgit2/pull/6369
                      - title: Git cleanups
                        repo: subsurface/subsurface
                        number: 3444
                        state: closed
                        createdAt: '2022-04-18T22:06:52Z'
                        url: https://github.com/subsurface/subsurface/pull/3444
                      - title: Collect and convert git repo data to 'struct git_info'
                        repo: subsurface/subsurface
                        number: 3443
                        state: closed
                        createdAt: '2022-04-16T18:06:08Z'
                        url: https://github.com/subsurface/subsurface/pull/3443
                      - title: '[Don''tMerge] Collect and convert git repo data to ''struct git_info'''
                        repo: subsurface/subsurface
                        number: 3441
                        state: closed
                        createdAt: '2022-04-13T19:03:02Z'
                        url: https://github.com/subsurface/subsurface/pull/3441
                      - title: Re-do the libdivecomputer fingerprint save/load code
                        repo: subsurface/subsurface
                        number: 3326
                        state: closed
                        createdAt: '2021-09-19T02:06:56Z'
                        url: https://github.com/subsurface/subsurface/pull/3326
                      - title: Clean up divecomputer 'device' handling
                        repo: subsurface/subsurface
                        number: 3309
                        state: closed
                        createdAt: '2021-08-16T23:45:09Z'
                        url: https://github.com/subsurface/subsurface/pull/3309
                      - title: 'xml parsing: add XML_PARSE_HUGE flag to xmlReadMemory()'
                        repo: subsurface/subsurface
                        number: 3231
                        state: closed
                        createdAt: '2021-04-20T21:20:56Z'
                        url: https://github.com/subsurface/subsurface/pull/3231
                      - title: Make sure to sanitize the gasmix after editing it
                        repo: subsurface/subsurface
                        number: 3151
                        state: closed
                        createdAt: '2021-01-10T20:19:39Z'
                        url: https://github.com/subsurface/subsurface/pull/3151
                      - title: 'membuffer: be defensive about bad C library vsnprintf implementations'
                        repo: subsurface/subsurface
                        number: 2991
                        state: closed
                        createdAt: '2020-10-01T20:12:16Z'
                        url: https://github.com/subsurface/subsurface/pull/2991
                      - title: Update libdivecomputer to fix Garmin GPS recording
                        repo: subsurface/subsurface
                        number: 2989
                        state: closed
                        createdAt: '2020-09-30T18:02:31Z'
                        url: https://github.com/subsurface/subsurface/pull/2989
                      - title: Prefer "GPS1" for divecomputer download dive site resolution
                        repo: subsurface/subsurface
                        number: 2982
                        state: closed
                        createdAt: '2020-09-29T18:44:12Z'
                        url: https://github.com/subsurface/subsurface/pull/2982
                      - title: McLean UUID matching trial
                        repo: subsurface/subsurface
                        number: 2958
                        state: closed
                        createdAt: '2020-09-16T18:04:49Z'
                        url: https://github.com/subsurface/subsurface/pull/2958
                      - title: Update to current libdivecomputer
                        repo: subsurface/subsurface
                        number: 2923
                        state: closed
                        createdAt: '2020-08-20T20:10:38Z'
                        url: https://github.com/subsurface/subsurface/pull/2923
                      - title: Fix event merging when merging dives
                        repo: subsurface/subsurface
                        number: 2912
                        state: closed
                        createdAt: '2020-08-15T14:25:39Z'
                        url: https://github.com/subsurface/subsurface/pull/2912
                      - title: Fix dive mergeing with multi-ple cylinders
                        repo: subsurface/subsurface
                        number: 2888
                        state: closed
                        createdAt: '2020-06-28T21:29:44Z'
                        url: https://github.com/subsurface/subsurface/pull/2888
                      - title: Add support for the Oceans S1 and McLean Extreme
                        repo: subsurface/subsurface
                        number: 2886
                        state: closed
                        createdAt: '2020-06-25T19:03:10Z'
                        url: https://github.com/subsurface/subsurface/pull/2886
                      - title: First cut at Oceans S1 support
                        repo: subsurface/libdc
                        number: 20
                        state: closed
                        createdAt: '2020-06-25T00:15:50Z'
                        url: https://github.com/subsurface/libdc/pull/20
                      - title: 'BLE: trivial updates to the GATT services lists'
                        repo: subsurface/subsurface
                        number: 2847
                        state: closed
                        createdAt: '2020-05-17T19:14:53Z'
                        url: https://github.com/subsurface/subsurface/pull/2847
                      - title: 'BLE: add list of known good/bad BLE GATT services'
                        repo: subsurface/subsurface
                        number: 2844
                        state: closed
                        createdAt: '2020-05-16T18:38:23Z'
                        url: https://github.com/subsurface/subsurface/pull/2844
                      - title: Save SAC, OTU and CNS in the XML export
                        repo: subsurface/subsurface
                        number: 2835
                        state: closed
                        createdAt: '2020-05-14T16:52:40Z'
                        url: https://github.com/subsurface/subsurface/pull/2835
                      - title: Remove 'string marker after running out of strings' warning
                        repo: subsurface/subsurface
                        number: 2831
                        state: closed
                        createdAt: '2020-05-12T18:00:02Z'
                        url: https://github.com/subsurface/subsurface/pull/2831
                      - title: Git cache branch name
                        repo: subsurface/subsurface
                        number: 2761
                        state: closed
                        createdAt: '2020-04-14T22:21:40Z'
                        url: https://github.com/subsurface/subsurface/pull/2761
                      - title: 'iostream: fix incorrect rfcomm error case when reading'
                        repo: subsurface/subsurface
                        number: 2673
                        state: closed
                        createdAt: '2020-03-13T17:38:27Z'
                        url: https://github.com/subsurface/subsurface/pull/2673
                      page:
                        nextCursor: '2'
                        hasMore: true
                    meta:
                      requestId: req_01example_github_profile_pull_requests
                      creditsCharged: 1
                      version: v1
                paginated:
                  value:
                    data:
                      lookupStatus: found
                      pullRequests:
                      - title: Nordic uart ble service
                        repo: subsurface/subsurface
                        number: 2628
                        state: closed
                        createdAt: '2020-02-17T21:07:03Z'
                        url: https://github.com/subsurface/subsurface/pull/2628
                      - title: Add Cressi BLE name filtering for bluetooth discovery
                        repo: subsurface/subsurface
                        number: 2624
                        state: closed
                        createdAt: '2020-02-16T17:03:07Z'
                        url: https://github.com/subsurface/subsurface/pull/2624
                      - title: Fix git-load string handling
                        repo: subsurface/subsurface
                        number: 2621
                        state: closed
                        createdAt: '2020-02-14T20:17:05Z'
                        url: https://github.com/subsurface/subsurface/pull/2621
                      - title: Update libdivecomputer and make Windows use qtbluetooth
                        repo: subsurface/subsurface
                        number: 2559
                        state: closed
                        createdAt: '2020-01-27T00:18:06Z'
                        url: https://github.com/subsurface/subsurface/pull/2559
                      - title: Update to new libdivecomputer version
                        repo: subsurface/subsurface
                        number: 2558
                        state: closed
                        createdAt: '2020-01-26T20:53:40Z'
                        url: https://github.com/subsurface/subsurface/pull/2558
                      - title: Don't expose 'detach_buffer()' to membuffer users
                        repo: subsurface/subsurface
                        number: 2345
                        state: closed
                        createdAt: '2019-10-27T18:32:33Z'
                        url: https://github.com/subsurface/subsurface/pull/2345
                      - title: 'Mares: add BT discovery logic'
                        repo: subsurface/subsurface
                        number: 2336
                        state: closed
                        createdAt: '2019-10-25T11:28:01Z'
                        url: https://github.com/subsurface/subsurface/pull/2336
                      - title: Report and handle libdivecomputer errors better
                        repo: subsurface/subsurface
                        number: 2287
                        state: closed
                        createdAt: '2019-09-11T15:34:58Z'
                        url: https://github.com/subsurface/subsurface/pull/2287
                      - title: Update libdivecomputer to latest version
                        repo: subsurface/subsurface
                        number: 2279
                        state: closed
                        createdAt: '2019-09-07T16:58:32Z'
                        url: https://github.com/subsurface/subsurface/pull/2279
                      - title: Update libdivecomputer with Cosmiq+ fixes
                        repo: subsurface/subsurface
                        number: 2271
                        state: closed
                        createdAt: '2019-08-30T01:03:36Z'
                        url: https://github.com/subsurface/subsurface/pull/2271
                      - title: Update libdivecomputer to support the Aqualung i200c
                        repo: subsurface/subsurface
                        number: 2255
                        state: closed
                        createdAt: '2019-08-24T21:15:32Z'
                        url: https://github.com/subsurface/subsurface/pull/2255
                      - title: Fix the dive site XML saving
                        repo: subsurface/subsurface
                        number: 2249
                        state: closed
                        createdAt: '2019-08-19T18:37:08Z'
                        url: https://github.com/subsurface/subsurface/pull/2249
                      - title: Add BLE name recognition for the Deepblu Cosmiq+
                        repo: subsurface/subsurface
                        number: 2247
                        state: closed
                        createdAt: '2019-08-17T22:20:08Z'
                        url: https://github.com/subsurface/subsurface/pull/2247
                      - title: Limit gas compressibility argument range to halfway sane values
                        repo: subsurface/subsurface
                        number: 2214
                        state: closed
                        createdAt: '2019-08-07T18:17:48Z'
                        url: https://github.com/subsurface/subsurface/pull/2214
                      - title: Misc fixes for loading/saving
                        repo: subsurface/subsurface
                        number: 2183
                        state: closed
                        createdAt: '2019-07-14T17:54:52Z'
                        url: https://github.com/subsurface/subsurface/pull/2183
                      - title: Update libdivecomputer to most recent version
                        repo: subsurface/subsurface
                        number: 2156
                        state: closed
                        createdAt: '2019-07-04T02:03:11Z'
                        url: https://github.com/subsurface/subsurface/pull/2156
                      - title: Add BLE detection for the new Oceanic Geo 4.0
                        repo: subsurface/subsurface
                        number: 2115
                        state: closed
                        createdAt: '2019-05-31T17:13:13Z'
                        url: https://github.com/subsurface/subsurface/pull/2115
                      - title: Add support for the new Suunto D5
                        repo: subsurface/subsurface
                        number: 2095
                        state: closed
                        createdAt: '2019-05-16T21:46:40Z'
                        url: https://github.com/subsurface/subsurface/pull/2095
                      - title: Update (and fix) device mobile ID's for Scubapro dive computers
                        repo: subsurface/subsurface
                        number: 2067
                        state: closed
                        createdAt: '2019-04-24T16:19:32Z'
                        url: https://github.com/subsurface/subsurface/pull/2067
                      - title: 'qt-ble: return DC_STATUS_TIMEOUT rather than DC_STATUS_IO on timeout'
                        repo: subsurface/subsurface
                        number: 2064
                        state: closed
                        createdAt: '2019-04-17T16:14:29Z'
                        url: https://github.com/subsurface/subsurface/pull/2064
                      - title: make sure to clear dives on dive split failure
                        repo: subsurface/subsurface
                        number: 2058
                        state: closed
                        createdAt: '2019-04-14T21:29:48Z'
                        url: https://github.com/subsurface/subsurface/pull/2058
                      - title: Merge extra_data list when merging two dives of the same dive computer
                        repo: subsurface/subsurface
                        number: 2040
                        state: closed
                        createdAt: '2019-04-06T21:36:36Z'
                        url: https://github.com/subsurface/subsurface/pull/2040
                      - title: Jef merge testing
                        repo: subsurface/libdc
                        number: 16
                        state: closed
                        createdAt: '2019-01-21T23:49:12Z'
                        url: https://github.com/subsurface/libdc/pull/16
                      - title: Add 'location_t' data structure
                        repo: subsurface/subsurface
                        number: 1812
                        state: closed
                        createdAt: '2018-10-20T19:00:45Z'
                        url: https://github.com/subsurface/subsurface/pull/1812
                      - title: 'deco: _really_ make sure the deco state is fully initialized'
                        repo: subsurface/subsurface
                        number: 1796
                        state: closed
                        createdAt: '2018-10-15T20:08:36Z'
                        url: https://github.com/subsurface/subsurface/pull/1796
                      - title: 'deco: make sure deco state is fully initialized'
                        repo: subsurface/subsurface
                        number: 1791
                        state: closed
                        createdAt: '2018-10-15T16:54:24Z'
                        url: https://github.com/subsurface/subsurface/pull/1791
                      - title: Recent fixes
                        repo: subsurface/subsurface
                        number: 1762
                        state: closed
                        createdAt: '2018-10-07T20:15:56Z'
                        url: https://github.com/subsurface/subsurface/pull/1762
                      - title: Download improvements
                        repo: subsurface/subsurface
                        number: 1757
                        state: closed
                        createdAt: '2018-10-06T19:03:17Z'
                        url: https://github.com/subsurface/subsurface/pull/1757
                      - title: Improve XML sample time parsing, and allow qt-ble to handle partial packets
                        repo: subsurface/subsurface
                        number: 1723
                        state: closed
                        createdAt: '2018-09-26T18:33:40Z'
                        url: https://github.com/subsurface/subsurface/pull/1723
                      - title: BLE debugging
                        repo: subsurface/subsurface
                        number: 1720
                        state: closed
                        createdAt: '2018-09-25T22:45:07Z'
                        url: https://github.com/subsurface/subsurface/pull/1720
                      page:
                        nextCursor: '3'
                        hasMore: true
                    meta:
                      requestId: req_01example_github_profile_pull_requests_page_2
                      creditsCharged: 1
                      version: v1
                empty:
                  value:
                    data:
                      lookupStatus: found
                      pullRequests: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_github_profile_pull_requests_empty
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      pullRequests: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_github_profile_pull_requests_not_found
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid handle or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
[...]
