openapi: 3.2.0
info:
  title: Social Fetch Public Facebook API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Facebook
paths:
  /v1/facebook/profiles:
    get:
      tags:
      - Facebook
      summary: Get Facebook profile
      description: Get a Facebook profile or Page by URL or username.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Facebook public profile or page URL to look up.
        required: true
        description: Facebook public profile or page URL to look up.
        name: url
        in: query
      - schema:
          type: boolean
          description: 'Optional: include structured business hours in the response when available.'
        required: false
        description: 'Optional: include structured business hours in the response when available.'
        name: includeBusinessHours
        in: query
      responses:
        '200':
          description: Facebook profile lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - private
                        - not_found
                        description: Whether the profile was resolved.
                      profile:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - facebook
                            description: Social platform for this profile.
                          profileType:
                            type: string
                            enum:
                            - person
                            - business
                            description: Whether the lookup resolved to a personal profile or business page.
                          displayName:
                            type:
                            - string
                            - 'null'
                            description: Public display name shown on the Facebook profile or page.
                          profileUrl:
                            type: string
                            minLength: 1
                            description: Canonical public Facebook profile or page URL.
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                            description: Best available avatar image URL.
                          coverImageUrl:
                            type:
                            - string
                            - 'null'
                            description: Best available cover image URL.
                          platformUserId:
                            type: string
                            description: Facebook profile or page id when available.
                          gender:
                            type:
                            - string
                            - 'null'
                            enum:
                            - female
                            - male
                            - unknown
                            - null
                            description: Gender label when available for personal profiles.
                        required:
                        - platform
                        - profileType
                        - displayName
                        - profileUrl
                        - avatarUrl
                        - coverImageUrl
                        description: Profile details when available.
                      metrics:
                        type:
                        - object
                        - 'null'
                        properties:
                          likes:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Page likes count when available.
                          followers:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Page follower count when available.
                          ratingCount:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Number of public ratings or reviews when available.
                        required:
                        - likes
                        - followers
                        - ratingCount
                        description: Profile metrics when available.
                      contact:
                        type:
                        - object
                        - 'null'
                        properties:
                          address:
                            type:
                            - string
                            - 'null'
                            description: Public business address when available.
                          email:
                            type:
                            - string
                            - 'null'
                            description: Public contact email when available.
                          phone:
                            type:
                            - string
                            - 'null'
                            description: Public phone number when available.
                          website:
                            type:
                            - string
                            - 'null'
                            description: Primary public website URL when available.
                        required:
                        - address
                        - email
                        - phone
                        - website
                        description: Public contact information when available.
                      business:
                        type:
                        - object
                        - 'null'
                        properties:
                          intro:
                            type:
                            - string
                            - 'null'
                            description: Short public introduction shown on the page when available.
                          category:
                            type:
                            - string
                            - 'null'
                            description: Primary category label when available.
                          services:
                            type:
                            - string
                            - 'null'
                            description: Service summary when available.
                          priceRange:
                            type:
                            - string
                            - 'null'
                            description: Displayed price range when available.
                          ratingText:
                            type:
                            - string
                            - 'null'
                            description: Public rating summary text when available.
                          isActive:
                            type: boolean
                            description: Whether the page is marked as an active business page.
                          createdDateText:
                            type:
                            - string
                            - 'null'
                            description: Human-readable page creation date when available.
                          adLibraryStatus:
                            type:
                            - string
                            - 'null'
                            description: Advertising activity summary when available.
                          adLibraryPageId:
                            type:
                            - string
                            - 'null'
                            description: Facebook page id shown in the ad library when available.
                          hours:
                            type: object
                            properties:
                              monday:
                                type: object
                                properties:
                                  open:
                                    type:
                                    - string
                                    - 'null'
                                    description: Opening time for the first interval when available.
                                  close:
                                    type:
                                    - string
                                    - 'null'
                                    description: Closing time for the last interval when available.
                                  intervals:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open:
                                          type:
                                          - string
                                          - 'null'
                                          description: Start time for one business-hours interval when available.
                                        close:
                                          type:
                                          - string
                                          - 'null'
                                          description: End time for one business-hours interval when available.
                                      required:
                                      - open
                                      - close
                                      description: A single opening-hours interval.
                                    description: Structured opening intervals for the day.
                                  text:
                                    type: string
                                    description: Human-readable business-hours text for the day.
                                required:
                                - open
                                - close
                                - intervals
                                - text
                                description: Business hours for one weekday.
                              tuesday:
                                type: object
                                properties:
                                  open:
                                    type:
                                    - string
                                    - 'null'
                                    description: Opening time for the first interval when available.
                                  close:
                                    type:
                                    - string
                                    - 'null'
                                    description: Closing time for the last interval when available.
                                  intervals:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open:
                                          type:
                                          - string
                                          - 'null'
                                          description: Start time for one business-hours interval when available.
                                        close:
                                          type:
                                          - string
                                          - 'null'
                                          description: End time for one business-hours interval when available.
                                      required:
                                      - open
                                      - close
                                      description: A single opening-hours interval.
                                    description: Structured opening intervals for the day.
                                  text:
                                    type: string
                                    description: Human-readable business-hours text for the day.
                                required:
                                - open
                                - close
                                - intervals
                                - text
                                description: Business hours for one weekday.
                              wednesday:
                                type: object
                                properties:
                                  open:
                                    type:
                                    - string
                                    - 'null'
                                    description: Opening time for the first interval when available.
                                  close:
                                    type:
                                    - string
                                    - 'null'
                                    description: Closing time for the last interval when available.
                                  intervals:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open:
                                          type:
                                          - string
                                          - 'null'
                                          description: Start time for one business-hours interval when available.
                                        close:
                                          type:
                                          - string
                                          - 'null'
                                          description: End time for one business-hours interval when available.
                                      required:
                                      - open
                                      - close
                                      description: A single opening-hours interval.
                                    description: Structured opening intervals for the day.
                                  text:
                                    type: string
                                    description: Human-readable business-hours text for the day.
                                required:
                                - open
                                - close
                                - intervals
                                - text
                                description: Business hours for one weekday.
                              thursday:
                                type: object
                                properties:
                                  open:
                                    type:
                                    - string
                                    - 'null'
                                    description: Opening time for the first interval when available.
                                  close:
                                    type:
                                    - string
                                    - 'null'
                                    description: Closing time for the last interval when available.
                                  intervals:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open:
                                          type:
                                          - string
                                          - 'null'
                                          description: Start time for one business-hours interval when available.
                                        close:
                                          type:
                                          - string
                                          - 'null'
                                          description: End time for one business-hours interval when available.
                                      required:
                                      - open
                                      - close
                                      description: A single opening-hours interval.
                                    description: Structured opening intervals for the day.
                                  text:
                                    type: string
                                    description: Human-readable business-hours text for the day.
                                required:
                                - open
                                - close
                                - intervals
                                - text
                                description: Business hours for one weekday.
                              friday:
                                type: object
                                properties:
                                  open:
                                    type:
                                    - string
                                    - 'null'
                                    description: Opening time for the first interval when available.
                                  close:
                                    type:
                                    - string
                                    - 'null'
                                    description: Closing time for the last interval when available.
                                  intervals:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open:
                                          type:
                                          - string
                                          - 'null'
                                          description: Start time for one business-hours interval when available.
                                        close:
                                          type:
                                          - string
                                          - 'null'
                                          description: End time for one business-hours interval when available.
                                      required:
                                      - open
                                      - close
                                      description: A single opening-hours interval.
                                    description: Structured opening intervals for the day.
                                  text:
                                    type: string
                                    description: Human-readable business-hours text for the day.
                                required:
                                - open
                                - close
                                - intervals
                                - text
                                description: Business hours for one weekday.
                              saturday:
                                type: object
                                properties:
                                  open:
                                    type:
                                    - string
                                    - 'null'
                                    description: Opening time for the first interval when available.
                                  close:
                                    type:
                                    - string
                                    - 'null'
                                    description: Closing time for the last interval when available.
                                  intervals:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open:
                                          type:
                                          - string
                                          - 'null'
                                          description: Start time for one business-hours interval when available.
                                        close:
                                          type:
                                          - string
                                          - 'null'
                                          description: End time for one business-hours interval when available.
                                      required:
                                      - open
                                      - close
                                      description: A single opening-hours interval.
                                    description: Structured opening intervals for the day.
                                  text:
                                    type: string
                                    description: Human-readable business-hours text for the day.
                                required:
                                - open
                                - close
                                - intervals
                                - text
                                description: Business hours for one weekday.
                              sunday:
                                type: object
                                properties:
                                  open:
                                    type:
                                    - string
                                    - 'null'
                                    description: Opening time for the first interval when available.
                                  close:
                                    type:
                                    - string
                                    - 'null'
                                    description: Closing time for the last interval when available.
                                  intervals:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open:
                                          type:
                                          - string
                                          - 'null'
                                          description: Start time for one business-hours interval when available.
                                        close:
                                          type:
                                          - string
                                          - 'null'
                                          description: End time for one business-hours interval when available.
                                      required:
                                      - open
                                      - close
                                      description: A single opening-hours interval.
                                    description: Structured opening intervals for the day.
                                  text:
                                    type: string
                                    description: Human-readable business-hours text for the day.
                                required:
                                - open
                                - close
                                - intervals
                                - text
                                description: Business hours for one weekday.
                            description: Structured business hours when requested and available.
                        required:
                        - intro
                        - category
                        - services
                        - priceRange
                        - ratingText
                        description: Business-page-specific details when available.
                    required:
                    - lookupStatus
                    - profile
                    - metrics
                    - contact
                    - business
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      profile:
                        platform: facebook
                        profileType: person
                        displayName: Carly Cross
                        profileUrl: https://www.facebook.com/carly.cross.5
                        avatarUrl: https://scontent-mia3-2.xx.fbcdn.net/v/t39.30808-1/643478184_26435581719392551_6829771121814667941_n.jpg?stp=c0.0.834.834a_dst-jpg_s200x200_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_ohc=tLRvt443fCAQ7kNvwGAfKRT&_nc_oc=AdoTOmGyZWcO_nsPhuJxpKfLa7TDML8rGs8PNRUXphrCtuAYsZ6_1or9SL7Q4mhulaI&_nc_zt=24&_nc_ht=scontent-mia3-2.xx&_nc_gid=YzuYpZJqm6ykvk0oJe_fTg&_nc_ss=7e289&oh=00_Af56TxT5ddQ00rnsW8nXiHWWLAtWX4zavlw3Z-EOORvUPw&oe=6A0F3C41
                        coverImageUrl: https://scontent-mia3-3.xx.fbcdn.net/v/t39.30808-6/495995630_23916984487918966_6583159705852966112_n.jpg?stp=cp6_dst-jpg_s960x960_tt6&_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=nt2nA0choW8Q7kNvwGx1N4m&_nc_oc=Adq8Jfehj_xkueeaY_8KZkC5vO86jmZUe2_OYJfQIPb5b7px9_cwDFFS4jSOS7OW41A&_nc_zt=23&_nc_ht=scontent-mia3-3.xx&_nc_gid=YzuYpZJqm6ykvk0oJe_fTg&_nc_ss=7e289&oh=00_Af7xUcIAVb-s3CN-UJ-t8agl-h5C0xceMTLuiVdtNN2ScQ&oe=6A0F4D76
                        platformUserId: pfbid0oLfXu1ATKUTKguRajfCYu7BP2rzBW8kXQ44KhGdV17eP6hffyY7P2uMZA5VDZJYwl
                        gender: female
                      metrics: null
                      contact: null
                      business: null
                    meta:
                      requestId: req_bbb28983-bc5d-42ca-a6da-bf5ef4275778
                      creditsCharged: 1
                      version: v1
                found_business:
                  value:
                    data:
                      lookupStatus: found
                      profile:
                        platform: facebook
                        profileType: business
                        displayName: Mantraindian
                        profileUrl: https://www.facebook.com/mantraindianfolsom
                        avatarUrl: https://example.com/avatar.jpg
                        coverImageUrl: https://example.com/cover.jpg
                        platformUserId: '100088017857524'
                        gender: unknown
                      metrics:
                        likes: 4228
                        followers: 4200
                        ratingCount: null
                      contact:
                        address: 1870 Prairie City Rd, Suite 500, Folsom, CA, United States, California
                        email: contact@mantraindian.com
                        phone: +1 916-999-1749
                        website: https://www.mantraindian.com/
                      business:
                        intro: Indian Vegan & Vegetarian Restaurant
                        category: Restaurant
                        services: Delivery · Takeaway · Dine in…
                        priceRange: $$
                        ratingText: Not yet rated (1 review)
                        isActive: false
                        createdDateText: November 25, 2022
                        adLibraryStatus: This Page is currently running ads.
                        adLibraryPageId: '104359362513119'
                        hours:
                          monday:
                            open: '11:00'
                            close: '21:30'
                            intervals:
                            - open: '11:00'
                              close: '14:30'
                            - open: '16:30'
                              close: '21:30'
                            text: 11:00 - 14:30, 16:30 - 21:30
                    meta:
                      requestId: req_01example_business
                      creditsCharged: 1
                      version: v1
                private:
                  value:
                    data:
                      lookupStatus: private
                      profile: null
                      metrics: null
                      contact: null
                      business: null
                    meta:
                      requestId: req_01example_private
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      profile: null
                      metrics: null
                      contact: null
                      business: null
                    meta:
                      requestId: req_01example_nf
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid query or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1FacebookProfiles
      x-operation-id-source: derived
  /v1/facebook/profiles/posts:
    get:
      tags:
      - Facebook
      summary: List Facebook profile posts
      description: List posts from a Facebook profile or Page.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-agent-hints:
        emptyResults: Use `data.lookupStatus` to distinguish `not_found` from `found` with an empty `posts` array (including private or restricted profiles that return no posts).
        disambiguation: Call `GET /v1/facebook/profiles` when you need `private` vs other profile states; this list route only exposes `found` / `not_found`.
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges:
        - queryParam: hostMedia
          credits: 48
          when: boolean_true
          badge: +2 / asset
          label: +2 credits per hosted asset (up to 24)
        maxCredits: 49
        normalizationFailureCredits: 0
      x-socialfetch-credits-pricing: 1 credit base. With `hostMedia`, +2 credits per hosted asset (up to 24 assets, 49 credits max).
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Full public Facebook profile or page URL.
        required: false
        description: Full public Facebook profile or page URL.
        name: url
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Facebook page or profile id when you have it instead of a full URL.
        required: false
        description: Facebook page or profile id when you have it instead of a full URL.
        name: pageId
        in: query
      - schema:
          type: string
          minLength: 1
          description: Opaque pagination cursor from a previous response.
        required: false
        description: Opaque pagination cursor from a previous response.
        name: cursor
        in: query
      - schema:
          type: boolean
          description: When true, hosts source media for 90 days and returns delivery URLs in each post's `hostedMedia`.
        required: false
        description: When true, hosts source media for 90 days and returns delivery URLs in each post's `hostedMedia`.
        name: hostMedia
        in: query
      responses:
        '200':
          description: Facebook posts for the requested profile or page. Check `data.lookupStatus` when `posts` is empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the requested profile or page resolved for this request.
                      posts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Facebook post id.
                            text:
                              type:
                              - string
                              - 'null'
                              description: Post caption or text when present.
                            url:
                              type: string
                              minLength: 1
                              description: Public Facebook URL for this post.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the post was published (ISO-8601) when available.
                            authorDisplayName:
                              type:
                              - string
                              - 'null'
                              description: Display name for the post author when available.
                            authorShortName:
                              type:
                              - string
                              - 'null'
                              description: Short display label for the author when Facebook provides one.
                            authorId:
                              type: string
                              description: Facebook id for the post author when available.
                            reactionCount:
                              type: integer
                              minimum: 0
                              description: Reaction count when available.
                            commentCount:
                              type: integer
                              minimum: 0
                              description: Comment count when available.
                            videoViewCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Video view count when available.
                            imageUrl:
                              type: string
                              description: Source-platform CDN URL for the primary image when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. Omitted when no syntactically usable URL is available. For durable hosted copies on this list route, pass `hostMedia=true`.
                            imageUrls:
                              type: array
                              items:
                                type: string
                                minLength: 1
                              description: Source-platform CDN gallery image URLs when the post includes multiple images. Each URL can expire or be rejected outside the original retrieval context; they are not SocialFetch-hosted assets. For durable hosted copies on this list route, pass `hostMedia=true`.
                            videoSdUrl:
                              type: string
                              description: Source-platform CDN URL for standard-definition video when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. For durable hosted copies on this list route, pass `hostMedia=true` (HD is preferred when both are present).
                            videoHdUrl:
                              type: string
                              description: Source-platform CDN URL for high-definition video when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. For durable hosted copies on this list route, pass `hostMedia=true`.
                            videoThumbnailUrl:
                              type: string
                              description: Source-platform CDN URL for the video thumbnail when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. For durable hosted copies on this list route, pass `hostMedia=true`.
                            topComments:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                    description: Comment id.
                                  text:
                                    type:
                                    - string
                                    - 'null'
                                    description: Comment text when available.
                                  createdAt:
                                    type: string
                                    format: date-time
                                    description: When the comment was published (ISO-8601) when available.
                                  authorDisplayName:
                                    type:
                                    - string
                                    - 'null'
                                    description: Display name for the comment author when available.
                                  authorId:
                                    type: string
                                    description: Facebook id for the comment author when available.
                                  authorUrl:
                                    type:
                                    - string
                                    - 'null'
                                    description: Public Facebook URL for the comment author when available.
                                required:
                                - id
                                - text
                                description: A top-level comment surfaced on a Facebook post.
                              description: A small set of top comments when Facebook exposes them for the post.
                            hostedMedia:
                              type: array
                              items:
                                type: object
                                properties:
                                  status:
                                    type: string
                                    enum:
                                    - stored
                                    - failed
                                    description: Whether SocialFetch stored a durable copy of this asset.
                                  type:
                                    type: string
                                    enum:
                                    - image
                                    - video
                                    description: Normalized media kind.
                                  role:
                                    type: string
                                    enum:
                                    - display
                                    - thumbnail
                                    - video
                                    description: Which source field this asset was derived from.
                                  originalUrl:
                                    type: string
                                    format: uri
                                    description: Source-platform CDN URL that was requested for hosting. Still transient; prefer `url` when status is stored.
                                  url:
                                    type: string
                                    format: uri
                                    description: Time-limited SocialFetch delivery URL when status is stored. Re-request hostMedia (or a future refresh route) before this expires if you still need access; object retention may outlive the delivery URL.
                                  expiresAt:
                                    type: string
                                    format: date-time
                                    description: ISO-8601 timestamp when the returned delivery URL stops working.
                                  retainedUntil:
                                    type: string
                                    format: date-time
                                    description: ISO-8601 timestamp when the stored object is deleted from SocialFetch storage (90-day tier).
                                  mime:
                                    type: string
                                    minLength: 1
                                    description: MIME type of the stored bytes when status is stored.
                                  bytes:
                                    type: integer
                                    minimum: 0
                                    description: Stored size in bytes when status is stored.
                                  width:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Pixel width when known.
                                    exclusiveMinimum: 0
                                  height:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Pixel height when known.
                                    exclusiveMinimum: 0
                                  entityId:
                                    type: string
                                    minLength: 1
                                    description: Opaque parent entity id for this asset (post, reel, photo, or video id).
                                  postId:
                                    type: string
                                    minLength: 1
                                    description: Legacy Instagram media id alias for `entityId`. Prefer `entityId`.
                                  errorCode:
                                    type: string
                                    minLength: 1
                                    description: Typed failure code when status is failed.
                                  errorMessage:
                                    type: string
                                    minLength: 1
                                    description: Short customer-safe failure message when status is failed.
                                required:
                                - status
                                - type
                                description: SocialFetch-hosted original media asset or per-asset failure.
                              description: Present only when `hostMedia=true`. Hosted copies and/or per-asset failures for this post.
                          required:
                          - id
                          - text
                          - url
                          description: A single Facebook post on a profile feed page.
                        description: Facebook posts for the requested input. May be empty when `lookupStatus` is `found` and no public posts are returned, or when `lookupStatus` is `not_found`.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass as `cursor` in the next request when more posts are available.
                          hasMore:
                            type: boolean
                            description: Whether another page of posts is available.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination state for the current response.
                    required:
                    - lookupStatus
                    - posts
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                first_page:
                  value:
                    data:
                      lookupStatus: found
                      posts:
                      - id: '27229798369970878'
                        text: null
                        url: https://www.facebook.com/carly.cross.5/posts/pfbid02xt2o6hWKw5txR27cZzDwAKjYrtcL13FrQXJih3moAACkyxA5TDXvTKA63ci7KLSQl
                        authorDisplayName: Carly Cross
                        authorShortName: Carly
                        authorId: pfbid0oLfXu1ATKUTKguRajfCYu7BP2rzBW8kXQ44KhGdV17eP6hffyY7P2uMZA5VDZJYwl
                        reactionCount: 1
                        commentCount: 0
                        videoViewCount: null
                        imageUrl: https://scontent-lga3-2.xx.fbcdn.net/v/t39.30808-6/698389771_122121689919201046_6153945669619125306_n.jpg?stp=dst-jpg_s1080x2048_tt6&_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=b7ZRHpak-UYQ7kNvwEpZfo-&_nc_oc=Adr8WGbdlRfiBtQAbRMQxOY6Yaefnhsp5mp5-9LxaWf5xdo0gzdgEnSJzA7Ct-nfL5A&_nc_zt=23&_nc_ht=scontent-lga3-2.xx&_nc_gid=H8cj8HZpANiH8RfUCMJwRA&_nc_ss=7e289&oh=00_Af5eQSgaq871t_XC3xF_667Yor82aJwBjT1C-HZftTbnjw&oe=6A0F34EE
                        createdAt: '2026-05-14T08:18:39.000Z'
                      - id: '27170431025907613'
                        text: She’s always been a diva 🤣❤️
                        url: https://www.facebook.com/carly.cross.5/posts/pfbid0wNLWBBMTtQupjvegB5p6rKCJJEjhjxyuhd1sdjuVDEoM7y8Hk9Y1iMoreT9zFnECl
                        authorDisplayName: Carly Cross
                        authorShortName: Carly
                        authorId: pfbid0oLfXu1ATKUTKguRajfCYu7BP2rzBW8kXQ44KhGdV17eP6hffyY7P2uMZA5VDZJYwl
                        reactionCount: 10
                        commentCount: 0
                        videoViewCount: null
                        imageUrl: https://scontent-lga3-3.xx.fbcdn.net/v/t1.6435-9/59695636_2434172333293492_7190213018045644800_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=BfQHCVETfZQQ7kNvwFhcaCc&_nc_oc=Adodw8a0YCxBoF253IOlluPoGZHzPdvM2T9EcofP3YUhF11j45tfiiM5PBD-Tqo6NHo&_nc_zt=23&_nc_ht=scontent-lga3-3.xx&_nc_gid=H8cj8HZpANiH8RfUCMJwRA&_nc_ss=7e289&oh=00_Af5uoCSrkvG0zhCfrystJAqA4E_HoJebNd8K3ZwGgpDhZg&oe=6A30E818
                      - id: '27021187804165270'
                        text: 5 Months (last week) of the happiest little baby. We all love you so so much, Bertie 🐻✨🤍
                        url: https://www.facebook.com/carly.cross.5/posts/pfbid07N8nPbnDsSru1UnkffgJQfpAkRPfb1UeKaEPo1m7PbLqXua6uZ5kH4E3YQMviQBJl
                        authorDisplayName: Carly Cross
                        authorShortName: Carly
                        authorId: pfbid0oLfXu1ATKUTKguRajfCYu7BP2rzBW8kXQ44KhGdV17eP6hffyY7P2uMZA5VDZJYwl
                        reactionCount: 58
                        commentCount: 7
                        videoViewCount: null
                        imageUrl: https://scontent-lga3-2.xx.fbcdn.net/v/t51.82787-15/683651127_18593920150007483_2994407465256079927_n.jpg?stp=dst-jpg_s1080x2048_tt6&_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=XL39rEmPYAoQ7kNvwHCOhDW&_nc_oc=AdqaPoAJPVNKrDFGwL-vH3GapjGyTnvxV29OePWOqqn7LMekyQPzAKhKPGK4InliOQU&_nc_zt=23&_nc_ht=scontent-lga3-2.xx&_nc_gid=H8cj8HZpANiH8RfUCMJwRA&_nc_ss=7e289&oh=00_Af4cqrPNK-KUfmV5m9LoptIAbmKEcOiCgyu054zRHEWFLg&oe=6A0F5983
                        topComments:
                        - id: Y29tbWVudDoyNzAyMTE4NzgwNDE2NTI3MF8yMDgxMzYwOTk5MDk1NTkw
                          text: Beautiful Bertie ♥️ x
                          authorDisplayName: Trudy Edwards
                          authorId: pfbid0uejkVag742X4gpXwoVa8aJY9KL8NhSZiJttKXikuc7ViZmjAVyHx6JUzDiUruaEZl
                          authorUrl: https://www.facebook.com/trudy.edwards.71
                          createdAt: '2026-04-26T17:45:04.000Z'
                      page:
                        nextCursor: Cg8Ob3JnYW5pY19jdXJzb3IJAAACREFRSFNEbWo5VkdZcWRvMDB3bXBaTThuWWJrWUhaVThjQ1F3bFF1dFV1dmtHWS1oY2lQNmVpclpraFFWcmw0djNJSUlnTmVJcEFyQXhGMVJHUEtJN0tPRVd6UGFLV2hnZUtzVi1XQnY2RHEtWDY5ZjVPVUdmNDVxVG90VEhTS3VaaWRQSlpDUHhoT1RtWmpzSWV1ZThUZWYwd3phZ3YxRU5MRUF1US1Na0lFNDlKTnAyOGNJQkY1cVgzTUZCSjNjNjllTG96aVR2aUNlMlVJdnh3eXo3OE1jUXh4clZEa2hrZnhieVNBR0NTQ1VYeGFwVE9IU3Exa2x3LXlQcEgwcVZtNG9WLU9Pa3BLWlEyNHdoTWtmcml2VDEySkk4MEVXbDhCWUlERXQtU0ZxQ1BRY2Vnd1p2VU5pQ2M0UUtVS2h3eVJCZERyYjRKVS1NLThvREtVLVpMQzdfSTFsblFITGptMkpJSGwtMTZ5M09IclZDaEROY2RmekRHUDRVczY5U1dBd3pPa2tWdjlxYXN1XzVKUWF3bVp1cGtzdUw1bHhFMFYwWTFHa3JocUhsU0RkajdGNFRuak1WVUNTYTZKUDJBNFNUWWhicThpdk53V053cG5Odjk5dW9lTWN4U2JUMmpOZWZDbWI3Rjl2WmtNZEZTTGl0SVpRSnk5cmxlc3VrOWZURkhHTFBxUmE1WndnQkVZdWYtcDFtMTBGZmkxaTlJek5zMW1pOTNQSERzTGRkdUx4NjVwRVhNQzZDajBtS3oxb1gPCWFkX2N1cnNvcg4PD2dsb2JhbF9wb3NpdGlvbgIADwZvZmZzZXQCAA8QbGFzdF9hZF9wb3NpdGlvbgL/AQ==
                        hasMore: true
                    meta:
                      requestId: req_34578f19-269b-4d97-a017-9cdfc7982a72
                      creditsCharged: 1
                      version: v1
                paginated:
                  value:
                    data:
                      lookupStatus: found
                      posts:
                      - id: '10244073632835627'
                        text: Second page example.
                        url: https://www.facebook.com/example/posts/pfbid0page2
                        authorDisplayName: Example Author
                        reactionCount: 6
                        commentCount: 1
                      page:
                        nextCursor: next-cursor-token
                        hasMore: true
                    meta:
                      requestId: req_01example_page_2
                      creditsCharged: 1
                      version: v1
                empty:
                  value:
                    data:
                      lookupStatus: found
                      posts: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      posts: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_not_found
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid `url`, `pageId`, `cursor`, or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1FacebookProfilesPosts
      x-operation-id-source: derived
  /v1/facebook/profiles/reels:
    get:
      tags:
      - Facebook
      summary: List Facebook profile reels
      description: List Reels from a Facebook profile or Page.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-agent-hints:
        pagination: Use `data.page.nextCursor` only when `data.page.hasMore` is true.
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges:
        - queryParam: hostMedia
          credits: 48
          when: boolean_true
          badge: +2 / asset
          label: +2 credits per hosted asset (up to 24)
        maxCredits: 49
        normalizationFailureCredits: 0
      x-socialfetch-credits-pricing: 1 credit base. With `hostMedia`, +2 credits per hosted asset (up to 24 assets, 49 credits max).
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Public Facebook profile or page URL whose reels should be listed.
        required: true
        description: Public Facebook profile or page URL whose reels should be listed.
        name: url
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Opaque pagination cursor from a previous response.
        required: false
        description: Opaque pagination cursor from a previous response.
        name: cursor
        in: query
      - schema:
          type: boolean
          description: When true, hosts source media for 90 days and returns delivery URLs in each reel's `hostedMedia`.
        required: false
        description: When true, hosts source media for 90 days and returns delivery URLs in each reel's `hostedMedia`.
        name: hostMedia
        in: query
      responses:
        '200':
          description: Facebook reels for the requested profile or page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the requested profile or page resolved for this request.
                      reels:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Stable reel identifier from Facebook.
                            postId:
                              type:
                              - string
                              - 'null'
                              description: Underlying Facebook post id when available.
                            videoId:
                              type:
                              - string
                              - 'null'
                              description: Underlying Facebook video id when available.
                            url:
                              type: string
                              minLength: 1
                              description: Public Facebook URL for this reel.
                            description:
                              type:
                              - string
                              - 'null'
                              description: Caption or description text when available.
                            createdAt:
                              type:
                              - string
                              - 'null'
                              description: ISO-8601 timestamp for when the reel was created.
                            viewCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: View count when available.
                            thumbnailUrl:
                              type:
                              - string
                              - 'null'
                              description: Source-platform CDN URL for the thumbnail when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. Null when no syntactically usable URL is available. For durable hosted copies on this list route, pass `hostMedia=true`.
                            videoUrl:
                              type:
                              - string
                              - 'null'
                              description: Source-platform CDN URL for the video when available. It can expire or be rejected outside the original retrieval context; it is not a SocialFetch-hosted asset. Null when no syntactically usable URL is available. For durable hosted copies on this list route, pass `hostMedia=true`.
                            durationMs:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Play duration in milliseconds when available.
                            music:
                              type:
                              - object
                              - 'null'
                              properties:
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: Music track title when available.
                              required:
                              - title
                              description: Music metadata when available.
                            author:
                              type:
                              - object
                              - 'null'
                              properties:
                                platformUserId:
                                  type:
                                  - string
                                  - 'null'
                                  description: Facebook id for the reel author when available.
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  description: Display name for the reel author when available.
                                isVerified:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Whether Facebook marks the author as verified.
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: Public Facebook URL for the author when available.
                                imageUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: Profile image URL for the author when available.
                              required:
                              - platformUserId
                              - name
                              - isVerified
                              - url
                              - imageUrl
                              description: Author metadata when available.
                            hostedMedia:
                              type: array
                              items:
                                type: object
                                properties:
                                  status:
                                    type: string
                                    enum:
                                    - stored
                                    - failed
                                    description: Whether SocialFetch stored a durable copy of this asset.
                                  type:
                                    type: string
                                    enum:
                                    - image
                                    - video
                                    description: Normalized media kind.
                                  role:
                                    type: string
                                    enum:
                                    - display
                                    - thumbnail
                                    - video
                                    description: Which source field this asset was derived from.
                                  originalUrl:
                                    type: string
                                    format: uri
                                    description: Source-platform CDN URL that was requested for hosting. Still transient; prefer `url` when status is stored.
                                  url:
                                    type: string
                                    format: uri
                                    description: Time-limited SocialFetch delivery URL when status is stored. Re-request hostMedia (or a future refresh route) before this expires if you still need access; object retention may outlive the delivery URL.
                                  expiresAt:
                                    type: string
                                    format: date-time
                                    description: ISO-8601 timestamp when the returned delivery URL stops working.
                                  retainedUntil:
                                    type: string
                                    format: date-time
                                    description: ISO-8601 timestamp when the stored object is deleted from SocialFetch storage (90-day tier).
                                  mime:
                                    type: string
                                    minLength: 1
                                    description: MIME type of the stored bytes when status is stored.
                                  bytes:
                                    type: integer
                                    minimum: 0
                                    description: Stored size in bytes when status is stored.
                                  width:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Pixel width when known.
                                    exclusiveMinimum: 0
                                  height:
                                    type:
                                    - integer
                                    - 'null'
                                    description: Pixel height when known.
                                    exclusiveMinimum: 0
                                  entityId:
                                    type: string
                                    minLength: 1
                                    description: Opaque parent entity id for this asset (post, reel, photo, or video id).
                                  postId:
                                    type: string
                                    minLength: 1
                                    description: Legacy Instagram media id alias for `entityId`. Prefer `entityId`.
                                  errorCode:
                                    type: string
                                    minLength: 1
                                    description: Typed failure code when status is failed.
                                  errorMessage:
                                    type: string
                                    minLength: 1
                                    description: Short customer-safe failure message when status is failed.
                                required:
                                - status
                                - type
                                description: SocialFetch-hosted original media asset or per-asset failure.
                              description: Present only when `hostMedia=true`. Hosted copies and/or per-asset failures for this reel.
                          required:
                          - id
                          - postId
                          - videoId
                          - url
                          - description
                          - createdAt
                          - viewCount
                          - thumbnailUrl
                          - videoUrl
                          - durationMs
                          - music
                          - author
                          description: A single Facebook reel on a profile reels page.
                        description: Reels returned for the requested profile or page. This array may be empty on the last page.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass as `cursor` in the next request when `hasMore` is true; otherwise null.
                          hasMore:
                            type: boolean
                            description: Whether another page of reels can be requested.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination information for the current response.
                    required:
                    - lookupStatus
                    - reels
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      reels:
                      - id: UzpfSTEwMDAwMTAyMjQ4NjgyMzpWSzo3MjkyNzE4NjkwOTcyMDg=
                        postId: '7320446407999369'
                        videoId: '729271869097208'
                        url: https://www.facebook.com/reel/729271869097208
                        description: We love you Riley 💙
                        createdAt: '2023-12-19T15:56:54.000Z'
                        viewCount: 3200
                        thumbnailUrl: https://scontent-lga3-3.xx.fbcdn.net/v/t15.5256-10/566786002_1458215165255849_3639926333387522867_n.jpg?stp=dst-jpg_p960x960_tt6&_nc_cat=106&ccb=1-7&_nc_sid=5fad0e&_nc_ohc=IP6uGRxX4nQQ7kNvwF9Ml85&_nc_oc=AdoDcL1QTmJDBdif7ZGQIhL9bRwunQtQI0ix6H-ZY9aAfgx4Wje43jnYeA-lpfVyzHA&_nc_zt=23&_nc_ht=scontent-lga3-3.xx&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&oh=00_Af5b6zNaPewH1CO_yvZ7PH9FP4YK8s6I2aOS7fWFKr8OFQ&oe=6A0F4D5B
                        videoUrl: https://video-lga3-2.xx.fbcdn.net/o1/v/t2/f2/m366/AQNTMwtpk4JrL-metIUbS08InyJ4vHetvvBrAc33NMpNeNQfdIjmgPobSKKVvDp1rZC1hNoQddbqn7OFCcclo4bYI9xJi0zwSqy5xquWgQdOGw.mp4?_nc_cat=100&_nc_sid=5e9851&_nc_ht=video-lga3-2.xx.fbcdn.net&_nc_ohc=Pf2Pz2zswFcQ7kNvwHePSJh&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzMuNzIwLmRhc2hfaDI2NC1iYXNpYy1nZW4yXzcyMHAiLCJ4cHZfYXNzZXRfaWQiOjEwMjEyMzQzNjg5NTM5MzMsImFzc2V0X2FnZV9kYXlzIjo4NzksInZpX3VzZWNhc2VfaWQiOjEwMTIzLCJkdXJhdGlvbl9zIjoyMywidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&vs=22245618eaf11544&_nc_vs=HBksFQIYRWZiX2VwaGVtZXJhbC9GMDQwRkJFQUQ1ODY3QTQ5MTRDNDhGM0RDQjBBRTlBM19tdF8xX3ZpZGVvX2Rhc2hpbml0Lm1wNBUAAsgBEgAVAhg6cGFzc3Rocm91Z2hfZXZlcnN0b3JlL0dMU0ppUmpsOVBBYldGNENBRXNKeDZNemxvUW5idjRHQUFBRhUCAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACaa-dn81LPQAxUCKAJDMywXQDdEGJN0vGoYGWRhc2hfaDI2NC1iYXNpYy1nZW4yXzcyMHARAHUCZZaeAQA&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&_nc_zt=28&oh=00_Af4tLoFuxxYB28nrWpqdsLUSs0M-j-vY1_vRB8CPG6B1Zw&oe=6A0F5160&bitrate=2378526&tag=dash_h264-basic-gen2_720p
                        durationMs: 23234
                        music:
                          title: null
                        author:
                          platformUserId: pfbid0oLfXu1ATKUTKguRajfCYu7BP2rzBW8kXQ44KhGdV17eP6hffyY7P2uMZA5VDZJYwl
                          name: Carly Cross
                          isVerified: false
                          url: https://www.facebook.com/carly.cross.5
                          imageUrl: https://scontent-lga3-1.xx.fbcdn.net/v/t39.30808-1/643478184_26435581719392551_6829771121814667941_n.jpg?stp=c0.0.834.834a_cp0_dst-jpg_s40x40_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_ohc=tLRvt443fCAQ7kNvwHrdjfF&_nc_oc=Adpu3l4Hc9nQgO15hlyJiNJ6Y66JvXr0Dp9E2mWTFMxSvWnpDrJbng_MZyCBBC-TPHc&_nc_zt=24&_nc_ht=scontent-lga3-1.xx&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&oh=00_Af6CKbzl6AbcmObGLjxAOYaZs5_-z0BOw7HR9rbVZ1lahQ&oe=6A0F3C41
                      - id: UzpfSTEwMDAwMTAyMjQ4NjgyMzpWSzoxMDk1MzU2Mjk3OTk0Mjkz
                        postId: '5345310442179652'
                        videoId: '1095356297994293'
                        url: https://www.facebook.com/reel/1095356297994293
                        description: So proud of my Pop’s, Easter Weekend made 🥰
                        createdAt: '2022-04-18T17:05:31.000Z'
                        viewCount: 617
                        thumbnailUrl: https://scontent-lga3-1.xx.fbcdn.net/v/t15.5256-10/564679906_1291859855589201_4396156641858650290_n.jpg?stp=dst-jpg_p960x960_tt6&_nc_cat=103&ccb=1-7&_nc_sid=5fad0e&_nc_ohc=vzIr0S8MfSMQ7kNvwHQ_iUx&_nc_oc=AdruO_b6ATBO9i-WlrA7AEuIDTixOs0qzvA8f30-DkLeKKbs7Q1vSZW9P53_GyAR4Co&_nc_zt=23&_nc_ht=scontent-lga3-1.xx&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&oh=00_Af56Aq7IXJtlA_dniqQC-mvGJKg8JqaIGoocV55RgE7VsQ&oe=6A0F3C62
                        videoUrl: https://video-lga3-1.xx.fbcdn.net/o1/v/t2/f2/m366/AQPuU-FZo86tDBbomkEDuNC8_AF0X_V2iHZlJfsqorhTCcQDV4kHnJoE2cwVm31r5880t-CuF_yeqODUES2Y34OQc5c4FeYZ0qOodj6iuQRy4g.mp4?_nc_cat=103&_nc_sid=5e9851&_nc_ht=video-lga3-1.xx.fbcdn.net&_nc_ohc=o2rMQ1QEcNIQ7kNvwEviGTM&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzMuNzIwLmRhc2hfaDI2NC1iYXNpYy1nZW4yXzcyMHAiLCJ4cHZfYXNzZXRfaWQiOjU1Mjc2MjE4NjE2NTY0MiwiYXNzZXRfYWdlX2RheXMiOjE0ODksInZpX3VzZWNhc2VfaWQiOjEwMTIzLCJkdXJhdGlvbl9zIjo5LCJ1cmxnZW5fc291cmNlIjoid3d3In0%3D&ccb=17-1&vs=a177cbcb6c6d04c5&_nc_vs=HBkcFQIYRWZiX2VwaGVtZXJhbC9BOTRCQjNBMzRCOTA5M0QzQkRGRDk2OUQyNjI3QjZBN19tdF8xX3ZpZGVvX2Rhc2hpbml0Lm1wNBUAAsgBEgAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACaUtoOc_677ARUCKAJDMywXQCPdsi0OVgQYGWRhc2hfaDI2NC1iYXNpYy1nZW4yXzcyMHARAHUCZZaeAQA&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&_nc_zt=28&oh=00_Af5edN3-q_0vMJcoW8DHt2MfMRAjk6GzQuGEsHeCv_DiHA&oe=6A0F463D&bitrate=0&tag=dash_h264-basic-gen2_720p
                        durationMs: 9900
                        music:
                          title: null
                        author:
                          platformUserId: pfbid0oLfXu1ATKUTKguRajfCYu7BP2rzBW8kXQ44KhGdV17eP6hffyY7P2uMZA5VDZJYwl
                          name: Carly Cross
                          isVerified: false
                          url: https://www.facebook.com/carly.cross.5
                          imageUrl: https://scontent-lga3-1.xx.fbcdn.net/v/t39.30808-1/643478184_26435581719392551_6829771121814667941_n.jpg?stp=c0.0.834.834a_cp0_dst-jpg_s40x40_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_ohc=tLRvt443fCAQ7kNvwHrdjfF&_nc_oc=Adpu3l4Hc9nQgO15hlyJiNJ6Y66JvXr0Dp9E2mWTFMxSvWnpDrJbng_MZyCBBC-TPHc&_nc_zt=24&_nc_ht=scontent-lga3-1.xx&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&oh=00_Af6CKbzl6AbcmObGLjxAOYaZs5_-z0BOw7HR9rbVZ1lahQ&oe=6A0F3C41
                      - id: UzpfSTEwMDAwMTAyMjQ4NjgyMzpWSzoxMTE4MDA2ODMyMjcwOTA4
                        postId: '4941318845912149'
                        videoId: '1118006832270908'
                        url: https://www.facebook.com/reel/1118006832270908
                        description: Poppy had a very special phone call this afternoon 🎅❤️
                        createdAt: '2021-12-16T19:35:09.000Z'
                        viewCount: 488
                        thumbnailUrl: https://scontent-lga3-1.xx.fbcdn.net/v/t15.5256-10/268024376_1118007222270869_5757833240548394468_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5fad0e&_nc_ohc=lenJ2KfHeCMQ7kNvwG_DtY-&_nc_oc=Adrb89ClGP0uQka8bCxQF8pcVe0Fosxr32wWsNeRyAk5NQg1kNaPSBJB8dKSyO4kT60&_nc_zt=23&_nc_ht=scontent-lga3-1.xx&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&oh=00_Af6Z_k5NYSTFrVJsFxNvH1IAWRG6b1sOZ_GP3_Hz4vsmGA&oe=6A0F2F76
                        videoUrl: https://video-lga3-1.xx.fbcdn.net/o1/v/t2/f2/m266/AQMSlN85lpVHGSNcN2EjdBc98A5Uq_spwUNEas4i3jIQ2en62UABDJCYjNikps7uIbrTZFowPcd59avxgFfcKlv6CHB76gKMO8E.mp4?strext=1&_nc_cat=109&_nc_sid=8bf8fe&_nc_ht=video-lga3-1.xx.fbcdn.net&_nc_ohc=sizkqADJC0wQ7kNvwH4CY0e&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzMuNDgwLmNvbXByZXNzZWRfc291cmNlIiwieHB2X2Fzc2V0X2lkIjozNDEyODk1MTIyMDI3OTcsImFzc2V0X2FnZV9kYXlzIjoxNjEyLCJ2aV91c2VjYXNlX2lkIjoxMDEyMywiZHVyYXRpb25fcyI6NjcsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&_nc_zt=28&oh=00_Af7kX5bryNIOSdILLdj41Wor_pxxjEj0AGhRpw-jdfWuqQ&oe=6A0B5D79&bitrate=437287&tag=compressed_source
                        durationMs: 67100
                        music:
                          title: null
                        author:
                          platformUserId: pfbid0oLfXu1ATKUTKguRajfCYu7BP2rzBW8kXQ44KhGdV17eP6hffyY7P2uMZA5VDZJYwl
                          name: Carly Cross
                          isVerified: false
                          url: https://www.facebook.com/carly.cross.5
                          imageUrl: https://scontent-lga3-1.xx.fbcdn.net/v/t39.30808-1/643478184_26435581719392551_6829771121814667941_n.jpg?stp=c0.0.834.834a_cp0_dst-jpg_s40x40_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_ohc=tLRvt443fCAQ7kNvwHrdjfF&_nc_oc=Adpu3l4Hc9nQgO15hlyJiNJ6Y66JvXr0Dp9E2mWTFMxSvWnpDrJbng_MZyCBBC-TPHc&_nc_zt=24&_nc_ht=scontent-lga3-1.xx&_nc_gid=_OgnvemOseoaMRqdJdTKFQ&_nc_ss=7e289&oh=00_Af6CKbzl6AbcmObGLjxAOYaZs5_-z0BOw7HR9rbVZ1lahQ&oe=6A0F3C41
                      - id: UzpfSTEwMDAwMTAyMjQ4NjgyMzpWSzoyOTgxOTQ0ODg3MzYwMjY=
                        postId: '4925543557489678'
                        videoId: '298194488736026'
                        url: https://www.facebook.com/reel/298194488736026
                        description: A strictly fan 💃
                        createdAt: '2021-12-12T19:53:45.000Z'
                        viewCount: 425
[...]
