openapi: 3.2.0
info:
  title: Social Fetch Public You Tube API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Youtube
paths:
  /v1/youtube/channel:
    get:
      tags:
      - Youtube
      summary: Get YouTube channel
      description: Get YouTube channel details by channel id, handle, or URL.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Optional YouTube channel id for the request.
        required: false
        description: Optional YouTube channel id for the request.
        name: channelId
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 64
          description: Optional YouTube channel handle for the request.
        required: false
        description: Optional YouTube channel handle for the request.
        name: handle
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Optional YouTube channel URL for the request.
        required: false
        description: Optional YouTube channel URL for the request.
        name: url
        in: query
      responses:
        '200':
          description: YouTube channel lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the channel was found.
                      channel:
                        type:
                        - object
                        - 'null'
                        properties:
                          platform:
                            type: string
                            enum:
                            - youtube
                            description: Social platform for this channel.
                          handle:
                            type: string
                            description: YouTube channel handle without the leading @.
                          displayName:
                            type:
                            - string
                            - 'null'
                            description: Public display name for the YouTube channel.
                          bio:
                            type:
                            - string
                            - 'null'
                            description: Channel description text when available.
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                            description: Best available square avatar image URL.
                          bannerUrl:
                            type:
                            - string
                            - 'null'
                            description: Channel banner image URL when available.
                          verified:
                            type: boolean
                            description: Whether the channel is marked as verified.
                          profileUrl:
                            type: string
                            minLength: 1
                            description: Canonical public YouTube channel URL.
                          platformUserId:
                            type: string
                            description: YouTube channel id (stable identifier for the channel).
                          country:
                            type:
                            - string
                            - 'null'
                            description: Country label when available.
                          joinedDateText:
                            type:
                            - string
                            - 'null'
                            description: Human-readable join date text from YouTube when available (not guaranteed to parse to a calendar date).
                          externalLinks:
                            type: array
                            items:
                              type: string
                              minLength: 1
                            description: Deduplicated outbound links associated with the channel when available.
                        required:
                        - platform
                        - handle
                        - displayName
                        - bio
                        - avatarUrl
                        - bannerUrl
                        - verified
                        - profileUrl
                        description: Channel details when available.
                      metrics:
                        type:
                        - object
                        - 'null'
                        properties:
                          subscribers:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Subscriber count for the channel when available.
                          videos:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Public video count for the channel when available.
                          views:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Total view count reported for the channel when available.
                        required:
                        - subscribers
                        - videos
                        - views
                        description: Channel metrics when available.
                    required:
                    - lookupStatus
                    - channel
                    - metrics
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      channel:
                        platform: youtube
                        handle: MrBeast
                        displayName: MrBeast
                        bio: 'SUBSCRIBE FOR A COOKIE!

                          New MrBeast or MrBeast Gaming video every single Saturday at noon eastern time!

                          Accomplishments:

                          - Raised $20,000,000 To Plant 20,000,000 Trees

                          - Removed 30,000,000 pounds of trash from the ocean

                          - Helped 2,000 people walk again

                          - Helped 1,000 blind people see

                          - Helped 1,000 deaf people hear

                          - Built wells in Africa

                          - Built and gave away 100 houses

                          - Adopted every dog in a shelter (twice)

                          - Given millions to charity

                          - Started my own snack company Feastables

                          - Started my own software company Viewstats

                          - Gave away a private island (twice)

                          - Gave away 1 million meals

                          - I counted to 100k

                          - Ran a marathon in the world''s largest shoes

                          - Survived 50 hours in Antarctica

                          - Recreated Squid Game in real life

                          - Created the largest competition show with 1000 people (Beast Games)

                          - Gave $5,000,000 to one person

                          you get it, I appreciate all of you so much :)


                          Terms & Conditions of Current Sweepstakes: https://bit.ly/mrbeastbowandarrow'
                        avatarUrl: https://yt3.googleusercontent.com/nxYrc_1_2f77DoBadyxMTmv7ZpRZapHR5jbuYe7PlPd5cIRJxtNNEYyOC0ZsxaDyJJzXrnJiuDE=s68-c-k-c0x00ffffff-no-rj
                        bannerUrl: https://yt3.googleusercontent.com/mHMO_eEMp0dPvh0ADwXhPXNYb_GnjSVsLI8biqF1CpxT8OPl7izhNQsDPD3JHhd5y5Mg9GrP=w2560-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj
                        verified: true
                        profileUrl: http://www.youtube.com/@MrBeast
                        platformUserId: UCX6OQ3DkcsbYNE6H8uQQuVA
                        country: United States
                        joinedDateText: Joined Feb 19, 2012
                        externalLinks:
                        - https://facebook.com/mrbeast
                        - https://instagram.com/mrbeast
                        - https://twitter.com/MrBeast
                      metrics:
                        subscribers: 486000000
                        videos: 979
                        views: 122602383901
                    meta:
                      requestId: req_d407d134-bab9-4ea6-bb12-f85a6a78e078
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      channel: null
                      metrics: null
                    meta:
                      requestId: req_01example_nf
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid query or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1YoutubeChannel
      x-operation-id-source: derived
  /v1/youtube/channels/videos:
    get:
      tags:
      - Youtube
      summary: List YouTube channel videos
      description: List long-form videos from a YouTube channel (not Shorts — use youtube.channel.shorts.list).
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Optional YouTube channel id for the request.
        required: false
        description: Optional YouTube channel id for the request.
        name: channelId
        in: query
      - schema:
          type: string
          description: Optional YouTube channel handle for the request.
        required: false
        description: Optional YouTube channel handle for the request.
        name: handle
        in: query
      - schema:
          type: string
          enum:
          - latest
          - popular
          description: Optional sort order for the returned YouTube videos.
        required: false
        description: Optional sort order for the returned YouTube videos.
        name: sortBy
        in: query
      - schema:
          type: string
          minLength: 1
          description: Opaque pagination cursor returned by a previous response.
        required: false
        description: Opaque pagination cursor returned by a previous response.
        name: cursor
        in: query
      - schema:
          type: boolean
          description: Optional flag to include richer per-video metadata when available.
        required: false
        description: Optional flag to include richer per-video metadata when available.
        name: includeExtras
        in: query
      responses:
        '200':
          description: YouTube videos for the requested channel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the channel was resolved for this request.
                      videos:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: YouTube video identifier.
                            url:
                              type:
                              - string
                              - 'null'
                              description: Canonical public YouTube URL for the video.
                            title:
                              type:
                              - string
                              - 'null'
                              description: Title shown for the YouTube video.
                            thumbnailUrl:
                              type:
                              - string
                              - 'null'
                              description: Best available thumbnail image URL for the video.
                            viewCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: View count for the video when available.
                            viewCountText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable view count label when available.
                            publishedAt:
                              type:
                              - string
                              - 'null'
                              description: ISO-8601 timestamp for when the video was published, when available.
                            publishedTimeText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable relative publish time text when available.
                            durationSeconds:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Duration of the video in seconds when available.
                            durationText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable duration label for the video when available.
                            channelTitle:
                              type:
                              - string
                              - 'null'
                              description: Channel title shown alongside the video when available.
                            channelThumbnailUrl:
                              type:
                              - string
                              - 'null'
                              description: Channel thumbnail image URL shown alongside the video when available.
                            description:
                              type:
                              - string
                              - 'null'
                              description: Video description text when available.
                            commentCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Comment count for the video when available.
                            commentCountText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable comment count label when available.
                            likeCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Like count for the video when available.
                            likeCountText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable like count label when available.
                            publishDate:
                              type:
                              - string
                              - 'null'
                              description: Publish date text when available.
                            genre:
                              type:
                              - string
                              - 'null'
                              description: Video category or genre label when available.
                            durationMs:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Duration of the video in milliseconds when available.
                            durationFormatted:
                              type:
                              - string
                              - 'null'
                              description: Alternative formatted duration label when available.
                          required:
                          - id
                          - url
                          - title
                          - thumbnailUrl
                          - viewCount
                          - viewCountText
                          - publishedAt
                          - publishedTimeText
                          - durationSeconds
                          - durationText
                          - channelTitle
                          - channelThumbnailUrl
                          description: A single YouTube video in the channel videos feed.
                        description: YouTube videos returned for the resolved channel. This array may be empty when the channel resolves but there are no videos in the returned page.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass in the next request when another page exists.
                          hasMore:
                            type: boolean
                            description: Whether another page of videos is available.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination information for the current response.
                    required:
                    - lookupStatus
                    - videos
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      videos:
                      - id: ehPHNMQEO5M
                        url: https://www.youtube.com/watch?v=ehPHNMQEO5M
                        title: Can HEAT transform your running FITNESS? (Copenhagen Calling Ep.5)
                        thumbnailUrl: https://i.ytimg.com/vi/ehPHNMQEO5M/hqdefault.jpg
                        viewCount: 617
                        viewCountText: 617 views
                        publishedAt: '2026-04-12T15:07:20.873Z'
                        publishedTimeText: 6 days ago
                        durationSeconds: 795
                        durationText: '13:15'
                        channelTitle: null
                        channelThumbnailUrl: null
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example
                      creditsCharged: 1
                      version: v1
                paginated:
                  value:
                    data:
                      lookupStatus: found
                      videos:
                      - id: sF5LYGgKbUA
                        url: https://www.youtube.com/watch?v=sF5LYGgKbUA
                        title: Every Minute One Person Is Eliminated
                        thumbnailUrl: https://i.ytimg.com/vi/sF5LYGgKbUA/hqdefault.jpg
                        viewCount: 166182287
                        viewCountText: 166,182,287 views
                        publishedAt: '2025-04-18T15:08:58.344Z'
                        publishedTimeText: 1 year ago
                        durationSeconds: 2086
                        durationText: '34:46'
                        channelTitle: null
                        channelThumbnailUrl: null
                      page:
                        nextCursor: opaque_next_cursor
                        hasMore: true
                    meta:
                      requestId: req_01example_page_2
                      creditsCharged: 1
                      version: v1
                no_videos:
                  value:
                    data:
                      lookupStatus: found
                      videos: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_empty
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      videos: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_nf
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid query or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1YoutubeChannelsVideos
      x-operation-id-source: derived
  /v1/youtube/channels/shorts:
    get:
      tags:
      - Youtube
      summary: List YouTube channel Shorts
      description: List Shorts from a YouTube channel (not long-form videos).
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 1
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: Optional YouTube channel id for the request.
        required: false
        description: Optional YouTube channel id for the request.
        name: channelId
        in: query
      - schema:
          type: string
          description: Optional YouTube channel handle for the request.
        required: false
        description: Optional YouTube channel handle for the request.
        name: handle
        in: query
      - schema:
          type: string
          enum:
          - latest
          - popular
          description: Optional sort order for the returned YouTube Shorts.
        required: false
        description: Optional sort order for the returned YouTube Shorts.
        name: sortBy
        in: query
      - schema:
          type: string
          minLength: 1
          description: Opaque pagination cursor returned by a previous response.
        required: false
        description: Opaque pagination cursor returned by a previous response.
        name: cursor
        in: query
      responses:
        '200':
          description: YouTube Shorts for the requested channel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the channel was resolved for this request.
                      shorts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: YouTube Short identifier.
                            url:
                              type:
                              - string
                              - 'null'
                              description: Canonical public YouTube URL for the Short.
                            title:
                              type:
                              - string
                              - 'null'
                              description: Title shown for the Short.
                            description:
                              type:
                              - string
                              - 'null'
                              description: Short description text when available.
                            viewCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: View count for the Short when available.
                            viewCountText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable view count label when available.
                            commentCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Comment count for the Short when available.
                            commentCountText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable comment count label when available.
                            likeCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Like count for the Short when available.
                            likeCountText:
                              type:
                              - string
                              - 'null'
                              description: Human-readable like count label when available.
                            publishDate:
                              type:
                              - string
                              - 'null'
                              description: Publication timestamp label when available.
                            genre:
                              type:
                              - string
                              - 'null'
                              description: Category or genre label when available.
                            durationMs:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Duration of the Short in milliseconds when available.
                            durationFormatted:
                              type:
                              - string
                              - 'null'
                              description: Formatted duration label when available.
                          required:
                          - id
                          - url
                          - title
                          - description
                          - viewCount
                          - viewCountText
                          description: A single YouTube Short in the channel Shorts feed.
                        description: YouTube Shorts returned for the resolved channel. This array may be empty when the channel resolves but there are no Shorts in the returned page.
                      page:
                        type: object
                        properties:
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass in the next request when another page exists.
                          hasMore:
                            type: boolean
                            description: Whether another page of Shorts is available.
                        required:
                        - nextCursor
                        - hasMore
                        description: Pagination information for the current response.
                    required:
                    - lookupStatus
                    - shorts
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      shorts:
                      - id: QAkEMtJpq3c
                        url: https://www.youtube.com/watch?v=QAkEMtJpq3c
                        title: Hit The Button, Win $1,000
                        description: New and current subscribers will receive an entry for a chance to win during the sweepstakes period (May 15, 2026 - June 14, 2026). YouTube account must be set to public and include a valid email address. No purchase necessary. Must be 18+. Full rules at https://bit.ly/MrB_Cash_Giveaway
                        viewCount: 23005541
                        viewCountText: 23,005,541
                        commentCount: 35000
                        commentCountText: 35K
                        likeCount: 546167
                        likeCountText: '546167'
                        publishDate: '2026-05-15T09:00:10-07:00'
                        genre: Entertainment
                        durationMs: 21000
                        durationFormatted: 00:00:21
                      - id: hCuqh2NU2Yg
                        url: https://www.youtube.com/watch?v=hCuqh2NU2Yg
                        title: World's Fastest Date
                        description: null
                        viewCount: 63740458
                        viewCountText: 63,740,458
                        commentCount: 13000
                        commentCountText: 13K
                        likeCount: 1540734
                        likeCountText: '1540734'
                        publishDate: '2026-05-12T09:00:07-07:00'
                        genre: Entertainment
                        durationMs: 32000
                        durationFormatted: 00:00:32
                      - id: B9LizOAAoLg
                        url: https://www.youtube.com/watch?v=B9LizOAAoLg
                        title: I’m Granting Wishes For My Subscribers
                        description: 'Disclaimer: We are contributing cash towards the wish of your choosing. Rules and conditions apply. Please visit https://bit.ly/MrB_Birthday_YT for additional rules and details.'
                        viewCount: 272397409
                        viewCountText: 272,397,409
                        commentCount: 937000
                        commentCountText: 937K
                        likeCount: 2724578
                        likeCountText: '2724578'
                        publishDate: '2026-05-07T09:00:00-07:00'
                        genre: Entertainment
                        durationMs: 16000
                        durationFormatted: 00:00:16
                      - id: rqsRdfdN4uI
                        url: https://www.youtube.com/watch?v=rqsRdfdN4uI
                        title: Guess The Animal
                        description: Filming with these animals was so fun! We had the American Humane Society on set throughout filming to make sure all the animals were safe and cared for. They gave us their official “No Animals Were Harmed®” stamp of approval.
                        viewCount: 164466696
                        viewCountText: 164,466,696
                        commentCount: 10000
                        commentCountText: 10K
                        likeCount: 2265641
                        likeCountText: '2265641'
                        publishDate: '2026-05-05T09:00:02-07:00'
                        genre: Entertainment
                        durationMs: 46000
                        durationFormatted: 00:00:46
                      - id: feu5PQvoCiA
                        url: https://www.youtube.com/watch?v=feu5PQvoCiA
                        title: Asking My Fiancée on a Date
                        description: null
                        viewCount: 10639838
                        viewCountText: 10,639,838
                        commentCount: 10000
                        commentCountText: 10K
                        likeCount: 315937
                        likeCountText: '315937'
                        publishDate: '2026-05-03T09:00:11-07:00'
                        genre: Entertainment
                        durationMs: 8000
                        durationFormatted: 00:00:08
                      - id: VEGq2Du_HCw
                        url: https://www.youtube.com/watch?v=VEGq2Du_HCw
                        title: Subscribe for $10,000
                        description: 'New subscribers will receive an entry for a chance to win by subscribing to the MrBeast YouTube channel between May 1 - May 28, 2026. YouTube account must be set to public and include a valid email address. No purchase necessary. Must be 18+. Full rules at https://bit.ly/mrbeastbowandarrow


                          Subscribe! We are contributing cash towards the wish of your choosing. Rules and conditions apply. Please visit https://bit.ly/MrB_Birthday_YT for additional rules and details.'
                        viewCount: 535118118
                        viewCountText: 535,118,118
                        commentCount: 52000
                        commentCountText: 52K
                        likeCount: 3275847
                        likeCountText: '3275847'
                        publishDate: '2026-05-01T09:00:01-07:00'
                        genre: Entertainment
                        durationMs: 13000
                        durationFormatted: 00:00:13
                      - id: EdT5Z16Y5WE
                        url: https://www.youtube.com/watch?v=EdT5Z16Y5WE
                        title: Would Your Dog Pick $10,000 or Steak?
                        description: null
                        viewCount: 40530244
                        viewCountText: 40,530,244
                        commentCount: 9400
                        commentCountText: 9.4K
                        likeCount: 984811
                        likeCountText: '984811'
                        publishDate: '2026-04-29T09:00:05-07:00'
                        genre: Entertainment
                        durationMs: 32000
                        durationFormatted: 00:00:32
                      - id: ScjQAcbA9e4
                        url: https://www.youtube.com/watch?v=ScjQAcbA9e4
                        title: Important Announcement From The Grocery Store
                        description: null
                        viewCount: 14201716
                        viewCountText: 14,201,716
                        commentCount: 14000
                        commentCountText: 14K
                        likeCount: 466892
                        likeCountText: '466892'
                        publishDate: '2026-04-28T09:00:24-07:00'
                        genre: Entertainment
                        durationMs: 12000
                        durationFormatted: 00:00:12
                      - id: hRBpDdWbUpI
                        url: https://www.youtube.com/watch?v=hRBpDdWbUpI
                        title: Can My Fiancée Lift Me?
                        description: null
                        viewCount: 13720305
                        viewCountText: 13,720,305
                        commentCount: 7200
                        commentCountText: 7.2K
                        likeCount: 310991
                        likeCountText: '310991'
                        publishDate: '2026-04-27T12:01:02-07:00'
                        genre: Entertainment
                        durationMs: 17000
                        durationFormatted: 00:00:17
                      - id: pzxtGL9kzPs
                        url: https://www.youtube.com/watch?v=pzxtGL9kzPs
                        title: Try Not To Get Slimed
                        description: null
                        viewCount: 80343653
                        viewCountText: 80,343,653
                        commentCount: 11000
                        commentCountText: 11K
                        likeCount: 999325
                        likeCountText: '999325'
                        publishDate: '2026-04-24T09:00:00-07:00'
                        genre: Entertainment
                        durationMs: 32000
                        durationFormatted: 00:00:32
                      - id: yy-Nt0dRhNI
                        url: https://www.youtube.com/watch?v=yy-Nt0dRhNI
                        title: Winner Picks Our Honeymoon
                        description: null
                        viewCount: 89080374
                        viewCountText: 89,080,374
                        commentCount: 15000
                        commentCountText: 15K
                        likeCount: 1656549
                        likeCountText: '1656549'
                        publishDate: '2026-04-21T09:00:02-07:00'
                        genre: Entertainment
                        durationMs: 51000
                        durationFormatted: 00:00:51
                      - id: mFWpUx3FiyU
                        url: https://www.youtube.com/watch?v=mFWpUx3FiyU
                        title: Guess The Animal
                        description: American Humane Society monitored the animal action. No animals were harmed® (AH 14171)
                        viewCount: 140713258
                        viewCountText: 140,713,258
                        commentCount: 10000
                        commentCountText: 10K
                        likeCount: 2097880
                        likeCountText: '2097880'
                        publishDate: '2026-04-17T09:00:01-07:00'
                        genre: Entertainment
                        durationMs: 45000
                        durationFormatted: 00:00:45
                      - id: 6W_841xoprg
                        url: https://www.youtube.com/watch?v=6W_841xoprg
                        title: Can a Window Stop a Wrecking Ball?
                        description: null
                        viewCount: 70899820
                        viewCountText: 70,899,820
                        commentCount: 10000
                        commentCountText: 10K
                        likeCount: 1585076
                        likeCountText: '1585076'
                        publishDate: '2026-04-14T09:00:01-07:00'
                        genre: Entertainment
                        durationMs: 30000
                        durationFormatted: 00:00:30
                      - id: VIJLIo5yT1I
                        url: https://www.youtube.com/watch?v=VIJLIo5yT1I
                        title: Don’t Eat The Spicy Yoshi Egg
                        description: null
                        viewCount: 107567169
                        viewCountText: 107,567,169
                        commentCount: 11000
                        commentCountText: 11K
                        likeCount: 1882327
                        likeCountText: '1882327'
                        publishDate: '2026-04-10T09:00:00-07:00'
                        genre: Entertainment
                        durationMs: 56000
                        durationFormatted: 00:00:56
                      - id: uNu6XEPTy5g
                        url: https://www.youtube.com/watch?v=uNu6XEPTy5g
                        title: $1 or Mystery Vial?
                        description: null
                        viewCount: 42248375
                        viewCountText: 42,248,375
                        commentCount: 13000
                        commentCountText: 13K
                        likeCount: 1282333
                        likeCountText: '1282333'
                        publishDate: '2026-04-07T09:00:04-07:00'
                        genre: Entertainment
                        durationMs: 34000
                        durationFormatted: 00:00:34
                      - id: _JUlWtSCNbs
                        url: https://www.youtube.com/watch?v=_JUlWtSCNbs
                        title: Who's The Strongest Streamer?
                        description: null
                        viewCount: 376021841
                        viewCountText: 376,021,841
                        commentCount: 16000
                        commentCountText: 16K
                        likeCount: 5564393
                        likeCountText: '5564393'
                        publishDate: '2026-04-03T09:00:06-07:00'
                        genre: Entertainment
                        durationMs: 26000
                        durationFormatted: 00:00:26
                      - id: AKC50SZQFN8
                        url: https://www.youtube.com/watch?v=AKC50SZQFN8
                        title: Spreading Rumors About Streamers
                        description: null
                        viewCount: 14748567
                        viewCountText: 14,748,567
                        commentCount: 7500
                        commentCountText: 7.5K
                        likeCount: 401864
                        likeCountText: '401864'
                        publishDate: '2026-04-02T09:00:00-07:00'
                        genre: Entertainment
                        durationMs: 36000
                        durationFormatted: 00:00:36
                      - id: 897gvApD6V4
                        url: https://www.youtube.com/watch?v=897gvApD6V4
                        title: Will a Zebra Subscribe to me?
                        description: American Humane Society monitored the animal action.  No animals were harmed® (AH 14134)
                        viewCount: 624760239
                        viewCountText: 624,760,239
                        commentCount: 19000
                        commentCountText: 19K
                        likeCount: 2987830
                        likeCountText: '2987830'
                        publishDate: '2026-04-01T09:00:01-07:00'
                        genre: Entertainment
                        durationMs: 8000
                        durationFormatted: 00:00:08
                      - id: Z9NxQdQ8Rpg
                        url: https://www.youtube.com/watch?v=Z9NxQdQ8Rpg
                        title: Bring Me A Glass Of Water = Win $10,000
                        description: null
                        viewCount: 28961475
                        viewCountText: 28,961,475
                        commentCount: 13000
                        commentCountText: 13K
                        likeCount: 822898
                        likeCountText: '822898'
                        publishDate: '2026-03-26T12:00:02-07:00'
                        genre: Entertainment
                        durationMs: 40000
                        durationFormatted: 00:00:40
                      - id: jCE1Ol3PYDs
                        url: https://www.youtube.com/watch?v=jCE1Ol3PYDs
                        title: I Hid $1,000,000 In This Vault
                        description: Colin was the first to Slack me the correct code, so we flew him out to unlock the $1,000,000 vault. Thanks to Salesforce for making this possible and giving millions a shot at winning!
                        viewCount: 51233497
                        viewCountText: 51,233,497
                        commentCount: 16000
                        commentCountText: 16K
                        likeCount: 1639221
                        likeCountText: '1639221'
                        publishDate: '2026-03-20T09:00:03-07:00'
                        genre: Entertainment
                        durationMs: 57000
                        durationFormatted: 00:00:57
                      - id: IqL-ZunFfpk
                        url: https://www.youtube.com/watch?v=IqL-ZunFfpk
                        title: Pop The Balloons, Win $10,000
                        description: fyi we made sure to remove all the popped balloons garbage and track down any balloons that flew away to make sure we didn’t litter :)
                        viewCount: 81123623
                        viewCountText: 81,123,623
                        commentCount: 12000
                        commentCountText: 12K
                        likeCount: 1580299
                        likeCountText: '1580299'
                        publishDate: '2026-03-17T09:00:04-07:00'
                        genre: Entertainment
                        durationMs: 22000
                        durationFormatted: 00:00:22
                      - id: purAsH7pXTQ
                        url: https://www.youtube.com/watch?v=purAsH7pXTQ
                        title: 5 Strangers Split $100,000
                        description: null
                        viewCount: 62910311
                        viewCountText: 62,910,311
                        commentCount: 19000
                        commentCountText: 19K
                        likeCount: 1792263
                        likeCountText: '1792263'
                        publishDate: '2026-03-13T09:00:00-07:00'
                        genre: Entertainment
                        durationMs: 64000
                        durationFormatted: 00:01:04
                      - id: IEuDUhGIJ5c
                        url: https://www.youtube.com/watch?v=IEuDUhGIJ5c
                        title: My Chocolate Factory Blew Up
                        description: null
                        viewCount: 17699796
                        viewCountText: 17,699,796
                        commentCount: 19000
                        commentCountText: 19K
                        likeCount: 878808
                        likeCountText: '878808'
                        publishDate: '2026-03-10T09:00:01-07:00'
                        genre: Entertainment
                        durationMs: 69000
                        durationFormatted: 00:01:09
                      - id: IcuJ3vO_t3k
                        url: https://www.youtube.com/watch?v=IcuJ3vO_t3k
                        title: Would You Steal Money From A Stranger?
                        description: null
                        viewCount: 76243976
                        viewCountText: 76,243,976
                        commentCount: 10000
                        commentCountText: 10K
                        likeCount: 1980600
                        likeCountText: '1980600'
                        publishDate: '2026-03-06T10:00:01-08:00'
                        genre: Entertainment
                        durationMs: 27000
                        durationFormatted: 00:00:27
                      - id: c9VS_cgInT4
                        url: https://www.youtube.com/watch?v=c9VS_cgInT4
                        title: Subscribe, I’ll Double Your Bank Account
                        description: null
                        viewCount: 237093551
                        viewCountText: 237,093,551
                        commentCount: 22000
                        commentCountText: 22K
                        likeCount: 2404817
                        likeCountText: '2404817'
                        publishDate: '2026-02-28T12:00:03-08:00'
                        genre: Entertainment
                        durationMs: 30000
                        durationFormatted: 00:00:30
                      - id: KaUuPNYHFNg
                        url: https://www.youtube.com/watch?v=KaUuPNYHFNg
                        title: I Built a School in Mexico
                        description: null
                        viewCount: 21916639
                        viewCountText: 21,916,639
                        commentCount: 14000
                        commentCountText: 14K
                        likeCount: 830627
                        likeCountText: '830627'
                        publishDate: '2026-02-22T09:00:00-08:00'
                        genre: Entertainment
                        durationMs: 40000
                        durationFormatted: 00:00:40
                      - id: hjkbqeWQAM8
                        url: https://www.youtube.com/watch?v=hjkbqeWQAM8
                        title: Every Step You Take, Win $1,000
                        description: null
                        viewCount: 103249097
                        viewCountText: 103,249,097
                        commentCount: 8800
                        commentCountText: 8.8K
                        likeCount: 1488510
                        likeCountText: '1488510'
                        publishDate: '2026-02-18T12:00:03-08:00'
                        genre: Entertainment
                        durationMs: 42000
                        durationFormatted: 00:00:42
                      - id: XbaZ45LVzzM
                        url: https://www.youtube.com/watch?v=XbaZ45LVzzM
                        title: Surprising My Fiancée With A Chocolate Heart
                        description: null
                        viewCount: 91250181
                        viewCountText: 91,250,181
                        commentCount: 16000
                        commentCountText: 16K
                        likeCount: 2165320
                        likeCountText: '2165320'
                        publishDate: '2026-02-12T09:00:01-08:00'
                        genre: Entertainment
                        durationMs: 37000
                        durationFormatted: 00:00:37
                      - id: gar4U3n-ILY
                        url: https://www.youtube.com/watch?v=gar4U3n-ILY
                        title: Guess What Age Punched You
                        description: null
                        viewCount: 296206534
                        viewCountText: 296,206,534
                        commentCount: 29000
                        commentCountText: 29K
                        likeCount: 4285985
                        likeCountText: '4285985'
                        publishDate: '2026-02-09T09:00:00-08:00'
                        genre: Entertainment
                        durationMs: 37000
                        durationFormatted: 00:00:37
                      - id: toIeUtplfWQ
                        url: https://www.youtube.com/watch?v=toIeUtplfWQ
                        title: Is Being Smart or Strong Better?
                        description: null
                        viewCount: 131107055
                        viewCountText: 131,107,055
                        commentCount: 9100
                        commentCountText: 9.1K
                        likeCount: 2446181
                        likeCountText: '2446181'
                        publishDate: '2026-02-06T12:00:08-08:00'
                        genre: People & Blogs
                        durationMs: 39000
                        durationFormatted: 00:00:39
                      - id: _sBRk9ADpK8
                        url: https://www.youtube.com/watch?v=_sBRk9ADpK8
                        title: Flip a Coin, Win $30,000
                        description: null
                        viewCount: 1113537822
                        viewCountText: 1,113,537,822
                        commentCount: 38000
                        commentCountText: 38K
                        likeCount: 8398505
                        likeCountText: '8398505'
                        publishDate: '2026-01-27T09:00:03-08:00'
                        genre: Entertainment
                        durationMs: 46000
                        durationFormatted: 00:00:46
                      - id: kNLr-cduzuo
                        url: https://www.youtube.com/watch?v=kNLr-cduzuo
                        title: Wait... Was He Famous?
                        description: null
                        viewCount: 154049272
                        viewCountText: 154,049,272
                        commentCount: 30000
                        commentCountText: 30K
                        likeCount: 3513412
                        likeCountText: '3513412'
                        publishDate: '2026-01-25T12:00:01-08:00'
                        genre: Entertainment
                        durationMs: 13000
                        durationFormatted: 00:00:13
                      - id: wSh8fAFWEWs
                        url: https://www.youtube.com/watch?v=wSh8fAFWEWs
                        title: Survivor vs Beast Games
                        description: null
                        viewCount: 34602355
                        viewCountText: 34,602,355
                        commentCount: 14000
                        commentCountText: 14K
                        likeCount: 846360
                        likeCountText: '846360'
                        publishDate: '2026-01-16T11:00:01-08:00'
                        genre: Entertainment
                        durationMs: 27000
                        durationFormatted: 00:00:27
                      - id: 3GNyw4uaAqU
                        url: https://www.youtube.com/watch?v=3GNyw4uaAqU
                        title: Subscribe for an iPhone
                        description: 'NO PURCHASE NECESSARY TO ENTER OR WIN. Takes place from 12:00 p.m. ET on January 13, 2026 through 11:59 a.m. ET on February 12, 2026.  See Official Rules at https://bit.ly/subthrow for eligibility requirements, individual entry periodsand complete details. Void where prohibited. Sponsor: MrBeastYouTube, LLC.'
                        viewCount: 1217141168
                        viewCountText: 1,217,141,168
                        commentCount: 177000
                        commentCountText: 177K
                        likeCount: 6733281
                        likeCountText: '6733281'
                        publishDate: '2026-01-13T11:00:04-08:00'
                        genre: Entertainment
                        durationMs: 14000
                        durationFormatted: 00:00:14
                      - id: ywIcdSNJolo
                        url: https://www.youtube.com/watch?v=ywIcdSNJolo
                        title: Pass the Phone
                        description: null
                        viewCount: 83913300
                        viewCountText: 83,913,300
                        commentCount: 13000
                        commentCountText: 13K
                        likeCount: 1851926
                        likeCountText: '1851926'
                        publishDate: '2026-01-09T11:00:05-08:00'
                        genre: Entertainment
                        durationMs: 23000
                        durationFormatted: 00:00:23
                      - id: mktYW177p6U
                        url: https://www.youtube.com/watch?v=mktYW177p6U
                        title: Guess the Animal
                        description: null
                        viewCount: 427258310
                        viewCountText: 427,258,310
                        commentCount: 19000
                        commentCountText: 19K
                        likeCount: 5573422
                        likeCountText: '5573422'
                        publishDate: '2026-01-06T09:00:02-08:00'
                        genre: Entertainment
                        durationMs: 53000
                        durationFormatted: 00:00:53
                      - id: 7aE4EhHXzlA
                        url: https://www.youtube.com/watch?v=7aE4EhHXzlA
                        title: I Paid Everyone Stuck in Traffic
                        description: null
                        viewCount: 98178725
                        viewCountText: 98,178,725
                        commentCount: 40000
                        commentCountText: 40K
                        likeCount: 2749379
                        likeCountText: '2749379'
                        publishDate: '2025-12-26T09:00:05-08:00'
                        genre: Entertainment
                        durationMs: 27000
                        durationFormatted: 00:00:27
                      - id: IJkB-oapuks
                        url: https://www.youtube.com/watch?v=IJkB-oapuks
                        title: Giving Away $1,000,000 in Gifts To My Subscribers
                        description: 'NO PURCHASE NECESSARY TO ENTER OR WIN. Takes place from 12/21/25 at 12:00 p.m. ET to 2/1/26 at 11:59 p.m. ET. Open only to new subscribers to the MrBeast YouTube account during the Sweepstakes Period and whose YouTube is set to public and includes a valid email address.  See Official Rules at https://bit.ly/Beast-mas for additional eligibility restrictions and complete details. Odds of winning depend on the number of eligible entries received. Void where prohibited. Sponsor: MrBeastYouTube, LLC, 740 Greenville Blvd., Greenville, NC 27858, USA'
                        viewCount: 1219863922
                        viewCountText: 1,219,863,922
                        commentCount: 194000
                        commentCountText: 194K
                        likeCount: 8494965
                        likeCountText: '8494965'
                        publishDate: '2025-12-21T09:00:01-08:00'
                        genre: Entertainment
                        durationMs: 19000
                        durationFormatted: 00:00:19
                      - id: RB71Z-vVvCc
                        url: https://www.youtube.com/watch?v=RB71Z-vVvCc
                        title: Find The Real Celebrity, Win $10,000
                        description: null
                        viewCount: 215733542
                        viewCountText: 215,733,542
                        commentCount: 14000
                        commentCountText: 14K
                        likeCount: 4177063
                        likeCountText: '4177063'
                        publishDate: '2025-12-19T09:00:02-08:00'
                        genre: Entertainment
                        durationMs: 33000
                        durationFormatted: 00:00:33
                      - id: fO5FwBcCJBY
                        url: https://www.youtube.com/watch?v=fO5FwBcCJBY
                        title: Would You Date Him for $10,000?
                        description: null
                        viewCount: 153576555
                        viewCountText: 153,576,555
                        commentCount: 24000
                        commentCountText: 24K
                        likeCount: 3732051
                        likeCountText: '3732051'
                        publishDate: '2025-12-12T09:00:03-08:00'
                        genre: Entertainment
                        durationMs: 32000
                        durationFormatted: 00:00:32
                      - id: U-x6KxH1kB4
                        url: https://www.youtube.com/watch?v=U-x6KxH1kB4
                        title: How Many People to Pull a Plane?
                        description: Thanks to Saudia Airlines for letting us use their plane!
                        viewCount: 45088458
                        viewCountText: 45,088,458
                        commentCount: 13000
                        commentCountText: 13K
                        likeCount: 924557
                        likeCountText: '924557'
                        publishDate: '2025-12-06T11:55:52-08:00'
                        genre: Entertainment
                        durationMs: 27000
                        durationFormatted: 00:00:27
                      - id: SE9xF1l3ZwE
                        url: https://www.youtube.com/watch?v=SE9xF1l3ZwE
                        title: Hit The Target, Keep The Prize
                        description: null
                        viewCount: 55003789
                        viewCountText: 55,003,789
                        commentCount: 10000
                        commentCountText: 10K
                        likeCount: 1211298
                        likeCountText: '1211298'
                        publishDate: '2025-12-05T09:00:03-08:00'
                        genre: Entertainment
                        durationMs: 26000
                        durationFormatted: 00:00:26
                      - id: rF00lQ_upzg
                        url: https://www.youtube.com/watch?v=rF00lQ_upzg
                        title: Whatever You Hold Onto, You Keep
                        description: null
                        viewCount: 69634987
                        viewCountText: 69,634,987
                        commentCount: 11000
                        commentCountText: 11K
                        likeCount: 930447
                        likeCountText: '930447'
                        publishDate: '2025-12-02T12:00:01-08:00'
                        genre: Entertainment
                        durationMs: 26000
                        durationFormatted: 00:00:26
                      - id: uZY9xr-QAk0
                        url: https://www.youtube.com/watch?v=uZY9xr-QAk0
                        title: Flip a Coin, I’ll Pay For Your College
                        description: null
                        viewCount: 308524560
                        viewCountText: 308,524,560
                        commentCount: 25000
                        commentCountText: 25K
                        likeCount: 5206962
                        likeCountText: '5206962'
                        publishDate: '2025-11-28T09:00:01-08:00'
                        genre: Entertainment
                        durationMs: 33000
                        durationFormatted: 00:00:33
                      - id: AWBsoArakNY
                        url: https://www.youtube.com/watch?v=AWBsoArakNY
                        title: Who Has The Fastest Reaction Time?
                        description: null
                        viewCount: 85140739
                        viewCountText: 85,140,739
                        commentCount: 8500
                        commentCountText: 8.5K
                        likeCount: 1789019
                        likeCountText: '1789019'
                        publishDate: '2025-11-25T09:00:00-08:00'
                        genre: Entertainment
                        durationMs: 31000
                        durationFormatted: 00:00:31
                      - id: HISfrcjiNPM
                        url: https://www.youtube.com/watch?v=HISfrcjiNPM
                        title: I Surprised 50 Make-A-Wish Kids With Disneyland
                        description: null
                        viewCount: 46416571
                        viewCountText: 46,416,571
                        commentCount: 13000
                        commentCountText: 13K
                        likeCount: 1051207
                        likeCountText: '1051207'
                        publishDate: '2025-11-21T11:40:01-08:00'
                        genre: Entertainment
                        durationMs: 29000
                        durationFormatted: 00:00:29
                      - id: WROMyJAJmp4
                        url: https://www.youtube.com/watch?v=WROMyJAJmp4
                        title: Can I Beat An F1 Driver?
                        description: null
                        viewCount: 334799301
                        viewCountText: 334,799,301
                        commentCount: 12000
                        commentCountText: 12K
                        likeCount: 2877759
                        likeCountText: '2877759'
                        publishDate: '2025-11-18T09:00:01-08:00'
                        genre: Entertainment
                        durationMs: 11000
                        durationFormatted: 00:00:11
                      - id: tAwzBYE18Us
                        url: https://www.youtube.com/watch?v=tAwzBYE18Us
                        title: How I Became MrBeef
                        description: null
                        viewCount: 39065163
                        viewCountText: 39,065,163
                        commentCount: 18000
                        commentCountText: 18K
                        likeCount: 1418273
                        likeCountText: '1418273'
                        publishDate: '2025-11-16T12:00:02-08:00'
                        genre: Entertainment
                        durationMs: 45000
                        durationFormatted: 00:00:45
                      page:
                        nextCursor: 4qmFsgLBCxIYVUNYNk9RM0RrY3NiWU5FNkg4dVFRdVZBGqQLOGdheUNCcXZDRktzQ0RLcENBb2tObVE0TXpJek5HRXRNREF3TUMweU9EWTJMV0ZrWTJRdE1UUmpNVFJsWm1NNVlURTRFdjRIUVZOdmNqSmFabTB5Y1hkSlYwcGFZbmxHTFhrNU9XUmpiWGhaTkhsVGFIaHNVVzl2Wm1FME1ta3labU5pZFVaUlUxbEJjMVZTWjJSWU1YRnJSbEpHTkcwNVRXSmhUalEzWW5NdGNuTkJZa0ZFV21STlJYaFBaRFZQZWxoR01GUmpRa1Z1WnpreU4wWXdWelJvY1U0eVowZzBkSHBMUmtWRWRuQk9aR2xqU25SaGVXd3lkV0k0UTBrMWVWUlJZbUZYYWs1RlVVRTRRa1UyTW0xc1RURktaMmN4UmxaSlZUVmlNMVJKZDNCVGFscE5lVVU0U0ZOSWEzcFFWRkJuTW5OMU9WQlJXbmRGYzB0VFMzaDVOR1pUZUhWUmNWVTJkRXhsWjJGNmIwUndha0l5UzBseFMyMHhZMVpDTFhCalFXUjZkMVpKTjBNNFpEY3liMGN3ZG5WdU5XZDFkV2hyYmxBNVRucGhNM0puYURCTFp6TmxNVEpIYUZCR05HMHlNRjlEYUVkRWJVY3dkakZmVlc5Uk4wUTRhMGRaYlhwQ1RUVnhZbXBrZDJGdFVrMVpPWFJPTlU1MlZUUjJaVGxJV1RaNVdVRjZXR3BpWTBOMGQwSlhaRVJUZGpscmFtZHhlR3hrVmxCUlZqaGFUa1pIT0dwRGExRnFUamhqT1doMVNHVkdjbFF4VlRaZmMxQlZlWFZ3YmtZdFh6SjVjVTVxTVhnek1VdzNVVVp3VEdSS09VcFZZa1JKVkhweFoxTnBUazVZZFVaS1dVNDRTRWRJTTB0SVRGVXlRV0ZsVUZCbWJHNVJiR3BCT0cxemJ6WXlVR0l5Y0ZoRllXOXZkV3RVYjBGTFlUVkZTMHRwVjFZeldtRnpXVFZSY1RkSlV6TXhRMDlYUWxKb2JEZFNNbEZ5VjI1MlRFeGlaRnBwWDFCVU9HUTVTRlZsVEZFMmFuVTVPRU5ZVm5WSmVHaHVOalppV2kxb2JuWXpTVkZ4VFhSQ1ExZHVZMEV3TTNKTFMyWlhhSGh0VVhnd01EZDNhbXMxYkRGSlprMVhja3BZZEdsNWQyRkdTekZpV1Y5dVEzWTJjRlJpWkZwbGNTMVRTekp3YTBkbVdtTmFUVGhFY0ZOck5Xa3lTVFJ1VG0xUmJFVmpjM05SWmpKV2QyZEJjSEF0UjJaall5MWZRemxtZWpndFpYWktORGhETjNoM1UyRlVUVTFUZUhOQmJFTkpibE0yUldOdFZUWjNRamhOVlZWS1ZrZzFXRk5MVXkxaWJGOHdRbDlNYjIwMWIxVmpWVTVZUzJ0dk9WTkRTVXhPY1ZaeFVVNTVOMnMwUVVOQk1HdDNMVFJOWW5SQlRWTXhkR1F5Wms1SVdYWTBRVk4xZFVOeFJXMUpjblpETWtZM2N6RmpUWGhvWTFGWGVuVXRZaTFwVlhwSVNUWmlaaTF6Vm1OR2RsZDRVR05DZUdJMFMyaE1Oa3d0VEZWWFVHaElSMUZOWHpKR1FWWjVaV1EzU2pCeVpsVjVlamd6U2sxU2ExZExUazlsVVZseVVWZDJUVmxCWkV4bFQwZ3dTMVpoT1dKbVZ6RkxObVpPV0Roc1gyTmZaMkZRV2pJeFZpMVpOblEwWjBOelNUUjJRbTFNWlhKU2RVdzJVWEJxUnkxNVRXMDRhbVI0V1dVeFMyZEVhRlV3Y21ZM1VHTTVWMkU1TVhOSVgwY3lRWEo1V1Mxc05WSTJWbEpoVlhOMU1rOXlkMjFGZWpGTE1sRk5WMU5aY2xRMFp5MVhNV1ZwVVZScVNqZzJTVEpLVVZreFJqUjZUbUZFVFd0VlYxRVlCQSUzRCUzRA%3D%3D
                        hasMore: true
                    meta:
                      requestId: req_219b06bb-f74d-4916-afa3-0ee5fe299874
                      creditsCharged: 1
                      version: v1
                paginated:
                  value:
                    data:
                      lookupStatus: found
                      shorts:
                      - id: NfhuGUyWYfQ
                        url: https://www.youtube.com/watch?v=NfhuGUyWYfQ
                        title: Would Your Grandma Go Skydiving?
                        description: null
                        viewCount: 93855107
                        viewCountText: 93,855,107
                        commentCount: 9100
                        commentCountText: 9.1K
                        likeCount: 2544417
                        likeCountText: '2544417'
                        publishDate: '2025-09-26T11:00:07-07:00'
                        genre: Entertainment
                        durationMs: 42000
                        durationFormatted: 00:00:42
                      page:
                        nextCursor: opaque_second_page_cursor
                        hasMore: true
                    meta:
                      requestId: req_01example_page_2
                      creditsCharged: 1
                      version: v1
                no_shorts:
                  value:
                    data:
                      lookupStatus: found
                      shorts: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_empty
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      shorts: []
                      page:
                        nextCursor: null
                        hasMore: false
                    meta:
                      requestId: req_01example_nf
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid query or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
[...]
