openapi: 3.2.0
info:
  title: Social Fetch Public Linked In API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Linked In
paths:
  /v1/linkedin/profiles:
    get:
      tags:
      - Linked In
      summary: Get LinkedIn profiles
      description: Get LinkedIn person profiles by URL or handle.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 2
        surcharges: []
        maxCredits: 100
        batch:
          maxUnits: 50
          unit: url
      x-socialfetch-credits-pricing: 2 credits per profile URL requested. Up to 50 profiles per request (100 credits max).
      parameters:
      - schema:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 4096
            description: LinkedIn profile URL, vanity handle, `@handle`, or `in/{handle}` path.
          minItems: 1
          maxItems: 50
          description: LinkedIn profile URL.
        required: true
        description: LinkedIn profile URL.
        name: url
        in: query
      responses:
        '200':
          description: Batch lookup results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              minLength: 1
                              description: Requested profile URL echoed for this result.
                            lookupStatus:
                              type: string
                              enum:
                              - found
                              - not_found
                              - error
                              description: Whether this profile was resolved.
                            error:
                              type:
                              - object
                              - 'null'
                              properties:
                                message:
                                  type: string
                                  minLength: 1
                                  description: Short customer-safe reason this profile could not be returned.
                              required:
                              - message
                              description: Error details when `lookupStatus` is `error`.
                            profile:
                              type:
                              - object
                              - 'null'
                              properties:
                                platform:
                                  type: string
                                  enum:
                                  - linkedin
                                  description: Social platform for this profile.
                                handle:
                                  type: string
                                  description: LinkedIn public profile handle without the leading @.
                                numericId:
                                  type:
                                  - string
                                  - 'null'
                                  description: LinkedIn numeric profile id when available.
                                displayName:
                                  type:
                                  - string
                                  - 'null'
                                  description: Public display name on the profile when available.
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                  description: First name when available.
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                  description: Last name when available.
                                headline:
                                  type:
                                  - string
                                  - 'null'
                                  description: Profile headline or position line when available.
                                bio:
                                  type:
                                  - string
                                  - 'null'
                                  description: Profile summary or about text when available.
                                avatarUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: Best available square avatar image URL when available.
                                bannerUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: Profile banner image URL when available.
                                profileUrl:
                                  type: string
                                  minLength: 1
                                  description: Canonical public LinkedIn profile URL for this handle.
                                location:
                                  type:
                                  - string
                                  - 'null'
                                  description: Location label when available.
                                city:
                                  type:
                                  - string
                                  - 'null'
                                  description: City label when available.
                                countryCode:
                                  type:
                                  - string
                                  - 'null'
                                  description: ISO country code when available.
                                influencer:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Whether LinkedIn marks this profile as an influencer.
                                memorialized:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Whether this is a memorialized account.
                                defaultAvatar:
                                  type:
                                  - boolean
                                  - 'null'
                                  description: Whether the avatar is LinkedIn's default placeholder.
                                currentCompany:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      description: Current company name when available.
                                    companyId:
                                      type:
                                      - string
                                      - 'null'
                                      description: LinkedIn company slug when available.
                                    title:
                                      type:
                                      - string
                                      - 'null'
                                      description: Current role title at the company when available.
                                    url:
                                      type:
                                      - string
                                      - 'null'
                                      description: LinkedIn company URL when available.
                                    location:
                                      type:
                                      - string
                                      - 'null'
                                      description: Current company location label when available.
                                  required:
                                  - name
                                  - companyId
                                  - title
                                  - url
                                  - location
                                  description: Current company details when available.
                                websites:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: Website label when available.
                                      url:
                                        type: string
                                        minLength: 1
                                        description: External website URL.
                                    required:
                                    - title
                                    - url
                                    description: External website linked from the profile.
                                  description: External websites linked from the profile.
                                experience:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: Role title when available.
                                      company:
                                        type:
                                        - string
                                        - 'null'
                                        description: Company name when available.
                                      companyLogoUrl:
                                        type:
                                        - string
                                        - 'null'
                                        description: Company logo URL when available.
                                      description:
                                        type:
                                        - string
                                        - 'null'
                                        description: Role description when available.
                                      startDate:
                                        type:
                                        - string
                                        - 'null'
                                        description: Start date label when available.
                                      endDate:
                                        type:
                                        - string
                                        - 'null'
                                        description: End date label when available.
                                    required:
                                    - title
                                    - company
                                    - companyLogoUrl
                                    - description
                                    - startDate
                                    - endDate
                                    description: One work experience entry.
                                  description: Work experience entries when available.
                                education:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: School or program name when available.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: School URL when available.
                                      startYear:
                                        type:
                                        - string
                                        - 'null'
                                        description: Start year when available.
                                      endYear:
                                        type:
                                        - string
                                        - 'null'
                                        description: End year when available.
                                      description:
                                        type:
                                        - string
                                        - 'null'
                                        description: Education description when available.
                                    required:
                                    - title
                                    - url
                                    - startYear
                                    - endYear
                                    - description
                                    description: One education entry.
                                  description: Education entries when available.
                                languages:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        minLength: 1
                                        description: Language name.
                                      proficiency:
                                        type:
                                        - string
                                        - 'null'
                                        description: Proficiency label when available.
                                    required:
                                    - name
                                    - proficiency
                                    description: One language entry.
                                  description: Language entries when available.
                                organizations:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                        minLength: 1
                                        description: Organization name.
                                      membershipType:
                                        type:
                                        - string
                                        - 'null'
                                        description: Membership type or role when available.
                                      startDate:
                                        type:
                                        - string
                                        - 'null'
                                        description: Start date when available.
                                      endDate:
                                        type:
                                        - string
                                        - 'null'
                                        description: End date when available.
                                    required:
                                    - title
                                    - membershipType
                                    - startDate
                                    - endDate
                                    description: One organization membership entry.
                                  description: Organization memberships when available.
                                publications:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                        minLength: 1
                                        description: Publication title.
                                      publisher:
                                        type:
                                        - string
                                        - 'null'
                                        description: Publisher when available.
                                      date:
                                        type:
                                        - string
                                        - 'null'
                                        description: Publication date when available.
                                    required:
                                    - title
                                    - publisher
                                    - date
                                    description: One publication entry.
                                  description: Publication entries when available.
                                projects:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                        minLength: 1
                                        description: Project title.
                                      startDate:
                                        type:
                                        - string
                                        - 'null'
                                        description: Start date when available.
                                      description:
                                        type:
                                        - string
                                        - 'null'
                                        description: Project description when available.
                                    required:
                                    - title
                                    - startDate
                                    - description
                                    description: One project entry.
                                  description: Project entries when available.
                                honorsAndAwards:
                                  type: array
                                  items:
                                    type: string
                                  description: Honors and awards text entries when available.
                                recommendations:
                                  type: array
                                  items:
                                    type: string
                                  description: Recommendation text entries when available.
                                certifications:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                        minLength: 1
                                        description: Entry title.
                                      subtitle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Secondary label when available.
                                      meta:
                                        type:
                                        - string
                                        - 'null'
                                        description: Additional metadata when available.
                                    required:
                                    - title
                                    - subtitle
                                    - meta
                                    description: Generic titled profile entry.
                                  description: Certification entries when available.
                                courses:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                        minLength: 1
                                        description: Entry title.
                                      subtitle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Secondary label when available.
                                      meta:
                                        type:
                                        - string
                                        - 'null'
                                        description: Additional metadata when available.
                                    required:
                                    - title
                                    - subtitle
                                    - meta
                                    description: Generic titled profile entry.
                                  description: Course entries when available.
                                volunteerExperience:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                        minLength: 1
                                        description: Entry title.
                                      subtitle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Secondary label when available.
                                      meta:
                                        type:
                                        - string
                                        - 'null'
                                        description: Additional metadata when available.
                                    required:
                                    - title
                                    - subtitle
                                    - meta
                                    description: Generic titled profile entry.
                                  description: Volunteer experience entries when available.
                              required:
                              - platform
                              - handle
                              - numericId
                              - displayName
                              - firstName
                              - lastName
                              - headline
                              - bio
                              - avatarUrl
                              - bannerUrl
                              - profileUrl
                              - location
                              - city
                              - countryCode
                              - influencer
                              - memorialized
                              - defaultAvatar
                              - currentCompany
                              - websites
                              - experience
                              - education
                              - languages
                              - organizations
                              - publications
                              - projects
                              - honorsAndAwards
                              - recommendations
                              - certifications
                              - courses
                              - volunteerExperience
                              description: Profile details when available.
                            metrics:
                              type:
                              - object
                              - 'null'
                              properties:
                                followers:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Follower count when available.
                                connections:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Connection count when available.
                                recommendationsCount:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Recommendation count when available.
                              required:
                              - followers
                              - connections
                              - recommendationsCount
                              description: Profile metrics when available.
                            activity:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                    description: Stable activity id for this item when available.
                                  url:
                                    type: string
                                    minLength: 1
                                    description: Public URL for this activity.
                                  title:
                                    type:
                                    - string
                                    - 'null'
                                    description: Primary text or headline for the activity.
                                  interactionType:
                                    type:
                                    - string
                                    - 'null'
                                    description: Interaction label when available.
                                  thumbnailUrl:
                                    type:
                                    - string
                                    - 'null'
                                    description: Thumbnail image URL when available.
                                  publishedAt:
                                    type:
                                    - string
                                    - 'null'
                                    description: Publication timestamp in ISO-8601 format when provided by the source.
                                required:
                                - id
                                - url
                                - title
                                - interactionType
                                - thumbnailUrl
                                - publishedAt
                                description: A recent public activity item from the profile.
                              description: Recent public activities from the profile when available.
                            posts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                    description: Stable post id when available.
                                  url:
                                    type: string
                                    minLength: 1
                                    description: Public URL for this authored post.
                                  title:
                                    type:
                                    - string
                                    - 'null'
                                    description: Post title when available.
                                  excerpt:
                                    type:
                                    - string
                                    - 'null'
                                    description: Post excerpt when available.
                                  publishedAt:
                                    type:
                                    - string
                                    - 'null'
                                    description: Publication timestamp when available.
                                  interaction:
                                    type:
                                    - string
                                    - 'null'
                                    description: Engagement summary when available.
                                required:
                                - id
                                - url
                                - title
                                - excerpt
                                - publishedAt
                                - interaction
                                description: An authored LinkedIn post from the profile.
                              description: Authored posts from the profile when available.
                            relatedProfiles:
                              type: array
                              items:
                                type: object
                                properties:
                                  url:
                                    type: string
                                    minLength: 1
                                    description: Related profile URL.
                                  name:
                                    type: string
                                    minLength: 1
                                    description: Related profile display name.
                                  headline:
                                    type:
                                    - string
                                    - 'null'
                                    description: Related profile headline when available.
                                  location:
                                    type:
                                    - string
                                    - 'null'
                                    description: Related profile location when available.
                                required:
                                - url
                                - name
                                - headline
                                - location
                                description: A related profile suggestion.
                              description: Related profile suggestions when available.
                          required:
                          - url
                          - lookupStatus
                          - error
                          - profile
                          - metrics
                          - activity
                          - posts
                          - relatedProfiles
                          description: LinkedIn profile lookup result for one requested URL.
                        description: Per-URL profile lookup results.
                      summary:
                        type: object
                        properties:
                          requestedUrls:
                            type: integer
                            minimum: 0
                            description: Number of profile URLs requested in this batch.
                          found:
                            type: integer
                            minimum: 0
                            description: Number of profiles successfully found.
                          notFound:
                            type: integer
                            minimum: 0
                            description: Number of profiles that were not found.
                          errored:
                            type: integer
                            minimum: 0
                            description: Number of profiles that failed to resolve.
                        required:
                        - requestedUrls
                        - found
                        - notFound
                        - errored
                        description: Summary counts for the profile batch.
                    required:
                    - results
                    - summary
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              example:
                data:
                  results:
                  - url: https://www.linkedin.com/in/triciameinhold/
                    lookupStatus: found
                    error: null
                    profile:
                      platform: linkedin
                      handle: triciameinhold
                      numericId: '29868240'
                      displayName: Patricia Meinhold, MBA
                      firstName: Patricia
                      lastName: Meinhold, MBA
                      headline: null
                      bio: Patricia is an accomplished non-profit leader with the proven ability to develop…
                      avatarUrl: https://media.licdn.com/dms/image/v2/D5603AQFzBs8tJ_8asw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1746564632607?e=2147483647&v=beta&t=QFbp2oJfGwyGj8tDTiDCke7lB30PUmGtKdKiGA61Udg
                      bannerUrl: https://media.licdn.com/dms/image/v2/C4E16AQFtDiv8OG7h8Q/profile-displaybackgroundimage-shrink_200_800/profile-displaybackgroundimage-shrink_200_800/0/1626632267551?e=2147483647&v=beta&t=0e4ms6LhRip6OROr7ZBgHnUkdhvfn2TUpgyp862UMec
                      profileUrl: https://www.linkedin.com/in/triciameinhold/
                      location: Springfield
                      city: Springfield, Missouri, United States
                      countryCode: US
                      influencer: false
                      memorialized: false
                      defaultAvatar: false
                      currentCompany:
                        name: Ozarks Regional YMCA
                        companyId: ozarks-regional-ymca
                        title: null
                        url: https://www.linkedin.com/company/ozarks-regional-ymca?trk=public_profile_topcard-current-company
                        location: null
                      websites: []
                      experience: []
                      education:
                      - title: Lindenwood University
                        url: https://www.linkedin.com/school/lindenwooduniversity/
                        startYear: '1986'
                        endYear: '1997'
                        description: null
                      languages:
                      - name: German
                        proficiency: Native or bilingual proficiency
                      - name: Spanish
                        proficiency: Elementary proficiency
                      organizations:
                      - title: Illinois State Alliance YMCA
                        membershipType: Board Member - Vice Chair
                        startDate: Dec 2015
                        endDate: Present
                      publications: []
                      projects: []
                      honorsAndAwards: []
                      recommendations: []
                      certifications: []
                      courses: []
                      volunteerExperience: []
                    metrics:
                      followers: 852
                      connections: 500
                      recommendationsCount: 2
                    activity:
                    - id: '7467689985534480384'
                      url: https://www.linkedin.com/posts/ymca-of-coastal-carolina_congratulations-to-our-president-ceo-david-activity-7467689985534480384-w7pD
                      title: Congratulations to our President & CEO, David Byrd, on receiving a Changemaker Award from Coastal Carolina University's Spadoni College of Education…
                      interactionType: Liked by Patricia Meinhold, MBA
                      thumbnailUrl: https://media.licdn.com/dms/image/v2/D4E10AQHemI8u_iGFyw/image-shrink_800/B4EZ6KNFxdJAAg-/0/1780435149194?e=2147483647&v=beta&t=67Hxb-ahpA9aPem7MiGl2LoU4lUCMghdfjqYOV9XLw4
                      publishedAt: null
                    posts: []
                    relatedProfiles:
                    - url: https://www.linkedin.com/in/ken-strawbridge-6b76348
                      name: Ken Strawbridge
                      headline: Gateway Region YMCA
                      location: 1K followers St Louis, MO
                  - url: https://www.linkedin.com/in/this-profile-does-not-exist-xyz123/
                    lookupStatus: not_found
                    error: null
                    profile: null
                    metrics: null
                    activity: []
                    posts: []
                    relatedProfiles: []
                  summary:
                    requestedUrls: 2
                    found: 1
                    notFound: 1
                    errored: 0
                meta:
                  requestId: req_01example_batch
                  creditsCharged: 4
                  version: v1
        '400':
          description: Invalid profile URL or bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed from the response (unexpected or invalid data).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1LinkedinProfiles
      x-operation-id-source: derived
  /v1/linkedin/profiles/posts:
    get:
      tags:
      - Linked In
      summary: List LinkedIn profile posts
      description: List posts from one specific LinkedIn person profile by URL (not a keyword search — use linkedin.posts.search.list to search across public posts).
      x-socialfetch-pricing:
        version: 1
        baseCredits: 2
        surcharges: []
        maxCredits: 402
        normalizationFailureCredits: 0
        metered:
          unit: record
          creditsPerUnit: 2
          queryParam: limit
          defaultUnits: 10
          maxUnits: 200
          chargedUnits: returned_records
      x-socialfetch-credits-pricing: '2 credits attempt fee plus 2 credits per returned record. Up to 200 per request (402 credits max). `limit` default: 10.'
      security:
      - ApiKeyAuth: []
      - {}
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 4096
          description: LinkedIn profile URL or vanity handle whose public posts should be listed.
        required: true
        description: LinkedIn profile URL or vanity handle whose public posts should be listed.
        name: url
        in: query
      - schema:
          type: string
          minLength: 1
          description: Optional start of the date range for posts to include. Must be a valid ISO-8601 date-time. For profile URLs, date filtering applies only to LinkedIn articles.
        required: false
        description: Optional start of the date range for posts to include. Must be a valid ISO-8601 date-time. For profile URLs, date filtering applies only to LinkedIn articles.
        name: startDate
        in: query
      - schema:
          type: string
          minLength: 1
          description: Optional end of the date range for posts to include. Must be a valid ISO-8601 date-time. For profile URLs, date filtering applies only to LinkedIn articles.
        required: false
        description: Optional end of the date range for posts to include. Must be a valid ISO-8601 date-time. For profile URLs, date filtering applies only to LinkedIn articles.
        name: endDate
        in: query
      - schema:
          type: boolean
          description: When true, return only posts created by the profile owner.
        required: false
        description: When true, return only posts created by the profile owner.
        name: onlyAuthoredPosts
        in: query
      - schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 10
          description: Maximum posts to return (default 10).
        required: false
        description: Maximum posts to return (default 10).
        name: limit
        in: query
      responses:
        '200':
          description: Profile posts listing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        description: Whether the profile resolved for this request.
                      posts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: Unique identifier for the LinkedIn post.
                            url:
                              type: string
                              minLength: 1
                              description: Web link to the individual LinkedIn post.
                            authorUserId:
                              type:
                              - string
                              - 'null'
                              description: Unique identifier for the user who created the post.
                            title:
                              type:
                              - string
                              - 'null'
                              description: Title or main subject of the post when applicable.
                            headline:
                              type:
                              - string
                              - 'null'
                              description: Brief headline summarizing the post content.
                            text:
                              type:
                              - string
                              - 'null'
                              description: Main text content of the post.
                            publishedAt:
                              type:
                              - string
                              - 'null'
                              description: Date and time when the post was published.
                            hashtags:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                              description: String list when available.
                            embeddedLinks:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                              description: String list when available.
                            images:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                              description: String list when available.
                            videos:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                              description: String list when available.
                            metrics:
                              type:
                              - object
                              - 'null'
                              properties:
                                likes:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Like count when available.
                                comments:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Comment count when available.
                                reposts:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  description: Repost count when available.
                              required:
                              - likes
                              - comments
                              - reposts
                              description: Engagement metrics when available.
                            moreArticlesByUser:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  headline:
                                    type:
                                    - string
                                    - 'null'
                                    description: Headline of the related article.
                                  datePosted:
                                    type:
                                    - string
                                    - 'null'
                                    description: Publish date of the related article.
                                  postUrl:
                                    type:
                                    - string
                                    - 'null'
                                    description: URL of the related article.
                                required:
                                - headline
                                - datePosted
                                - postUrl
                                description: Another post or article by the same author.
                              description: Other posts or articles by the same user.
                            moreRelevantPosts:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  postUrl:
                                    type:
                                    - string
                                    - 'null'
                                    description: URL of the related post.
                                  postId:
                                    type:
                                    - string
                                    - 'null'
                                    description: LinkedIn ID of the related post.
                                  userId:
                                    type:
                                    - string
                                    - 'null'
                                    description: Author ID of the related post.
                                  hashtags:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: string
                                    description: String list when available.
                                  embeddedLinks:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: string
                                    description: String list when available.
                                required:
                                - postUrl
                                - postId
                                - userId
                                - hashtags
                                - embeddedLinks
                                description: Related post surfaced by LinkedIn.
                              description: Related posts surfaced by LinkedIn.
                            topVisibleComments:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  authorProfileUrl:
                                    type:
                                    - string
                                    - 'null'
                                    description: Comment author's profile URL.
                                  authorUserId:
                                    type:
                                    - string
                                    - 'null'
                                    description: Comment author's user id.
                                  authorName:
                                    type:
                                    - string
                                    - 'null'
                                    description: Comment author's display name.
                                  publishedAt:
                                    type:
                                    - string
                                    - 'null'
                                    description: When the comment was posted.
                                  text:
                                    type:
                                    - string
                                    - 'null'
                                    description: Comment text.
                                  taggedProfileUrls:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: string
                                    description: String list when available.
                                  reactionCount:
                                    type:
                                    - integer
                                    - 'null'
                                    minimum: 0
                                    description: Reactions on the comment when available.
                                  authorTitle:
                                    type:
                                    - string
                                    - 'null'
                                    description: Comment author's title when available.
                                  images:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: string
                                    description: String list when available.
                                required:
                                - authorProfileUrl
                                - authorUserId
                                - authorName
                                - publishedAt
                                - text
                                - taggedProfileUrls
                                - reactionCount
                                - authorTitle
                                - images
                                description: Top visible comment on a post.
                              description: Top comments visible without signing in.
                            authorFollowers:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Number of followers of the author.
                            authorPostCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Author's post count when available.
                            authorArticleCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Author's article count when available.
                            postType:
                              type:
                              - string
                              - 'null'
                              description: Post type such as post, repost, or article.
                            accountType:
                              type:
                              - string
                              - 'null'
                              description: Author account type such as Person or Company.
                            postTextHtml:
                              type:
                              - string
                              - 'null'
                              description: Post text with HTML markup and line breaks.
                            repost:
                              type:
                              - object
                              - 'null'
                              properties:
                                repostUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: URL of the original post.
                                repostUserId:
                                  type:
                                  - string
                                  - 'null'
                                  description: Original poster's user id.
                                repostUserName:
                                  type:
                                  - string
                                  - 'null'
                                  description: Original poster's display name.
                                repostText:
                                  type:
                                  - string
                                  - 'null'
                                  description: Text of the original post.
                                repostDate:
                                  type:
                                  - string
                                  - 'null'
                                  description: When the original post was published.
                                repostId:
                                  type:
                                  - string
                                  - 'null'
                                  description: Original post id.
                                repostUserTitle:
                                  type:
                                  - string
                                  - 'null'
                                  description: Original poster's title.
                                repostHangtags:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: string
                                  description: String list when available.
                                repostAttachments:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: string
                                  description: String list when available.
                                taggedUsers:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: Display name when available.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: LinkedIn URL when available.
                                    required:
                                    - name
                                    - url
                                    description: Named LinkedIn entity link.
                                  description: People tagged in the repost.
                                taggedCompanies:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: Display name when available.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: LinkedIn URL when available.
                                    required:
                                    - name
                                    - url
                                    description: Named LinkedIn entity link.
                                  description: Companies tagged in the repost.
                              required:
                              - repostUrl
                              - repostUserId
                              - repostUserName
                              - repostText
                              - repostDate
                              - repostId
                              - repostUserTitle
                              - repostHangtags
                              - repostAttachments
                              - taggedUsers
                              - taggedCompanies
                              description: Original post details when this is a reshare.
                            taggedCompanies:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Display name when available.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: LinkedIn URL when available.
                                required:
                                - name
                                - url
                                description: Named LinkedIn entity link.
                              description: Companies tagged or mentioned in the post.
                            taggedPeople:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Display name when available.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: LinkedIn URL when available.
                                required:
                                - name
                                - url
                                description: Named LinkedIn entity link.
                              description: People tagged or mentioned in the post.
                            authorName:
                              type:
                              - string
                              - 'null'
                              description: Author display name when available.
                            authorProfileUrl:
                              type:
                              - string
                              - 'null'
                              description: Author profile URL when available.
                            authorTitle:
                              type:
                              - string
                              - 'null'
                              description: Title of the post author.
                            authorProfilePicUrl:
                              type:
                              - string
                              - 'null'
                              description: Author profile picture URL.
                            authorConnectionCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Number of connections of the author.
                            videoDurationSec:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Duration of attached video in seconds.
                            externalLinkPreviews:
                              type:
                              - array
                              - 'null'
                              items: {}
                              description: Preview cards for external links when available.
                            videoThumbnailUrl:
                              type:
                              - string
                              - 'null'
                              description: Thumbnail URL for attached video.
                            documentCoverImageUrl:
                              type:
                              - string
                              - 'null'
                              description: Cover image URL for an attached document.
                            documentPageCount:
                              type:
                              - integer
                              - 'null'
                              minimum: 0
                              description: Page count for an attached document.
                            originalPostText:
                              type:
                              - string
                              - 'null'
                              description: Post text as shown on LinkedIn including line breaks.
                          required:
                          - id
                          - url
                          - authorUserId
                          - title
                          - headline
                          - text
                          - publishedAt
                          - hashtags
                          - embeddedLinks
                          - images
                          - videos
                          - metrics
                          - moreArticlesByUser
                          - moreRelevantPosts
                          - topVisibleComments
                          - authorFollowers
                          - authorPostCount
                          - authorArticleCount
                          - postType
                          - accountType
                          - postTextHtml
                          - repost
                          - taggedCompanies
                          - taggedPeople
                          - authorName
                          - authorProfileUrl
                          - authorTitle
                          - authorProfilePicUrl
                          - authorConnectionCount
                          - videoDurationSec
                          - externalLinkPreviews
                          - videoThumbnailUrl
                          - documentCoverImageUrl
                          - documentPageCount
                          - originalPostText
                          description: One post from a LinkedIn profile feed.
                        description: Posts from the requested profile.
                      summary:
                        type: object
                        properties:
                          returned:
                            type: integer
                            minimum: 0
                            description: Number of posts returned in this response.
                        required:
                        - returned
                        description: Summary counts for this response.
                    required:
                    - lookupStatus
                    - posts
                    - summary
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              example:
                data:
                  lookupStatus: found
                  posts:
                  - id: '7466220443365081088'
                    url: https://www.linkedin.com/posts/bradsmi_twenty-years-ago-microsoft-broke-ground-activity-7466220443365081088-YQ8v
                    authorUserId: bradsmi
                    title: Twenty years ago, Microsoft broke ground on our first data center in Quincy, Washington. At a time when so many small towns have been shrinking, Quincy has grown, and the partnership behind that… | Brad Smith | 52 comments
                    headline: Twenty years ago, Microsoft broke ground on our first data center in Quincy, Washington.
                    text: Twenty years ago, Microsoft broke ground on our first data center in Quincy, Washington. At a time when so many small towns have been shrinking, Quincy has grown, and the partnership behind that story is one worth telling. Watch how a farm town in Central Washington helped build the cloud, and built a thriving future of its own. https://lnkd.in/ePjWhyQu
                    publishedAt: '2026-05-29T20:14:29.349Z'
                    hashtags: null
                    embeddedLinks:
                    - https://www.linkedin.com/company/microsoft?trk=public_post-text
                    - https://lnkd.in/ePjWhyQu
                    images: null
                    videos:
                    - https://dms.licdn.com/playlist/vid/v2/D4E05AQFWwAf-SzEhZg/mp4-640p-30fp-crf28/B4EZ51XxxfGwB4-/0/1780085663161?e=2147483647&v=beta&t=MytLeR9e_VgO33RHS0Jb41YMUg2itJFf6PidLjddRq8
                    metrics:
                      likes: 873
                      comments: 52
                      reposts: null
                    moreArticlesByUser: null
                    moreRelevantPosts: null
                    topVisibleComments:
                    - authorProfileUrl: https://au.linkedin.com/in/ronhulks?trk=public_post_comment_actor-name
                      authorUserId: ronhulks
                      authorName: Ron H.
                      publishedAt: '2026-05-31T07:49:06.970Z'
                      text: This is the part of technology stories people usually skip. The breakthrough gets the spotlight. But the real advantage is usually built much earlier, when the work still looks boring. Power. Land. Trust. Local patience. Operational follow-through. AI will be no different. The visible leap will depend on the invisible system underneath it.
                      taggedProfileUrls: null
                      reactionCount: 2
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://vc.linkedin.com/in/jodie-dennie?trk=public_post_comment_actor-name
                      authorUserId: jodie-dennie
                      authorName: Jodie Dennie
                      publishedAt: '2026-05-30T02:43:04.183Z'
                      text: 'Brad, Rhonda from Idle Hour Restaurant: “people just get in there and help.” That 6-second line explains Quincy’s 20-year arc better than any stat. You broke ground in 2006 on what looked like empty farmland. Today it’s 6x bigger + powering AI. But the video shows the real infrastructure: partnerships, not just servers. Farm town + tech giant building future together. That’s what “thriving future of its own” actually looks like. OST truth: We have Rhondas too. The diner owner, the bus driver, the grandma who “just gets in there and helps” kids for 10 years before anyone notices ROI. Quincy proves infrastructure isn’t steel + fiber first. It’s people showing up for decades. Then the data center follows. Question from youth work: Microsoft measured Quincy’s growth in petabytes + jobs. If you measured “human infrastructure” in a town, what 1 metric would prove a community is building for 20 years, not 2 quarters? Because kids need that same long-game partnership.'
                      taggedProfileUrls: null
                      reactionCount: 2
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/marynadeundiak?trk=public_post_comment_actor-name
                      authorUserId: marynadeundiak
                      authorName: Maryna Deundiak, PhD
                      publishedAt: '2026-05-29T21:11:47.348Z'
                      text: Twenty years is long enough to prove that technology isn't the moat. Organizational adaptability is. Most companies survive one technology wave. Very few successfully re-architect themselves for the next one.
                      taggedProfileUrls: null
                      reactionCount: 8
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/fabiano-juares-dos-santos-b50036169?trk=public_post_comment_actor-name
                      authorUserId: fabiano-juares-dos-santos-b50036169
                      authorName: Fabiano Juares dos Santos
                      publishedAt: '2026-06-04T03:29:52.686Z'
                      text: The success of a technology ecosystem is measured not only by what it builds, but by the opportunities it creates for the communities around it. A powerful example of long-term partnership and impact
                      taggedProfileUrls: null
                      reactionCount: 1
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/amanda-a-248803206?trk=public_post_comment_actor-name
                      authorUserId: amanda-a-248803206
                      authorName: Amanda A.
                      publishedAt: '2026-05-29T21:56:39.149Z'
                      text: The cloud may be built on technology, but its success is ultimately powered by people and communities. Quincy’s story is a great reminder of what strong partnerships can achieve.
                      taggedProfileUrls: null
                      reactionCount: 6
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://tr.linkedin.com/in/semih-tinsel-85222a1a6?trk=public_post_comment_actor-name
                      authorUserId: semih-tinsel-85222a1a6
                      authorName: Semih Tinsel
                      publishedAt: '2026-05-31T18:37:40.238Z'
                      text: 'Sosyal medya artık şirketler için vazgeçilmez bir iletişim alanı. Bu alanda yapay zekâ entegrasyonu markaların görünürlüğünü ve etkileşimini kat kat artırıyor. İstanbul’da faaliyet gösteren Konvert Reklam Ajansı, bu iki gücü birleştirerek dijital dünyada profesyonel çözümler sunan örneklerden biri olarak öne çıkıyor. AI #SocialMedia #Istanbul #Konvert'
                      taggedProfileUrls: null
                      reactionCount: 3
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/ingridjohnson?trk=public_post_comment_actor-name
                      authorUserId: ingridjohnson
                      authorName: Ingrid Johnson
                      publishedAt: '2026-05-30T11:17:54.542Z'
                      text: 'You have not been able to build ONE data center for your AI. You start and then as soon as people hear about it they freak out and pressure their government to stop. BlackRock is buying up local farms around these proposed data centers sites to drain underground aquaphors - already strained to extreme levels just for growing crops and providing potable water. No one likes you. Everybody hates your data centers. Because you straight up told them they were going to lose their jobs. Now we have to ask ourselves what this compute is for because large language models are not using the large language model anymore. They’re using something called RAG- it uses zero GPU from data centers and that is now roughly 80% of your customer base . These data centers are for literally nothing. There is no demand. At all. Please take your data centers and build them in your backyard Brad Smith Then Mark Zuckerberg, Elon, Satya, Sam Altman, Dario and his sister? They can build data centers in their yards too You made that error. The only thing you can do about it is crying in your car. I suggest doing that first thing in the morning. You are forgetting something: people vote. And right now? It’s a HARD NO. For every single one.'
                      taggedProfileUrls:
                      - https://www.linkedin.com/in/bradsmi?trk=public_post_comment-text
                      reactionCount: 1
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/pstanczyc?trk=public_post_comment_actor-name
                      authorUserId: pstanczyc
                      authorName: Patrick Stanczyc
                      publishedAt: '2026-05-29T21:52:00.769Z'
                      text: I am glad to have been part of the construction and commissioning for most of the Microsoft data centers in Quincy and Wenatchee Metro.
                      taggedProfileUrls: null
                      reactionCount: 3
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/davidzey?trk=public_post_comment_actor-name
                      authorUserId: davidzey
                      authorName: David Zey
                      publishedAt: '2026-05-29T20:37:56.193Z'
                      text: Thank you for sharing this.
                      taggedProfileUrls: null
                      reactionCount: 3
                      authorTitle: null
                      images: null
                    authorFollowers: 373757
                    authorPostCount: 1891
                    authorArticleCount: 55
                    postType: post
                    accountType: Person
                    postTextHtml: 'Twenty years ago, <a class="link" href="https://www.linkedin.com/company/microsoft?trk=public_post-text" target="_self" data-tracking-control-name="public_post-text" data-tracking-will-navigate>Microsoft</a> broke ground on our first data center in Quincy, Washington. At a time when so many small towns have been shrinking, Quincy has grown, and the partnership behind that story is one worth telling. Watch how a farm town in Central Washington helped build the cloud, and built a thriving future of its own. <a class="link" href="https://www.linkedin.com/redir/redirect?url=https%3A%2F%2Flnkd%2Ein%2FePjWhyQu&amp;urlhash=inY5&amp;trk=public_post-text" target="_self" rel="nofollow" data-tracking-control-name="public_post-text" data-tracking-will-navigate>https://lnkd.in/ePjWhyQu</a> '
                    repost: null
                    taggedCompanies: null
                    taggedPeople: null
                    authorName: null
                    authorProfileUrl: https://www.linkedin.com/in/bradsmi
                    authorTitle: null
                    authorProfilePicUrl: https://media.licdn.com/dms/image/v2/C5603AQGnYfaUI8S0zQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1516342848914?e=2147483647&v=beta&t=DxjyeHtTGI0kYUGuFk6NQZ_rZcz6OSwLhr-g9AmpOcg
                    authorConnectionCount: 500
                    videoDurationSec: 178
                    externalLinkPreviews: null
                    videoThumbnailUrl: https://media.licdn.com/dms/image/v2/D4E05AQFWwAf-SzEhZg/videocover-high/B4EZ51XxxfGwBY-/0/1780085645189?e=2147483647&v=beta&t=18VHD_u-G3h9nLsiX6tS-nwJlJh0Im6LzguBnNvUYSw
                    documentCoverImageUrl: null
                    documentPageCount: null
                    originalPostText: 'Twenty years ago, <a class="link" href="https://www.linkedin.com/company/microsoft?trk=public_post-text" target="_self" data-tracking-control-name="public_post-text" data-tracking-will-navigate>Microsoft</a> broke ground on our first data center in Quincy, Washington. At a time when so many small towns have been shrinking, Quincy has grown, and the partnership behind that story is one worth telling. Watch how a farm town in Central Washington helped build the cloud, and built a thriving future of its own. <a class="link" href="https://www.linkedin.com/redir/redirect?url=https%3A%2F%2Flnkd%2Ein%2FePjWhyQu&amp;urlhash=inY5&amp;trk=public_post-text" target="_self" rel="nofollow" data-tracking-control-name="public_post-text" data-tracking-will-navigate>https://lnkd.in/ePjWhyQu</a> '
                  - id: '7466163955799949312'
                    url: https://www.linkedin.com/posts/microsoft_msbuild-activity-7466163955799949312-Xu-9
                    authorUserId: microsoft
                    title: '#msbuild | Microsoft | 21 comments'
                    headline: Turning up the volume on what's next.
                    text: 'Turning up the volume on what''s next. #MSBuild kicks off on June 2.'
                    publishedAt: '2026-05-29T16:30:01.665Z'
                    hashtags:
                    - '#MSBuild'
                    embeddedLinks:
                    - https://www.linkedin.com/feed/hashtag/msbuild
                    images: null
                    videos:
                    - https://dms.licdn.com/playlist/vid/v2/D4E10AQH2TikQeax8tA/mp4-360p-30fp-crf28/B4EZ5yinUBIkBc-/0/1780038140502?e=2147483647&v=beta&t=HbSUS8apIjOWrQglYMAVU-ngi2Bt54YgcXc6q9FAzLM
                    metrics:
                      likes: 513
                      comments: 21
                      reposts: null
                    moreArticlesByUser: null
                    moreRelevantPosts: null
                    topVisibleComments:
                    - authorProfileUrl: https://www.linkedin.com/company/microsoft?trk=public_post_comment_actor-name
                      authorUserId: microsoft
                      authorName: Microsoft
                      publishedAt: '2026-05-29T16:31:44.737Z'
                      text: 'Catch the keynote livestream here: https://msft.it/6008vZwC2'
                      taggedProfileUrls: null
                      reactionCount: 25
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/michele-curtis-42166882?trk=public_post_comment_actor-name
                      authorUserId: michele-curtis-42166882
                      authorName: Michele Curtis
                      publishedAt: '2026-05-29T17:35:38.595Z'
                      text: The biggest shift won't be a faster AI model. It will be AI moving from productivity tool to execution layer. Organizations that learn how to combine human judgment with autonomous action will create a compounding advantage in speed, scale, and decision quality. The next era of transformation belongs to companies that redesign work itself, not just the technology stack.
                      taggedProfileUrls: null
                      reactionCount: 0
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://in.linkedin.com/in/vijaya-lakshmi-046b5b193?trk=public_post_comment_actor-name
                      authorUserId: vijaya-lakshmi-046b5b193
                      authorName: Vijaya Lakshmi
                      publishedAt: '2026-05-30T08:33:33.860Z'
                      text: 'Excited to see #MSBuild kick off June 2 — where developers, innovators, and creators come together to shape the future of technology.'
                      taggedProfileUrls: null
                      reactionCount: 1
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://in.linkedin.com/in/rahul-kr-yadav-qwi?trk=public_post_comment_actor-name
                      authorUserId: rahul-kr-yadav-qwi
                      authorName: Rahul Kr. Yadav
                      publishedAt: '2026-06-01T10:03:48.575Z'
                      text: Great perspective. As AI capabilities continue to evolve, the focus is shifting from simply building models to creating real business value through practical implementation. The organizations that succeed will be those that combine innovation with strong governance, user adoption, and measurable outcomes rather than chasing technology alone.
                      taggedProfileUrls: null
                      reactionCount: 0
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://bd.linkedin.com/in/shakib-hossan-005174411?trk=public_post_comment_actor-name
                      authorUserId: shakib-hossan-005174411
                      authorName: Shakib Hossan
                      publishedAt: '2026-05-30T21:41:58.093Z'
                      text: র
                      taggedProfileUrls: null
                      reactionCount: 1
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://gh.linkedin.com/in/franklin-adusei-8b5022368?trk=public_post_comment_actor-name
                      authorUserId: franklin-adusei-8b5022368
                      authorName: Franklin Adusei
                      publishedAt: '2026-05-30T12:04:43.961Z'
                      text: Excited to be actively involved in this
                      taggedProfileUrls: null
                      reactionCount: 1
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/emira-chismar-95a970360?trk=public_post_comment_actor-name
                      authorUserId: emira-chismar-95a970360
                      authorName: Emira Chismar
                      publishedAt: '2026-05-31T05:04:47.869Z'
                      text: Excited for this! Looking forward to what’s next from
                      taggedProfileUrls: null
                      reactionCount: 0
                      authorTitle: null
                      images: null
                    - authorProfileUrl: https://www.linkedin.com/in/opasos?trk=public_post_comment_actor-name
                      authorUserId: opasos
[...]
