openapi: 3.2.0
info:
  title: Social Fetch Public Hacker News API
  version: 1.0.0
  description: 'REST API for Social Fetch. Versioned routes under `/v1` accept `x-api-key` credits or x402 USDC on Base (walk-up, no key). OpenAPI: https://api.socialfetch.dev/openapi.json. x402 discovery: https://api.socialfetch.dev/.well-known/x402. MCP: https://api.socialfetch.dev/mcp (POST). Docs and agent guide: https://www.socialfetch.dev/docs and https://www.socialfetch.dev/llms.txt.'
servers:
- url: https://api.socialfetch.dev
  description: API origin
tags:
- name: Hacker News
paths:
  /v1/hackernews/search:
    get:
      tags:
      - Hacker News
      summary: Search Hacker News
      description: Search Hacker News by keyword.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 0
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          maxLength: 512
          description: Full-text search query. Required unless `frontPageOnly`, `author`, `domain`, or `url` is set.
        required: false
        description: Full-text search query. Required unless `frontPageOnly`, `author`, `domain`, or `url` is set.
        name: query
        in: query
      - schema:
          type: string
          enum:
          - all
          - story
          - comment
          - ask_hn
          - show_hn
          - launch_hn
          - job
          - poll
          description: 'Restrict search results to a Hacker News content type. `ask_hn`: Ask HN posts (questions to the community). `show_hn`: Show HN posts (projects/work being shared). `launch_hn`: Launch HN posts (YC-affiliated company launches). Default: `all`.'
        required: false
        description: 'Restrict search results to a Hacker News content type. `ask_hn`: Ask HN posts (questions to the community). `show_hn`: Show HN posts (projects/work being shared). `launch_hn`: Launch HN posts (YC-affiliated company launches). Default: `all`.'
        name: type
        in: query
      - schema:
          type: string
          enum:
          - popularity
          - date
          description: 'Ranking mode. Default: `popularity`.'
        required: false
        description: 'Ranking mode. Default: `popularity`.'
        name: sort
        in: query
      - schema:
          type: string
          enum:
          - 24h
          - week
          - month
          - year
          - all
          description: 'Creation-time window. Default: `all`.'
        required: false
        description: 'Creation-time window. Default: `all`.'
        name: dateRange
        in: query
      - schema:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 49
          description: Zero-based page index (maximum 50 pages, up to 1,000 hits).
        required: false
        description: Zero-based page index (maximum 50 pages, up to 1,000 hits).
        name: page
        in: query
      - schema:
          anyOf:
          - type: number
            enum:
            - 10
          - type: number
            enum:
            - 20
          - type: number
            enum:
            - 30
          - type: number
            enum:
            - 50
          description: 'Hits per page. Must be one of 10, 20, 30, 50. Default: 20. Prefer this over `pageSize`.'
        required: false
        description: 'Hits per page. Must be one of 10, 20, 30, 50. Default: 20. Prefer this over `pageSize`.'
        name: limit
        in: query
      - schema:
          type: boolean
          description: When true, restrict results to current front-page items. Allows omitting `query`.
        required: false
        description: When true, restrict results to current front-page items. Allows omitting `query`.
        name: frontPageOnly
        in: query
      - schema:
          type: boolean
          description: 'Include story/comment text in searchable fields. Default: true. Set false to search title/URL only.'
        required: false
        description: 'Include story/comment text in searchable fields. Default: true. Set false to search title/URL only.'
        name: searchStoryText
        in: query
      - schema:
          type: boolean
          description: When true, include author username in the searchable fields.
        required: false
        description: When true, include author username in the searchable fields.
        name: searchAuthor
        in: query
      - schema:
          type: boolean
          description: When true, enable prefix matching for query tokens.
        required: false
        description: When true, enable prefix matching for query tokens.
        name: prefix
        in: query
      - schema:
          type: boolean
          description: 'Enable typo tolerance. Default: true.'
        required: false
        description: 'Enable typo tolerance. Default: true.'
        name: typoTolerance
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[A-Za-z0-9_-]+$
          description: Restrict results to items by this Hacker News username.
        required: false
        description: Restrict results to items by this Hacker News username.
        name: author
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 255
          description: Restrict search to story URLs matching this domain (e.g. example.com). Can omit `query`.
        required: false
        description: Restrict search to story URLs matching this domain (e.g. example.com). Can omit `query`.
        name: domain
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 2048
          description: Restrict search to story URLs matching this URL substring. Can omit `query`.
        required: false
        description: Restrict search to story URLs matching this URL substring. Can omit `query`.
        name: url
        in: query
      - schema:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 1000000
          description: Minimum points/score filter.
        required: false
        description: Minimum points/score filter.
        name: minPoints
        in: query
      responses:
        '200':
          description: Hacker News search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      query:
                        type:
                        - string
                        - 'null'
                        description: Search query evaluated for this response, or null for front-page-only.
                      hits:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Hacker News item id.
                              exclusiveMinimum: 0
                            type:
                              type: string
                              enum:
                              - story
                              - comment
                              - poll
                              - job
                              - pollopt
                              - unknown
                              description: Normalized content type.
                            author:
                              type:
                              - string
                              - 'null'
                              description: Author username when present.
                            createdAt:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: Creation time as an ISO-8601 timestamp.
                            title:
                              type:
                              - string
                              - 'null'
                              description: Plain-text title when present.
                            text:
                              type:
                              - string
                              - 'null'
                              description: Plain-text body when present (HTML stripped).
                            url:
                              type:
                              - string
                              - 'null'
                              format: uri
                              description: External story URL when present and publicly safe.
                            score:
                              type:
                              - integer
                              - 'null'
                              description: Points / score when present.
                            commentCount:
                              type:
                              - integer
                              - 'null'
                              description: Comment count for stories when present.
                            storyId:
                              type:
                              - integer
                              - 'null'
                              description: Parent story id for comment hits when present.
                              exclusiveMinimum: 0
                            parentId:
                              type:
                              - integer
                              - 'null'
                              description: Immediate parent item id when present.
                              exclusiveMinimum: 0
                            tags:
                              type: array
                              items:
                                type: string
                                minLength: 1
                              description: Normalized content tags for this hit (e.g. story, ask_hn).
                            itemUrl:
                              type: string
                              format: uri
                              description: Canonical news.ycombinator.com item URL.
                          required:
                          - id
                          - type
                          - author
                          - createdAt
                          - title
                          - text
                          - url
                          - score
                          - commentCount
                          - storyId
                          - parentId
                          - tags
                          - itemUrl
                          description: A single Hacker News search hit.
                        description: Search hits for this page.
                      page:
                        type: object
                        properties:
                          page:
                            type: integer
                            minimum: 0
                            description: Zero-based page index for this response.
                          pageSize:
                            type: integer
                            description: Requested page size for this response.
                            exclusiveMinimum: 0
                          returned:
                            type: integer
                            minimum: 0
                            description: Number of hits returned in this response.
                          hasMore:
                            type: boolean
                            description: Whether another page of results is available.
                          nextPage:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Next page index when hasMore is true; otherwise null.
                          totalHits:
                            type: integer
                            minimum: 0
                            description: Reported total hit count from the search index.
                          totalHitsExact:
                            type: boolean
                            description: Whether totalHits is exhaustive. When false, treat totalHits as an estimate.
                          maxAccessibleHits:
                            type: integer
                            description: Hard upper bound on pageable hits from the search index (typically 1000).
                            exclusiveMinimum: 0
                        required:
                        - page
                        - pageSize
                        - returned
                        - hasMore
                        - nextPage
                        - totalHits
                        - totalHitsExact
                        - maxAccessibleHits
                        description: Pagination information for the current response.
                    required:
                    - query
                    - hits
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      query: Dropbox
                      hits:
                      - id: 8863
                        type: story
                        author: dhouston
                        createdAt: '2007-04-04T19:16:40.000Z'
                        title: 'My YC app: Dropbox - Throw away your USB drive'
                        text: null
                        url: http://www.getdropbox.com/u/2/screencast.html
                        score: 104
                        commentCount: 71
                        storyId: 8863
                        parentId: null
                        tags:
                        - story
                        - author_dhouston
                        itemUrl: https://news.ycombinator.com/item?id=8863
                      page:
                        page: 0
                        pageSize: 20
                        returned: 1
                        hasMore: false
                        nextPage: null
                        totalHits: 1
                        totalHitsExact: true
                        maxAccessibleHits: 1000
                    meta:
                      requestId: req_01example_hackernews_search
                      creditsCharged: 1
                      version: v1
                empty:
                  value:
                    data:
                      query: zzzznonexistentqueryzzzz
                      hits: []
                      page:
                        page: 0
                        pageSize: 20
                        returned: 0
                        hasMore: false
                        nextPage: null
                        totalHits: 0
                        totalHitsExact: true
                        maxAccessibleHits: 1000
                    meta:
                      requestId: req_01example_hackernews_search_empty
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid search query
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          headers:
            Retry-After:
              description: Seconds to wait before retrying. Present on capacity, deadline, circuit-open, and safe transport outages (bounded 1–120).
              schema:
                type: integer
                minimum: 1
                maximum: 120
                example: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1HackernewsSearch
      x-operation-id-source: derived
  /v1/hackernews/feeds/{feed}:
    get:
      tags:
      - Hacker News
      summary: List a Hacker News feed
      description: List a Hacker News feed by type (top, new, best, ask, show, or jobs).
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 0
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: string
          enum:
          - top
          - new
          - best
          - ask
          - show
          - jobs
          description: 'Hacker News feed: top, new, best, ask, show, or jobs.'
        required: true
        description: 'Hacker News feed: top, new, best, ask, show, or jobs.'
        name: feed
        in: path
      - schema:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 49
          description: 'Zero-based page index (maximum 50 pages). Default: 0. Advance with `data.page.nextPage` when `hasMore` is true.'
        required: false
        description: 'Zero-based page index (maximum 50 pages). Default: 0. Advance with `data.page.nextPage` when `hasMore` is true.'
        name: page
        in: query
      - schema:
          type: integer
          minimum: 1
          maximum: 50
          description: 'Items to hydrate per page (1–50). Default: 30. Prefer this over `pageSize`.'
        required: false
        description: 'Items to hydrate per page (1–50). Default: 30. Prefer this over `pageSize`.'
        name: limit
        in: query
      responses:
        '200':
          description: Hydrated feed page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      feed:
                        type: string
                        enum:
                        - top
                        - new
                        - best
                        - ask
                        - show
                        - jobs
                        description: Requested feed name.
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Unique Hacker News item id.
                              exclusiveMinimum: 0
                            type:
                              type: string
                              enum:
                              - story
                              - comment
                              - job
                              - poll
                              - pollopt
                              - unknown
                              description: Item type.
                            author:
                              type:
                              - string
                              - 'null'
                              description: Author username when present.
                            createdAt:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: Creation time as an ISO-8601 timestamp.
                            title:
                              type:
                              - string
                              - 'null'
                              description: Plain-text title when present.
                            text:
                              type:
                              - string
                              - 'null'
                              description: Plain-text body when present (HTML stripped).
                            url:
                              type:
                              - string
                              - 'null'
                              format: uri
                              description: External URL when present and publicly safe.
                            score:
                              type:
                              - integer
                              - 'null'
                              description: Score / votes when present.
                            commentCount:
                              type:
                              - integer
                              - 'null'
                              description: Total comment count when present (stories/polls).
                            parentId:
                              type:
                              - integer
                              - 'null'
                              description: Parent item id for comments/pollopts.
                              exclusiveMinimum: 0
                            childIds:
                              type: array
                              items:
                                type: integer
                                exclusiveMinimum: 0
                              description: Child item ids in ranked display order when present. Some list endpoints omit children and return an empty array.
                            dead:
                              type: boolean
                              description: Whether the item is marked dead. Some list endpoints omit this signal and return false.
                            deleted:
                              type: boolean
                              description: Whether the item is marked deleted. Some list endpoints omit this signal and return false.
                            itemUrl:
                              type: string
                              format: uri
                              description: Canonical news.ycombinator.com item URL.
                          required:
                          - id
                          - type
                          - author
                          - createdAt
                          - title
                          - text
                          - url
                          - score
                          - commentCount
                          - parentId
                          - childIds
                          - dead
                          - deleted
                          - itemUrl
                          description: Compact Hacker News item (any type).
                        description: Hydrated feed items in official ranking order.
                      page:
                        type: object
                        properties:
                          page:
                            type: integer
                            minimum: 0
                            description: Zero-based page index for this response.
                          pageSize:
                            type: integer
                            description: Requested page size for this response.
                            exclusiveMinimum: 0
                          returned:
                            type: integer
                            minimum: 0
                            description: Number of hydrated items returned.
                          totalIds:
                            type: integer
                            minimum: 0
                            description: Length of the upstream feed id array.
                          hasMore:
                            type: boolean
                            description: True when more ids remain after this page window.
                          nextPage:
                            type:
                            - integer
                            - 'null'
                            minimum: 0
                            description: Next page index when hasMore is true; otherwise null.
                          droppedCount:
                            type: integer
                            minimum: 0
                            description: Ids in the window that could not be hydrated (deleted/missing).
                        required:
                        - page
                        - pageSize
                        - returned
                        - totalIds
                        - hasMore
                        - nextPage
                        - droppedCount
                        description: Feed pagination metadata.
                    required:
                    - feed
                    - items
                    - page
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              example:
                data:
                  feed: top
                  items:
                  - id: 49038433
                    type: story
                    author: alvis
                    createdAt: '2026-07-24T16:57:41.000Z'
                    title: Claude Opus 5
                    text: https://www.anthropic.com/claude-opus-5-system-card
                    url: https://www.anthropic.com/news/claude-opus-5
                    score: 1386
                    commentCount: 755
                    parentId: null
                    childIds:
                    - 49038959
                    - 49039922
                    - 49040857
                    - 49044428
                    - 49038676
                    - 49038571
                    - 49038745
                    - 49043731
                    - 49038705
                    - 49039052
                    - 49044265
                    - 49038865
                    - 49038677
                    - 49038690
                    - 49038666
                    - 49039863
                    - 49038589
                    - 49038813
                    - 49038776
                    - 49040983
                    - 49038637
                    - 49039086
                    - 49038796
                    - 49043144
                    - 49042098
                    - 49041739
                    - 49038728
                    - 49038671
                    - 49040308
                    - 49042669
                    - 49042234
                    - 49038875
                    - 49039621
                    - 49038769
                    - 49039206
                    - 49038685
                    - 49038897
                    - 49043404
                    - 49039967
                    - 49042480
                    - 49039458
                    - 49043333
                    - 49040405
                    - 49039383
                    - 49039331
                    - 49039488
                    - 49042628
                    - 49040499
                    - 49039547
                    - 49041918
                    - 49039597
                    - 49040949
                    - 49040629
                    - 49042696
                    - 49038862
                    - 49044422
                    - 49042393
                    - 49038801
                    - 49038642
                    - 49040252
                    - 49041102
                    - 49041326
                    - 49039872
                    - 49039307
                    - 49039014
                    - 49038698
                    - 49042308
                    - 49038772
                    - 49040441
                    - 49039084
                    - 49043181
                    - 49039641
                    - 49040087
                    - 49040689
                    - 49042814
                    - 49038869
                    - 49038817
                    - 49043066
                    - 49039135
                    - 49039705
                    - 49039313
                    - 49038517
                    - 49043791
                    - 49038479
                    - 49038535
                    - 49038660
                    - 49039044
                    - 49038594
                    - 49039193
                    - 49039271
                    - 49038835
                    - 49038950
                    - 49038855
                    - 49040006
                    - 49039356
                    - 49038585
                    - 49038515
                    - 49038893
                    - 49040313
                    - 49039182
                    - 49043784
                    - 49040060
                    - 49043554
                    - 49039774
                    - 49039663
                    - 49038931
                    - 49038552
                    - 49039218
                    - 49041693
                    - 49038770
                    - 49038723
                    - 49038741
                    - 49038664
                    - 49038629
                    - 49039719
                    - 49043201
                    - 49039446
                    - 49038693
                    - 49039478
                    - 49042842
                    - 49042433
                    - 49038696
                    - 49039644
                    - 49039004
                    - 49040784
                    - 49041373
                    - 49040136
                    - 49038987
                    - 49040845
                    - 49039906
                    - 49038797
                    - 49039595
                    - 49039483
                    - 49039352
                    - 49039183
                    - 49038926
                    - 49038407
                    - 49042392
                    - 49038584
                    - 49039366
                    - 49038733
                    - 49039272
                    - 49038678
                    - 49042305
                    - 49040865
                    - 49043213
                    - 49040776
                    - 49041117
                    - 49039469
                    - 49042272
                    - 49041645
                    - 49039209
                    - 49039826
                    - 49043146
                    - 49038625
                    - 49038524
                    - 49038746
                    - 49039511
                    - 49038704
                    dead: false
                    deleted: false
                    itemUrl: https://news.ycombinator.com/item?id=49038433
                  - id: 49040296
                    type: story
                    author: KraftyOne
                    createdAt: '2026-07-24T19:05:53.000Z'
                    title: Postgres LISTEN/NOTIFY actually scales
                    text: null
                    url: https://www.dbos.dev/blog/postgres-listen-notify-scalability
                    score: 238
                    commentCount: 43
                    parentId: null
                    childIds:
                    - 49040671
                    - 49040676
                    - 49042117
                    - 49043376
                    - 49041452
                    - 49040502
                    - 49040558
                    - 49044225
                    - 49042259
                    - 49044399
                    - 49043460
                    - 49041307
                    - 49042048
                    - 49041152
                    - 49041062
                    - 49042671
                    - 49041086
                    - 49042071
                    - 49041270
                    - 49041233
                    - 49042756
                    dead: false
                    deleted: false
                    itemUrl: https://news.ycombinator.com/item?id=49040296
                  - id: 49044074
                    type: story
                    author: JumpCrisscross
                    createdAt: '2026-07-25T02:54:36.000Z'
                    title: Taylor Farms Called White House to Try to Delay Cyclospora Recall
                    text: null
                    url: https://www.wsj.com/health/taylor-farms-cyclospora-recall-delay-call-41fef0bc
                    score: 74
                    commentCount: 11
                    parentId: null
                    childIds:
                    - 49044368
                    - 49044451
                    - 49044397
                    - 49044342
                    dead: false
                    deleted: false
                    itemUrl: https://news.ycombinator.com/item?id=49044074
                  page:
                    page: 0
                    pageSize: 3
                    returned: 3
                    totalIds: 500
                    hasMore: true
                    nextPage: 1
                    droppedCount: 0
                meta:
                  requestId: req_01example_hackernews_feed
                  creditsCharged: 1
                  version: v1
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          headers:
            Retry-After:
              description: Seconds to wait before retrying. Present on capacity, deadline, circuit-open, and safe transport outages (bounded 1–120).
              schema:
                type: integer
                minimum: 1
                maximum: 120
                example: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1HackernewsFeedsByFeed
      x-operation-id-source: derived
  /v1/hackernews/stories/{id}:
    get:
      tags:
      - Hacker News
      summary: Get a Hacker News story
      description: Get a Hacker News story by id.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
        normalizationFailureCredits: 0
      x-socialfetch-credits-pricing: 1 credit per successful request.
      parameters:
      - schema:
          type: integer
          maximum: 9007199254740991
          description: Hacker News story id.
          exclusiveMinimum: 0
        required: true
        description: Hacker News story id.
        name: id
        in: path
      responses:
        '200':
          description: Hacker News story lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        - not_story
                        description: Whether the story was found, not found, or not a story.
                      story:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                            description: Unique Hacker News story id.
                            exclusiveMinimum: 0
                          author:
                            type:
                            - string
                            - 'null'
                            description: Author username when present.
                          createdAt:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: Creation time as an ISO-8601 timestamp.
                          title:
                            type:
                            - string
                            - 'null'
                            description: Plain-text title when present.
                          text:
                            type:
                            - string
                            - 'null'
                            description: Plain-text body when present (HTML stripped).
                          url:
                            type:
                            - string
                            - 'null'
                            format: uri
                            description: External story URL when present and publicly safe.
                          score:
                            type:
                            - integer
                            - 'null'
                            description: Score / votes when present.
                          commentCount:
                            type:
                            - integer
                            - 'null'
                            description: Total comment count when present.
                          childIds:
                            type: array
                            items:
                              type: integer
                              exclusiveMinimum: 0
                            description: Top-level comment ids in ranked display order.
                          dead:
                            type: boolean
                            description: Whether the story is marked dead.
                          deleted:
                            type: boolean
                            description: Whether the story is marked deleted.
                          itemUrl:
                            type: string
                            format: uri
                            description: Canonical news.ycombinator.com item URL.
                        required:
                        - id
                        - author
                        - createdAt
                        - title
                        - text
                        - url
                        - score
                        - commentCount
                        - childIds
                        - dead
                        - deleted
                        - itemUrl
                        description: Story when lookupStatus is `found`; null when `not_found` or `not_story`.
                    required:
                    - lookupStatus
                    - story
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      story:
                        id: 8863
                        author: dhouston
                        createdAt: '2007-04-04T19:16:40.000Z'
                        title: 'My YC app: Dropbox - Throw away your USB drive'
                        text: null
                        url: http://www.getdropbox.com/u/2/screencast.html
                        score: 104
                        commentCount: 71
                        childIds:
                        - 9224
                        - 8917
                        - 8884
                        - 8887
                        - 8952
                        - 8869
                        - 8873
                        - 8958
                        - 8940
                        - 8908
                        - 9005
                        - 9671
                        - 9067
                        - 9055
                        - 8865
                        - 8881
                        - 8872
                        - 8955
                        - 10403
                        - 8903
                        - 8928
                        - 9125
                        - 8998
                        - 8901
                        - 8902
                        - 8907
                        - 8894
                        - 8870
                        - 8878
                        - 8980
                        - 8934
                        - 8943
                        - 8876
                        dead: false
                        deleted: false
                        itemUrl: https://news.ycombinator.com/item?id=8863
                    meta:
                      requestId: req_01example_hackernews_story
                      creditsCharged: 1
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      story: null
                    meta:
                      requestId: req_01example_hackernews_story_nf
                      creditsCharged: 1
                      version: v1
                not_story:
                  value:
                    data:
                      lookupStatus: not_story
                      story: null
                    meta:
                      requestId: req_01example_hackernews_story_ns
                      creditsCharged: 1
                      version: v1
        '400':
          description: Invalid story id
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          headers:
            Retry-After:
              description: Seconds to wait before retrying. Present on capacity, deadline, circuit-open, and safe transport outages (bounded 1–120).
              schema:
                type: integer
                minimum: 1
                maximum: 120
                example: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1HackernewsStoriesById
      x-operation-id-source: derived
  /v1/hackernews/stories/{id}/comments:
    get:
      tags:
      - Hacker News
      summary: Get comments on a Hacker News story
      description: List comments on a Hacker News story by id.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 3
        surcharges: []
        maxCredits: 3
        normalizationFailureCredits: 0
      x-socialfetch-credits-pricing: 3 credits per successful request.
      parameters:
      - schema:
          type: integer
          maximum: 9007199254740991
          description: Hacker News story id whose comment tree should be returned.
          exclusiveMinimum: 0
        required: true
        description: Hacker News story id whose comment tree should be returned.
        name: id
        in: path
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          description: 'Maximum comment nodes to return in this page (1–100). Default: 50.'
        required: false
        description: 'Maximum comment nodes to return in this page (1–100). Default: 50.'
        name: limit
        in: query
      - schema:
          type: string
          minLength: 1
          description: Opaque continuation cursor from a previous response. Omit for the first page.
        required: false
        description: Opaque continuation cursor from a previous response. Omit for the first page.
        name: cursor
        in: query
      responses:
        '200':
          description: Hacker News story comment tree page. Each successful page costs one credit, including cursor continuations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookupStatus:
                        type: string
                        enum:
                        - found
                        - not_found
                        - not_story
                        description: Whether the story was found, not found, or not a story.
                      story:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                            description: Story id.
                            exclusiveMinimum: 0
                          title:
                            type:
                            - string
                            - 'null'
                            description: Plain-text title when present.
                          author:
                            type:
                            - string
                            - 'null'
                            description: Author username when present.
                          commentCount:
                            type:
                            - integer
                            - 'null'
                            description: Total comment count when present.
                          itemUrl:
                            type: string
                            format: uri
                            description: Canonical news.ycombinator.com item URL.
                        required:
                        - id
                        - title
                        - author
                        - commentCount
                        - itemUrl
                        description: Story summary when lookupStatus is `found`; null otherwise.
                      rootCommentIds:
                        type: array
                        items:
                          type: integer
                          exclusiveMinimum: 0
                        description: Top-level comment ids in ranked display order. Empty when the story has no comments or lookupStatus is not `found`.
                      comments:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Comment item id.
                              exclusiveMinimum: 0
                            parentId:
                              type: integer
                              description: Immediate parent item id (story or comment).
                              exclusiveMinimum: 0
                            childIds:
                              type: array
                              items:
                                type: integer
                                exclusiveMinimum: 0
                              description: Child comment ids in ranked display order. Unresolved children may still appear here when traversal is incomplete.
                            author:
                              type:
                              - string
                              - 'null'
                              description: Author username when available.
                            createdAt:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: Creation time as an ISO-8601 timestamp when available.
                            text:
                              type:
                              - string
                              - 'null'
                              description: Plain-text body when available (HTML stripped). Null for deleted/tombstone nodes.
                            dead:
                              type: boolean
                              description: Whether the comment is marked dead.
                            deleted:
                              type: boolean
                              description: Whether the comment is marked deleted.
                            itemUrl:
                              type: string
                              format: uri
                              description: Canonical news.ycombinator.com item URL.
                          required:
                          - id
                          - parentId
                          - childIds
                          - author
                          - createdAt
                          - text
                          - dead
                          - deleted
                          - itemUrl
                          description: A single comment node in the discussion graph. Deleted/dead nodes keep their position with null content fields.
                        description: Comment nodes returned in this page. Reconstruct the tree using rootCommentIds and each node's childIds.
                      page:
                        type:
                        - object
                        - 'null'
                        properties:
                          hasMore:
                            type: boolean
                            description: Whether another page is available.
                          nextCursor:
                            type:
                            - string
                            - 'null'
                            description: Cursor to pass in the next request when more pages exist; null on the last page.
                        required:
                        - hasMore
                        - nextCursor
                        description: Pagination state when lookupStatus is `found`; null otherwise. `hasMore` is true while more comment nodes remain in the traversal.
                      traversal:
                        type:
                        - object
                        - 'null'
                        properties:
                          returnedNodes:
                            type: integer
                            minimum: 0
                            description: Number of comment nodes returned in this page.
                          discoveredNodes:
                            type: integer
                            minimum: 0
                            description: Total comment nodes discovered so far across this traversal snapshot.
                          snapshotAt:
                            type: string
                            format: date-time
                            description: ISO-8601 timestamp when this traversal snapshot began (first page).
                        required:
                        - returnedNodes
                        - discoveredNodes
                        - snapshotAt
                        description: Traversal telemetry when lookupStatus is `found`; null otherwise. Continuation uses `page`, not this object.
                    required:
                    - lookupStatus
                    - story
                    - rootCommentIds
                    - comments
                    - page
                    - traversal
                    description: Endpoint-specific response payload.
                  meta:
                    type: object
                    properties:
                      requestId:
                        type: string
                        minLength: 1
                        description: Unique request identifier for tracing this API call.
                      creditsCharged:
                        type: integer
                        minimum: 0
                        description: Credits charged for this request.
                      version:
                        type: string
                        enum:
                        - v1
                        description: Public API version that served the response.
                      cached:
                        type: boolean
                        description: True when served from shared response cache. Credits still apply (full endpoint price); Age header may be present.
                    required:
                    - requestId
                    - creditsCharged
                    - version
                    description: Metadata describing the request and billing outcome.
                required:
                - data
                - meta
                description: Standard success response envelope.
              examples:
                found:
                  value:
                    data:
                      lookupStatus: found
                      story:
                        id: 49044400
                        title: Corporate America Has Suddenly Decided to Stop Blowing Money on AI
                        author: Alien1Being
                        commentCount: 2
                        itemUrl: https://news.ycombinator.com/item?id=49044400
                      rootCommentIds:
                      - 49044487
                      - 49044464
                      comments:
                      - id: 49044487
                        parentId: 49044400
                        childIds: []
                        author: k310
                        createdAt: '2026-07-25T04:19:09.000Z'
                        text: 'Syndicated, no hassle, at MSN.

                          https://www.msn.com/en-us/money/general/corporate-america-ha...'
                        dead: false
                        deleted: false
                        itemUrl: https://news.ycombinator.com/item?id=49044487
                      - id: 49044464
                        parentId: 49044400
                        childIds: []
                        author: polski-g
                        createdAt: '2026-07-25T04:15:26.000Z'
                        text: Openrouter shows it's gone from 5T to 70T tokens per week in the past year.
                        dead: false
                        deleted: false
                        itemUrl: https://news.ycombinator.com/item?id=49044464
                      page:
                        hasMore: false
                        nextCursor: null
                      traversal:
                        returnedNodes: 2
                        discoveredNodes: 2
                        snapshotAt: '2026-08-03T17:09:09.041Z'
                    meta:
                      requestId: req_01example_hackernews_comments_found
                      creditsCharged: 3
                      version: v1
                partial:
                  value:
                    data:
                      lookupStatus: found
                      story:
                        id: 49044400
                        title: Corporate America Has Suddenly Decided to Stop Blowing Money on AI
                        author: Alien1Being
                        commentCount: 2
                        itemUrl: https://news.ycombinator.com/item?id=49044400
                      rootCommentIds:
                      - 49044487
                      - 49044464
                      comments:
                      - id: 49044487
                        parentId: 49044400
                        childIds: []
                        author: k310
                        createdAt: '2026-07-25T04:19:09.000Z'
                        text: 'Syndicated, no hassle, at MSN.

                          https://www.msn.com/en-us/money/general/corporate-america-ha...'
                        dead: false
                        deleted: false
                        itemUrl: https://news.ycombinator.com/item?id=49044487
                      page:
                        hasMore: true
                        nextCursor: hnc_01examplePlaygroundCursorToken01
                      traversal:
                        returnedNodes: 1
                        discoveredNodes: 2
                        snapshotAt: '2026-08-03T17:09:09.042Z'
                    meta:
                      requestId: req_01example_hackernews_comments_partial
                      creditsCharged: 3
                      version: v1
                not_found:
                  value:
                    data:
                      lookupStatus: not_found
                      story: null
                      rootCommentIds: []
                      comments: []
                      page: null
                      traversal: null
                    meta:
                      requestId: req_01example_hackernews_comments_nf
                      creditsCharged: 3
                      version: v1
                not_story:
                  value:
                    data:
                      lookupStatus: not_story
                      story: null
                      rootCommentIds: []
                      comments: []
                      page: null
                      traversal: null
                    meta:
                      requestId: req_01example_hackernews_comments_ns
                      creditsCharged: 3
                      version: v1
        '400':
          description: Invalid story id, limit, or expired continuation cursor
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - bad_request
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: bad_request
                  message: Example message.
                  requestId: req_01example
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: unauthorized
                  message: Example message.
                  requestId: req_01example
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - insufficient_credits
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: insufficient_credits
                  message: Example message.
                  requestId: req_01example
        '500':
          description: Unexpected or billing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - internal_error
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: internal_error
                  message: Example message.
                  requestId: req_01example
        '502':
          description: Lookup could not be completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - lookup_failed
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: lookup_failed
                  message: Example message.
                  requestId: req_01example
        '503':
          description: Service temporarily unavailable; safe to retry with backoff.
          headers:
            Retry-After:
              description: Seconds to wait before retrying. Present on capacity, deadline, circuit-open, and safe transport outages (bounded 1–120).
              schema:
                type: integer
                minimum: 1
                maximum: 120
                example: 1
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - temporarily_unavailable
                        description: Machine-readable error code for the failed request.
                      message:
                        type: string
                        description: Human-readable error message. May change over time; do not parse it. Use `error.code` and the HTTP status for programmatic handling.
                      requestId:
                        type: string
                        description: Unique request identifier for tracing the failed API call.
                      checkoutUrl:
                        type: string
                        format: uri
                        description: Optional one-click checkout URL when credits are exhausted and a conversion offer is available.
                    required:
                    - code
                    - message
                    - requestId
                    description: Error details for the failed request.
                required:
                - error
                description: Standard error response envelope.
              example:
                error:
                  code: temporarily_unavailable
                  message: Example message.
                  requestId: req_01example
      operationId: getV1HackernewsStoriesByIdComments
      x-operation-id-source: derived
  /v1/hackernews/items/{id}:
    get:
      tags:
      - Hacker News
      summary: Get a Hacker News item
      description: Get a Hacker News item by id.
      security:
      - ApiKeyAuth: []
      - {}
      x-socialfetch-pricing:
        version: 1
        baseCredits: 1
        surcharges: []
        maxCredits: 1
[...]
